Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

docs: add TypeScript declaration configuration requirements (#823) (#838)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
Due: none

docs(content): add ESLint configuration requirements (#824)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
Due: none

docs(content): add ESLint configuration requirements (#824) (#839)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
Due: none

docs(content): add NodeNext module resolution requirement for content packs (#825)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
Due: none

docs(content): add NodeNext module resolution requirement for content packs (#825) (#840)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
Due: none

feat(content): add comprehensive test game content pack (#841)
  content/compiled/index.json
  packages/content-test-game/content/compiled/@idle-engine/test-game.normalized.json
  packages/content-test-game/content/event-types.json
  packages/content-test-game/content/events/test-game-milestone-reached.schema.json
  packages/content-test-game/content/events/test-game-mission-complete.schema.json
  packages/content-test-game/content/events/test-game-prestige-ready.schema.json
  packages/content-test-game/content/pack.json
  packages/content-test-game/eslint.config.js
  packages/content-test-game/package.json
  packages/content-test-game/src/generated/@idle-engine/test-game.generated.ts
  packages/content-test-game/src/index.ts
  packages/content-test-game/src/test-game-content.test.ts
  packages/content-test-game/tsconfig.json
  packages/content-test-game/vitest.config.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(test-game): add playable shell test game (#841)
  content/compiled/index.json
  docs/issue-841-design.md
  package.json
  packages/content-test-game/README.md
  packages/content-test-game/content/compiled/@idle-engine/test-game-pack.normalized.json
  packages/content-test-game/content/event-types.json
  packages/content-test-game/content/events/test-game-milestone-reached.schema.json
  packages/content-test-game/content/events/test-game-mission-complete.schema.json
  packages/content-test-game/content/events/test-game-prestige-ready.schema.json
  packages/content-test-game/content/pack.json
  packages/content-test-game/eslint.config.js
  packages/content-test-game/package.json
  packages/content-test-game/src/event-schema-version.guard.test.ts
  packages/content-test-game/src/generated/@idle-engine/test-game-pack.generated.ts
  packages/content-test-game/src/index.ts
  packages/content-test-game/src/test-game-pack-coverage.test.ts
  packages/content-test-game/src/test-game-runtime-events.test.ts
  packages/content-test-game/tsconfig.json
  packages/content-test-game/vitest.config.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/shell-desktop/package.json
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/styles.css
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
  packages/shell-desktop/tsconfig.test.json
  pnpm-lock.yaml
  tools/scripts/play-test-game.mjs
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

test(shell-desktop): cover sim-worker save/hydrate + test-game boot
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build

fix(core): include entity defaults in generator formula context (#841)
  packages/core/src/progression/generator-manager.ts
Due: lint, typecheck, build, test-core

test: improve coverage for test-game runtime
  docs/coverage/index.md
  packages/core/src/progression/generator-manager.test.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build, test-core

fix(ci): unblock typecheck and docs build
  docs/issue-841-design.md
  packages/core/src/progression/generator-manager.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build, test-core

fix(ci): resolve content-compiler runtime during typecheck
  packages/shell-desktop/tsconfig.test.json
Due: lint, typecheck, build

fix(ci): satisfy SonarCloud quality gate
  packages/shell-desktop/src/sim/sim-runtime.ts
  tools/scripts/play-test-game.mjs
Due: lint, typecheck, build

chore(repo): enforce LF for scripts
  .gitattributes
Due: none

chore(scripts): make workspace runners cross-platform
  package.json
  tools/scripts/run-workspace.mjs
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(shell-desktop): add runtime bitmap font generation for text rendering
  packages/shell-desktop/src/renderer/font-atlas-generator.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/renderer/shell-assets.ts
  packages/shell-desktop/src/renderer/shell-manifest.ts
Due: lint, typecheck, build

fix(renderer-webgpu): add RENDER_ATTACHMENT usage for atlas texture
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(renderer-webgpu): use ArrayBuffer for instance data writeBuffer
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

improved scripts for windows
  tools/scripts/play-test-game.mjs
  tools/scripts/run-workspace.mjs
Due: lint, build

build(tools): add cross-platform workspace runner (#844)
  .gitattributes
  .github/workflows/ci.yml
  docs/issue-844-design.md
  package.json
  tools/scripts/run-workspace-benchmark.sh
  tools/scripts/run-workspace-build.sh
  tools/scripts/run-workspace-coverage.sh
  tools/scripts/run-workspace-lint.sh
  tools/scripts/run-workspace-script.mjs
  tools/scripts/run-workspace-test-ci.sh
  tools/scripts/run-workspace-test.sh
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(tools): default test:ci concurrency when empty
  tools/scripts/run-workspace-script.mjs
Due: lint, build

test(content-validation-cli): add coverage edge cases
  docs/coverage/index.md
  tools/content-schema-cli/src/compile-pipeline.test.ts
  tools/content-schema-cli/src/compile-utils.test.ts
  tools/content-schema-cli/src/compile.run.test.ts
  tools/content-schema-cli/src/compile.unit.test.ts
  tools/content-schema-cli/src/content-compiler.default-spawn.test.ts
  tools/content-schema-cli/src/content-compiler.test.ts
  tools/content-schema-cli/src/generate.edge.test.ts
Due: lint, typecheck, build, generate, test-content

fix(tools): spawn pnpm on Windows
  tools/scripts/run-workspace-script.mjs
Due: lint, build

build: make workspace runners cross-platform (#855)
  .gitattributes
  .github/workflows/ci.yml
  docs/coverage/index.md
  docs/issue-844-design.md
  package.json
  tools/content-schema-cli/src/compile-pipeline.test.ts
  tools/content-schema-cli/src/compile-utils.test.ts
  tools/content-schema-cli/src/compile.run.test.ts
  tools/content-schema-cli/src/compile.unit.test.ts
  tools/content-schema-cli/src/content-compiler.default-spawn.test.ts
  tools/content-schema-cli/src/content-compiler.test.ts
  tools/content-schema-cli/src/generate.edge.test.ts
  tools/scripts/run-workspace-benchmark.sh
  tools/scripts/run-workspace-build.sh
  tools/scripts/run-workspace-coverage.sh
  tools/scripts/run-workspace-lint.sh
  tools/scripts/run-workspace-script.mjs
  tools/scripts/run-workspace-test-ci.sh
  tools/scripts/run-workspace-test.sh
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

test: improve font pipeline coverage
  docs/coverage/index.md
  packages/content-compiler/src/artifacts/fonts.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
Due: lint, typecheck, build, generate, test-content

chore: address sonar issues
  packages/content-compiler/src/artifacts/fonts.ts
  packages/content-compiler/src/fs/writer.ts
  packages/content-schema/src/modules/fonts.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build, generate, test-content

fix: avoid Array.at in content-schema
  packages/content-schema/src/modules/fonts.ts
Due: lint, typecheck, build, generate, test-content

test: fix content id typing
  packages/content-compiler/src/artifacts/fonts.test.ts
Due: lint, typecheck, build, generate, test-content

chore: fix remaining sonar issues
  packages/content-compiler/src/fs/writer.ts
  packages/content-schema/src/modules/fonts.ts
Due: lint, typecheck, build, generate, test-content

fix(renderer-webgpu): account for msdf pxRange
  docs/coverage/index.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(shell-desktop): harden asset loading
  docs/coverage/index.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

fix(content-compiler): support v1 packs and bump format
  content/compiled/index.json
  docs/content-compiler-design.md
  docs/coverage/index.md
  packages/content-compiler/src/__tests__/compiler.test.ts
  packages/content-compiler/src/runtime.ts
  packages/content-compiler/src/types.ts
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
Due: lint, typecheck, build, generate, test-content

chore(renderer-webgpu): use optional chaining
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build
