Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}

fix: rerun restore after bridge restart
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): guard restore retries and reuse a11y servers
  README.md
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): stabilize ShellStateProvider restore mocking
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(a11y-smoke-tests): rebuild shell-web preview when dist missing in CI
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
Due: lint, build, test-shell-a11y

fix(a11y-smoke-tests): bind servers to loopback
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

fix(a11y-smoke-tests): wire Vite host/port via env
  packages/shell-web/vite.config.ts
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

changed playwright config
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

update config
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

fix(a11y-smoke-tests): ensure preview servers bind requested port
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

chore(a11y): run playwright via start-server-and-test
  pnpm-lock.yaml
  tools/a11y-smoke-tests/package.json
  tools/a11y-smoke-tests/playwright.config.ts
  tools/a11y-smoke-tests/scripts/run-playwright.cjs
Due: lint, typecheck, build, test-shell-a11y

docs(a11y): describe start-server-based playwright flow
  docs/accessibility-smoke-tests-design.md
Due: none

fix(a11y-smoke-tests): reuse servers and honor project filters
  tools/a11y-smoke-tests/scripts/run-playwright.cjs
Due: lint, build, test-shell-a11y

chore(a11y): clarify smoke test workflow
  README.md
  docs/accessibility-smoke-tests-design.md
  docs/contributor-handbook.md
  tools/a11y-smoke-tests/package.json
  tools/a11y-smoke-tests/playwright.config.ts
  tools/a11y-smoke-tests/playwright.global-setup.ts
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
  tools/a11y-smoke-tests/scripts/run-playwright.cjs
Due: lint, typecheck, build, test-shell-a11y

fix: guard ShellStateProvider restore loop (#378)
  README.md
  docs/accessibility-smoke-tests-design.md
  docs/contributor-handbook.md
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/vite.config.ts
  pnpm-lock.yaml
  tools/a11y-smoke-tests/package.json
  tools/a11y-smoke-tests/playwright.config.ts
  tools/a11y-smoke-tests/playwright.global-setup.ts
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
  tools/a11y-smoke-tests/scripts/run-playwright.cjs
  tools/a11y-smoke-tests/tests/shell-state-provider-restore.spec.ts
Due: lint, typecheck, build, test-shell-a11y

chore(eslint): forbid importing local runtime-worker-protocol in shell-web; require @idle-engine/runtime-bridge-contracts\n\nci(lint): run workspace lint; no violations found
  eslint.config.mjs
Due: lint

fix(runtime-bridge-contracts): resolve typecheck by adding tsconfig.test and using it for typecheck\n\nchore(pre-commit): add Lefthook task to run runtime-bridge-contracts tests
  lefthook.yml
  packages/runtime-bridge-contracts/package.json
  packages/runtime-bridge-contracts/tsconfig.test.json
Due: lint, build

docs(shell-web): finalize worker bridge contract; extract schema package (Fixes #379) (#384)
  docs/assets/diagrams/runtime-react-worker-bridge.mmd
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  docs/shell-state-provider-design.md
  docs/worker-bridge-extension-tutorial.md
  eslint.config.mjs
  lefthook.yml
  packages/runtime-bridge-contracts/README.md
  packages/runtime-bridge-contracts/package.json
  packages/runtime-bridge-contracts/src/index.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.test.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/runtime-bridge-contracts/tsconfig.json
  packages/runtime-bridge-contracts/tsconfig.test.json
  packages/shell-web/package.json
  packages/shell-web/src/__tests__/automation-state-migration-integration.test.ts
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/__tests__/runtime-worker-automation-toggle.test.ts
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  packages/shell-web/tsconfig.json
  packages/shell-web/vite.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-shell-a11y

test(core): ensure no diagnostics entries for zero/negative deltaMs Fixes #380
  packages/core/src/index.test.ts
Due: lint, typecheck, build, test-core

test(core): ensure no diagnostics entries for zero/negative deltaMs Fixes #380 (#385)
  packages/core/src/index.test.ts
Due: lint, typecheck, build, test-core

feat(shell-web): finalize session autosave/restore loop with docs and integration tests
  docs/runtime-react-worker-bridge-design.md
  packages/shell-web/src/modules/autosave-controller.test.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): import Vitest Mock type to fix typecheck
  packages/shell-web/src/modules/autosave-controller.test.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): complete session autosave/restore loop with integration tests (Fixes #381) (#386)
  docs/runtime-react-worker-bridge-design.md
  packages/shell-web/src/modules/autosave-controller.test.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(content-schema,content-sample,docs): enforce formula safety and add progression golden snapshot (Fixes #382)
  docs/content-dsl-usage-guidelines.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/content-schema/src/modules/__tests__/generator-upgrade-formulas.property.test.ts
Due: lint, typecheck, build, generate, test-content

test(content-sample): decode file URL before loading golden fixture
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
Due: lint, typecheck, build, generate, test-content

test: enforce DSL formulas and progression snapshot determinism (Fixes #382) (#387)
  docs/content-dsl-usage-guidelines.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/content-schema/src/modules/__tests__/generator-upgrade-formulas.property.test.ts
Due: lint, typecheck, build, generate, test-content

feat(shell-web,core,tools): diagnostics overlay + headless runtime sim helpers and CLI. Fixes #383
  README.md
  docs/runtime-react-worker-bridge-design.md
  package.json
  packages/core/src/diagnostics/format.ts
  packages/core/src/index.ts
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/DiagnosticsPanel.test.tsx
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
  tools/runtime-sim/index.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(shell-web): remove unknown react-hooks disable comment to satisfy ESLint flat config
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): avoid diagnostics resubscribe on every update
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): deliver latest throttled diagnostics snapshot
  docs/coverage/index.md
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
Due: lint, typecheck, build, test-shell-a11y

feat: diagnostics overlay in shell + headless runtime sim CLI (Fixes #383) (#388)
  README.md
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  package.json
  packages/core/src/diagnostics/format.ts
  packages/core/src/index.ts
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/DiagnosticsPanel.test.tsx
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
  tools/runtime-sim/index.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(shell-web): reconcile diagnostics subscribers post-commit and avoid cleanup dispatch (Fixes #389)
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

test(a11y): add diagnostics toggle console-error smoke
  tools/a11y-smoke-tests/tests/diagnostics-toggle.spec.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): assert no state updates during diagnostics unsubscribe cleanup
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
Due: lint, typecheck, build, test-shell-a11y

docs: document diagnostics cleanup deferral and add a11y diagnostics toggle smoke case (Fixes #389)
  docs/accessibility-smoke-tests-design.md
  docs/shell-state-provider-design.md
  docs/shell-state-provider-guide.md
Due: none

feat(shell-web): stabilize DiagnosticsPanel subscribe effect by isolating dependency; guard bridge-ready; update tests
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  tools/a11y-smoke-tests/tests/shell-state-provider-restore.spec.ts
Due: lint, typecheck, build, test-shell-a11y
