Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

feat(core): extract progression coordinator and condition evaluator from shell-web (#468)
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/condition-evaluator.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/env-utils.ts
  packages/core/src/events/runtime-event.ts
  packages/core/src/index.ts
  packages/core/src/production-system.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(cosmic-bakery): scaffold content pack package
  packages/cosmic-bakery-content/package.json
  packages/cosmic-bakery-content/src/index.ts
  packages/cosmic-bakery-content/tsconfig.json
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(cosmic-bakery): scaffold React app with Tailwind
  apps/cosmic-bakery/dist/assets/index-ByPhA1kj.js
  apps/cosmic-bakery/dist/assets/index-CVKTwAzi.css
  apps/cosmic-bakery/dist/index.html
  apps/cosmic-bakery/index.html
  apps/cosmic-bakery/package.json
  apps/cosmic-bakery/postcss.config.js
  apps/cosmic-bakery/src/App.tsx
  apps/cosmic-bakery/src/index.css
  apps/cosmic-bakery/src/main.tsx
  apps/cosmic-bakery/src/vite-env.d.ts
  apps/cosmic-bakery/tailwind.config.js
  apps/cosmic-bakery/tsconfig.json
  apps/cosmic-bakery/vite.config.ts
  pnpm-workspace.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(cosmic-bakery): add complete game content (resources, generators, upgrades, achievements, automations, prestige)
  packages/cosmic-bakery-content/src/index.ts
Due: lint, typecheck, build

feat(cosmic-bakery): add game engine hook and UI components
  apps/cosmic-bakery/dist/assets/index-ByPhA1kj.js
  apps/cosmic-bakery/dist/assets/index-CVKTwAzi.css
  apps/cosmic-bakery/dist/assets/index-Cj7CRl2O.js
  apps/cosmic-bakery/dist/assets/index-DTnRH3JC.css
  apps/cosmic-bakery/dist/index.html
  apps/cosmic-bakery/src/App.tsx
  apps/cosmic-bakery/src/components/GeneratorPanel.tsx
  apps/cosmic-bakery/src/components/ResourcePanel.tsx
  apps/cosmic-bakery/src/hooks/useGameEngine.ts
Due: lint, typecheck

feat(cosmic-bakery): add UI panels for upgrades, achievements, and prestige
  apps/cosmic-bakery/dist/assets/index-BIw7sZT3.js
  apps/cosmic-bakery/dist/assets/index-CU2uEwnd.css
  apps/cosmic-bakery/dist/assets/index-Cj7CRl2O.js
  apps/cosmic-bakery/dist/assets/index-DTnRH3JC.css
  apps/cosmic-bakery/dist/index.html
  apps/cosmic-bakery/src/App.tsx
  apps/cosmic-bakery/src/components/AchievementPanel.tsx
  apps/cosmic-bakery/src/components/PrestigePanel.tsx
  apps/cosmic-bakery/src/components/UpgradePanel.tsx
  apps/cosmic-bakery/src/hooks/useGameEngine.ts
Due: lint, typecheck

feat(cosmic-bakery): add settings panel, icons, and polished UI with tabs
  apps/cosmic-bakery/dist/assets/index-BIw7sZT3.js
  apps/cosmic-bakery/dist/assets/index-BTkAFaPr.js
  apps/cosmic-bakery/dist/assets/index-CU2uEwnd.css
  apps/cosmic-bakery/dist/assets/index-TgnHWMvi.css
  apps/cosmic-bakery/dist/index.html
  apps/cosmic-bakery/src/App.tsx
  apps/cosmic-bakery/src/components/SettingsPanel.tsx
  apps/cosmic-bakery/src/components/icons.tsx
Due: lint, typecheck

fix(core): use conditional exports to exclude prom-client from browser builds
  packages/core/package.json
  packages/core/src/index.browser.ts
  packages/core/src/prometheus.ts
  packages/shell-web/tsconfig.json
  packages/shell-web/vite.config.ts
Due: lint, typecheck, build, test-core, test-shell-a11y, validate-runtime-version, validate-generated-version

fix(core): use conditional exports to exclude prom-client from browser builds (#475)
  packages/core/package.json
  packages/core/src/index.browser.ts
  packages/core/src/prometheus.ts
  packages/shell-web/tsconfig.json
  packages/shell-web/vite.config.ts
Due: lint, typecheck, build, test-core, test-shell-a11y, validate-runtime-version, validate-generated-version

feat(content-schema): auto-generate prestige count resources for prestige layers
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, generate, test-core, test-content

fix(content-schema): validate prestige count resource at content pack parse time
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema): validate prestige count resource at content pack parse time (#477)
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

feat(core): implement TOGGLE_GENERATOR (Fixes #478)
  docs/coverage/index.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/production-system.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

test(shell-web): include enabled flag in generator stub
  packages/shell-web/src/modules/shell-state-store.test.ts
Due: lint, typecheck, build, test-shell-a11y

feat(core): implement TOGGLE_GENERATOR (#484)
  docs/coverage/index.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/production-system.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(core): apply modifyGeneratorRate upgrade effects
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

Fix off by 1
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(core): stack repeatable generator rate effects
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

feat(core): apply modifyGeneratorRate upgrade effects (#485)
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(core): optional production rate tracking
  docs/resource-state-storage-design.md
  docs/runtime-command-queue-design.md
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
  packages/core/src/progression.ts
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(core): clear netPerSecond on reset
  docs/coverage/index.md
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(core): republish zero per-second rates
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(core): prevent trackRates double-counting
  docs/coverage/index.md
  docs/resource-state-storage-design.md
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(core): queue trackRates using shadow balances
  docs/coverage/index.md
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(core): optional production rate tracking (#488)
  docs/coverage/index.md
  docs/resource-state-storage-design.md
  docs/runtime-command-queue-design.md
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
  packages/core/src/progression.ts
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(core): evaluate resource conditions
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(a11y): retry Playwright install without deps
  tools/a11y-smoke-tests/scripts/install-playwright.cjs
Due: lint, build, test-shell-a11y

fix(core): evaluate resource conditions (#489)
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  tools/a11y-smoke-tests/scripts/install-playwright.cjs
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): expose generator/upgrade entities in formula contexts\n\nFixes #482
  docs/coverage/index.md
  packages/core/src/condition-evaluator.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(core): correct bulk generator cost quotes
  docs/coverage/index.md
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(core): expose generator/upgrade formula entities (#490)
  docs/coverage/index.md
  packages/core/src/condition-evaluator.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

feat(core): save/load + offline catch-up helpers
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
  packages/core/src/progression-coordinator-save.test.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

feat(core): save/load + offline catch-up helpers (#491)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
  packages/core/src/progression-coordinator-save.test.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(core): honor repeatable effectCurve
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(core): honor repeatable effectCurve (#494)
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
