Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

fix(shell-desktop): require init validation values >= 1 (T4)
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

feat(shell-desktop): centralize sim-worker protocol types (#862)
  docs/issue-849-design.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/src/sim/worker-protocol.ts
Due: lint, typecheck, build

chore(design): checkpoint issue #850 design doc (design_classify)
  docs/issue-850-design.md
Due: none

chore(design): checkpoint issue #850 design doc (design_workflow)
  docs/issue-850-design.md
Due: none

chore(design): checkpoint issue #850 design doc (design_api)
  docs/issue-850-design.md
Due: none

chore(design): checkpoint issue #850 design doc (design_data)
  docs/issue-850-design.md
Due: none

chore(design): checkpoint issue #850 design doc (design_plan)
  docs/issue-850-design.md
Due: none

chore(design): checkpoint issue #850 design doc (design_edit)
  docs/issue-850-design.md
Due: none

feat(core): add INPUT_EVENT runtime command type (T1)
  packages/core/src/command.test.ts
  packages/core/src/command.ts
  packages/core/src/index.browser.ts
  packages/core/src/input-event.ts
Due: lint, typecheck, build, test-core

feat(shell-desktop): add IPC channel + preload API for typed input events (T2)
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
Due: lint, typecheck, build

feat(shell-desktop): send typed input events from renderer (T3)
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

feat(shell-desktop): validate + enqueue INPUT_EVENT in main (T4)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

feat(shell-desktop): consume INPUT_EVENT for demo UI (T5)
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

chore: regenerate coverage after INPUT_EVENT implementation (T6)
  docs/coverage/index.md
Due: none

feat(shell-desktop): stop pointer/wheel passthrough control events (T7)
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

docs(shell-desktop): fix ShellControlEvent passthrough documentation (T8)
  packages/shell-desktop/src/ipc.ts
Due: lint, typecheck, build

feat(shell-desktop): complete IPC validation per design (T9)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

test(core): add input-event type contract tests (T10)
  packages/core/src/input-event.test.ts
Due: lint, typecheck, build, test-core

test(shell-desktop): add schemaVersion mismatch test for INPUT_EVENT (T11)
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build

test(shell-desktop): add schemaVersion mismatch throw assertion for INPUT_EVENT (T11)
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build

test(shell-desktop): verify INPUT_EVENT handler throws on schemaVersion mismatch (T11)
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build

feat(shell-desktop): drop input/control events before worker ready (T12)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

feat(shell-desktop): emit sim-status starting/running transitions (T13)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

feat(shell-desktop): make INPUT_EVENT schemaVersion mismatch fatal in worker (T14)
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat(shell-desktop): treat control-event mapping exceptions as fatal (T15)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

feat(shell-desktop): ignore worker messages after dispose/crash (T16)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

chore(shell-desktop): dedupe core imports
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat: First-class input events for desktop shell controls (#863)
  docs/coverage/index.md
  docs/issue-850-design.md
  packages/core/src/command.test.ts
  packages/core/src/command.ts
  packages/core/src/index.browser.ts
  packages/core/src/input-event.test.ts
  packages/core/src/input-event.ts
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core

chore(design): checkpoint issue #854 design doc (design_classify)
  docs/issue-854-design.md
Due: none

chore(design): checkpoint issue #854 design doc (design_research)
  docs/issue-854-design.md
Due: none

chore(design): checkpoint issue #854 design doc (design_workflow)
  docs/issue-854-design.md
Due: none

chore(design): checkpoint issue #854 design doc (design_api)
  docs/issue-854-design.md
Due: none

chore(design): checkpoint issue #854 design doc (design_data)
  docs/issue-854-design.md
Due: none

chore(design): checkpoint issue #854 design doc (design_plan)
  docs/issue-854-design.md
Due: none
