Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

docs: add issue 846 design doc (#846)
  docs/issue-846-design.md
Due: none

feat(renderer-webgpu): centralize texture usage for external copies (#846)
  docs/coverage/index.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/renderer-webgpu/src/webgpu-texture-usage.test.ts
Due: lint, typecheck, build

test(renderer-webgpu): assert atlas texture usage flags (#846)
  docs/coverage/index.md
  packages/renderer-webgpu/src/webgpu-renderer.atlas-usage.test.ts
Due: lint, typecheck, build

docs(renderer-webgpu): document copyExternalImageToTexture backend variance (#846)
  docs/coverage/index.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.docs.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(renderer-webgpu): centralize texture usage for external copies (#858)
  docs/coverage/index.md
  docs/issue-846-design.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.atlas-usage.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.docs.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/renderer-webgpu/src/webgpu-texture-usage.test.ts
Due: lint, typecheck, build

docs: add issue 848 design doc (#848)
  docs/issue-848-design.md
Due: none

feat(core): add @idle-engine/core/harness entrypoint (#848)
  packages/core/package.json
  packages/core/src/harness-entrypoint.test.ts
  packages/core/src/harness.browser.ts
  packages/core/src/harness.ts
Due: lint, typecheck, build, test-core, validate-runtime-version, validate-generated-version

refactor(shell-desktop): migrate runtime harness imports (#848)
  packages/shell-desktop/src/runtime-harness.test.ts
  packages/shell-desktop/src/runtime-harness.ts
Due: lint, typecheck, build

test(core): add harness export smoke coverage (#848)
  docs/coverage/index.md
  packages/core/src/harness-entrypoint.test.ts
  packages/core/tsconfig.test.json
Due: lint, typecheck, build, test-core

docs(core): document harness entrypoint (#848)
  docs/coverage/index.md
  packages/core/README.md
  packages/core/src/harness-readme.test.ts
Due: lint, typecheck, build, test-core

test(core): cover harness entrypoints
  docs/coverage/index.md
  packages/core/src/harness.test.ts
Due: lint, typecheck, build, test-core

fix(shell-desktop): map core harness path
  packages/shell-desktop/tsconfig.test.json
Due: lint, typecheck, build

feat(core): add @idle-engine/core/harness entrypoint (#859)
  docs/coverage/index.md
  docs/issue-848-design.md
  packages/core/README.md
  packages/core/package.json
  packages/core/src/harness-entrypoint.test.ts
  packages/core/src/harness-readme.test.ts
  packages/core/src/harness.browser.ts
  packages/core/src/harness.test.ts
  packages/core/src/harness.ts
  packages/core/tsconfig.test.json
  packages/shell-desktop/src/runtime-harness.test.ts
  packages/shell-desktop/src/runtime-harness.ts
  packages/shell-desktop/tsconfig.test.json
Due: lint, typecheck, build, test-core, validate-runtime-version, validate-generated-version

feat(shell-desktop): add embedded MCP server scaffold (#857)
  docs/issue-857-design.md
  packages/shell-desktop/package.json
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(shell-desktop): harden MCP server handling (#857)
  docs/coverage/index.md
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
Due: lint, typecheck, build

feat(shell-desktop): implement sim MCP tools (#857)
  docs/coverage/index.md
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  packages/shell-desktop/src/mcp/sim-tools.test.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
Due: lint, typecheck, build

fix(shell-desktop): validate sim/enqueue priority (#857)
  docs/coverage/index.md
  packages/shell-desktop/src/mcp/sim-tools.test.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
Due: lint, typecheck, build

feat(shell-desktop): implement window and input MCP tools (#857)
  docs/coverage/index.md
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/input-tools.test.ts
  packages/shell-desktop/src/mcp/input-tools.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  packages/shell-desktop/src/mcp/window-tools.test.ts
  packages/shell-desktop/src/mcp/window-tools.ts
Due: lint, typecheck, build

feat(shell-desktop): implement asset/* MCP tools (#857)
  docs/coverage/index.md
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/asset-tools.test.ts
  packages/shell-desktop/src/mcp/asset-tools.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
Due: lint, typecheck, build

fix(shell-desktop): harden asset MCP tools (#857)
  docs/coverage/index.md
  packages/shell-desktop/src/mcp/asset-tools.test.ts
  packages/shell-desktop/src/mcp/asset-tools.ts
Due: lint, typecheck, build

test(shell-desktop): assert asset/read maxBytes guard (#857)
  docs/coverage/index.md
  packages/shell-desktop/src/mcp/asset-tools.test.ts
Due: lint, typecheck, build

docs(shell-desktop): document MCP setup + workflows (#857)
  docs/issue-857-design.md
  docs/shell-desktop-mcp.md
  packages/docs/package.json
  packages/docs/scripts/test-docs.mjs
  packages/docs/sidebars.ts
Due: lint, typecheck, build

fix(shell-desktop): resolve SonarCloud issues
  docs/coverage/index.md
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/asset-tools.ts
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
Due: lint, typecheck, build

chore(jeeves): record sonar clean
  jeeves/issue.json
  jeeves/progress.txt
  jeeves/sonar-issues.json
Due: lint

chore(jeeves): record sonar clean pass
  jeeves/progress.txt
Due: none

chore(jeeves): confirm sonar clean
  jeeves/progress.txt
Due: none

chore(jeeves): recheck sonar clean
  jeeves/progress.txt
Due: none

chore(jeeves): record sonar clean recheck
  jeeves/progress.txt
Due: none

chore(jeeves): record sonar recheck
  jeeves/progress.txt
Due: none

feat(config-vitest): scaffold package (#2)
  packages/config-vitest/package.json
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts

feat(config-vitest): scaffold package and fix dependencies (#2)
  packages/config-vitest/index.js
  packages/config-vitest/package.json
  pnpm-lock.yaml
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(config-vitest): correct mergeConfig usage and dependency definition #2
  packages/config-vitest/test/index.spec.js
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts

chore(design): checkpoint issue #849 design doc (design_draft)
  docs/issue-849-design.md
Due: none

chore(design): checkpoint issue #849 design doc (design_edit)
  docs/issue-849-design.md
Due: none

feat(shell-desktop): add shared sim-worker protocol module (T1)
  packages/shell-desktop/src/sim/worker-protocol.ts
Due: lint, typecheck, build

feat(shell-desktop): migrate main/worker to shared protocol (T2)
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

test(shell-desktop): update tests for shared protocol and init validation (T3)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/sim-worker.test.ts
Due: lint, typecheck, build

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
