Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

test(core): cover initialLevel prestige resets
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

feat(content-schema): add generator initialLevel (#618)
  content/compiled/index.json
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/factories.test.ts
  packages/content-schema/src/modules/__tests__/generators.test.ts
  packages/content-schema/src/modules/generators.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/shell-web/src/modules/test-helpers.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

fix(core): default visibility follows unlock (Fixes #603)
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/progression-coordinator-design.md
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): default visibility follows unlock (Fixes #603) (#633)
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/progression-coordinator-design.md
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): add canAfford to progression views (Fixes #604)
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(core): add currentAmount to cost views
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(core): add canAfford to progression views (#634)
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

fix(core): enable default rate tracking (Fixes #605)
  docs/coverage/index.md
  docs/runtime-wiring-helper-design-issue-525.md
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(core): enable default rate tracking (Fixes #605) (#635)
  docs/coverage/index.md
  docs/runtime-wiring-helper-design-issue-525.md
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

feat(core): align view naming (Fixes #606)
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  docs/prestige-system-completion-design.md
  docs/runtime-transform-system-design-issue-523.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression-selectors.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/transform-system.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/GeneratorPanel.tsx
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/UpgradeModal.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(core): align view naming (Fixes #606) (#636)
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  docs/prestige-system-completion-design.md
  docs/runtime-transform-system-design-issue-523.md
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression-selectors.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/transform-system.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/GeneratorPanel.tsx
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/UpgradeModal.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(content-schema): allow net-loss transform cycles
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

test(content-schema): add cycle boundary and edge case tests
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema): improve cycle validation UX and test coverage
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

test(content-schema): add edge case tests for cycle validation
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

feat(content-schema): allow net-loss transform cycles (#637)
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

feat(core): add perSecond ResourceView rate Fixes #611
  .gitignore
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  docs/resource-state-storage-design.md
  docs/runtime-wiring-helper-design-issue-525.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): add perSecond ResourceView rate Fixes #611 (#638)
  .gitignore
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/coverage/index.md
  docs/resource-state-storage-design.md
  docs/runtime-wiring-helper-design-issue-525.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(content-schema): normalize cooldown formulas (Fixes #609)
  content/compiled/index.json
  docs/automation-authoring-guide.md
  docs/automation-execution-system-design.md
  docs/automation-system-api.md
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/modules/__tests__/automations.test.ts
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/automations.ts
  packages/content-schema/src/modules/transforms.ts
  packages/content-schema/src/pack.ts
  packages/core/src/__tests__/automation-system.property.test.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/command-queue-persistence.test.ts
  packages/core/src/progression.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(core): add updateCooldown formula evaluation tests
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

feat(content-schema): normalize cooldown formulas (#639)
  content/compiled/index.json
  docs/automation-authoring-guide.md
  docs/automation-execution-system-design.md
  docs/automation-system-api.md
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/modules/__tests__/automations.test.ts
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/automations.ts
  packages/content-schema/src/modules/transforms.ts
  packages/content-schema/src/pack.ts
  packages/core/src/__tests__/automation-system.property.test.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/command-queue-persistence.test.ts
  packages/core/src/progression.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

refactor(content-schema): split pack validation modules
  docs/content-compiler-design.md
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines-design.md
  docs/content-dsl-usage-guidelines.md
  docs/content-schema-rollout-decisions.md
  docs/coverage/index.md
  docs/runtime-transform-system-design-issue-523.md
  packages/content-schema/src/pack.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/pack/normalize.ts
  packages/content-schema/src/pack/schema.ts
  packages/content-schema/src/pack/types.ts
  packages/content-schema/src/pack/utils.ts
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/content-schema/src/pack/validate-cycles.ts
  packages/content-schema/src/pack/validate-dependencies.ts
Due: lint, typecheck, build, generate, test-content, docs-content-dsl-guidelines

docs: remove dead issue link
  docs/content-dsl-usage-guidelines-design.md
Due: docs-content-dsl-guidelines

refactor(content-schema): split pack validation modules (#641)
  docs/content-compiler-design.md
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines-design.md
  docs/content-dsl-usage-guidelines.md
  docs/content-schema-rollout-decisions.md
  docs/coverage/index.md
  docs/runtime-transform-system-design-issue-523.md
  packages/content-schema/src/pack.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/pack/normalize.ts
  packages/content-schema/src/pack/schema.ts
  packages/content-schema/src/pack/types.ts
  packages/content-schema/src/pack/utils.ts
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/content-schema/src/pack/validate-cycles.ts
  packages/content-schema/src/pack/validate-dependencies.ts
Due: lint, typecheck, build, generate, test-content, docs-content-dsl-guidelines

fix(content-schema): infer flag gating for unlock ordering (Fixes #533)
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/balance.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema): infer flag gating for unlock ordering (Fixes #533) (#642)
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/balance.ts
Due: lint, typecheck, build, generate, test-content

docs(core): update state sync design status
  docs/state-synchronization-protocol-design.md
Due: none

docs(core): update state sync design status (#643)
  docs/state-synchronization-protocol-design.md
Due: none

docs: clarify generator cost formula
  docs/content-dsl-usage-guidelines.md
Due: none

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
