Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

chore(shell-desktop): avoid length-based last element access
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

chore(shell-desktop): prefer Array.at for last frame
  packages/shell-desktop/src/array-at.d.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/tsconfig.test.json
Due: lint, typecheck, build

feat(shell-desktop): coalesce sim frames over IPC (#830)
  docs/coverage/index.md
  docs/issue-808-design.md
  packages/shell-desktop/src/array-at.d.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/tsconfig.test.json
Due: lint, typecheck, build

feat(core): add schema compatibility gate (#157)
  .github/workflows/ci.yml
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/issue-157-design.md
  packages/core/package.json
  packages/core/src/__tests__/schema-compat.test.ts
  packages/core/src/version.test.ts
  packages/core/src/version.ts
Due: lint, typecheck, build, test-core, validate-runtime-version, validate-generated-version

test(core): add edge-case coverage for runtime helpers
  docs/coverage/index.md
  packages/core/src/immutable-snapshots.test.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/progression/progression-utils.test.ts
  packages/core/src/read-only-proxy.test.ts
  packages/core/src/version.test.ts
Due: lint, typecheck, build, test-core

fix(core): build content-schema for schema-compat
  packages/core/package.json
Due: lint, build, test-core, validate-runtime-version, validate-generated-version

chore(renderer-contract): sync dist
  packages/renderer-contract/dist/hashing.d.ts.map
  packages/renderer-contract/dist/hashing.js
  packages/renderer-contract/dist/hashing.js.map
Due: lint, build

CI schema compatibility checks for runtime releases (#831)
  .github/workflows/ci.yml
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/issue-157-design.md
  packages/core/package.json
  packages/core/src/__tests__/schema-compat.test.ts
  packages/core/src/immutable-snapshots.test.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/progression/progression-utils.test.ts
  packages/core/src/read-only-proxy.test.ts
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  packages/renderer-contract/dist/hashing.d.ts.map
  packages/renderer-contract/dist/hashing.js
  packages/renderer-contract/dist/hashing.js.map
Due: lint, typecheck, build, test-core, validate-runtime-version, validate-generated-version

feat(shell-desktop): bundle renderer deps (#810)
  docs/issue-810-design.md
  packages/shell-desktop/README.md
  packages/shell-desktop/package.json
  packages/shell-desktop/src/renderer/bundle.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  pnpm-lock.yaml
  tools/scripts/bundle-renderer.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(tools): add esbuild dependency for bundle script
  package.json
  pnpm-lock.yaml
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

refactor(shell-desktop): reuse bundle script in tests
  packages/shell-desktop/src/renderer/bundle.test.ts
  tools/scripts/bundle-renderer.mjs
Due: lint, typecheck, build

refactor(tools): de-duplicate bundle renderer CLI
  tools/scripts/bundle-renderer.mjs
Due: lint, build

test(shell-desktop): cover renderer fallback branches
  docs/coverage/index.md
  packages/shell-desktop/src/renderer/index.test.ts
Due: lint, typecheck, build

fix(tools): resolve esbuild from package root
  tools/scripts/bundle-renderer.mjs
Due: lint, build

shell-desktop: bundle renderer deps (#832)
  docs/coverage/index.md
  docs/issue-810-design.md
  package.json
  packages/shell-desktop/README.md
  packages/shell-desktop/package.json
  packages/shell-desktop/src/renderer/bundle.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  pnpm-lock.yaml
  tools/scripts/bundle-renderer.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(renderer-webgpu): prevent atlas UV bleeding (#812)
  docs/coverage/index.md
  docs/issue-812-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

test(renderer-webgpu): cover edge-case branches
  docs/coverage/index.md
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
Due: lint, typecheck, build

fix(renderer-webgpu): preserve edge texel coverage
  docs/coverage/index.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

renderer-webgpu: prevent atlas UV bleeding (#833)
  docs/coverage/index.md
  docs/issue-812-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(renderer-webgpu): validate schema versions and cap inputs (#813)
  docs/coverage/index.md
  docs/issue-813-design.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

test(renderer-webgpu): reject invalid limit options
  docs/coverage/index.md
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
Due: lint, typecheck, build

renderer-webgpu: validate schema versions and cap untrusted inputs (#834)
  docs/coverage/index.md
  docs/issue-813-design.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(renderer-contract): include camera in RCB (#814)
  docs/coverage/index.md
  docs/issue-814-design.md
  packages/core/src/replay/visual-replay.test.ts
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/dist/types.js
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/render-compiler.test.ts
  packages/renderer-contract/src/render-compiler.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-debug/src/index.test.ts
  packages/renderer-debug/src/rcb-stepper.test.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core

test(renderer-debug): cover render validation edge cases
  docs/coverage/index.md
  packages/renderer-debug/src/canvas2d-renderer.test.ts
Due: lint, typecheck, build

refactor(renderer): reduce cognitive complexity
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

chore(dist): rebuild renderer outputs
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
Due: lint, build

Include camera state in RenderCommandBuffer (#835)
  docs/coverage/index.md
  docs/issue-814-design.md
  packages/core/src/replay/visual-replay.test.ts
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/dist/types.js
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/render-compiler.test.ts
  packages/renderer-contract/src/render-compiler.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-debug/src/index.test.ts
  packages/renderer-debug/src/rcb-stepper.test.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core

feat(achievements): add generator-count track kind (#821)
  docs/content-schema-reference.md
  docs/issue-821-design.md
  packages/content-schema/src/balance.ts
  packages/content-schema/src/modules/__tests__/achievements.test.ts
  packages/content-schema/src/modules/achievements.ts
  packages/content-schema/src/pack/validate-cross-references.test.ts
  packages/content-schema/src/pack/validators/achievements.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.achievement-track-types.test.ts
  packages/core/src/progression/achievement-tracker.ts
  packages/core/src/progression/progression-facade.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(core,content-schema): cover achievement edge cases
  docs/coverage/index.md
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/modules/__tests__/achievements.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.achievement-track-types.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat: add generator-count achievement track kind (#836)
  docs/content-schema-reference.md
  docs/coverage/index.md
  docs/issue-821-design.md
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/modules/__tests__/achievements.test.ts
  packages/content-schema/src/modules/achievements.ts
  packages/content-schema/src/pack/validate-cross-references.test.ts
  packages/content-schema/src/pack/validators/achievements.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.achievement-track-types.test.ts
  packages/core/src/progression/achievement-tracker.ts
  packages/core/src/progression/progression-facade.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(content-schema): add JSDoc documentation to targetType enum (#822)
  packages/content-schema/src/__tests__/docs-schema-ref.test.ts
  packages/content-schema/src/modules/automations.ts
Due: lint, typecheck, build, generate, test-content

feat(content-schema): add JSDoc documentation to targetType enum (#822) (#837)
  packages/content-schema/src/__tests__/docs-schema-ref.test.ts
  packages/content-schema/src/modules/automations.ts
Due: lint, typecheck, build, generate, test-content

docs: add TypeScript declaration configuration requirements (#823)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
Due: none

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
