Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

fix(shell-desktop): make lint globs portable
  packages/content-compiler/package.json
  packages/content-sample/package.json
  packages/content-schema/package.json
  packages/controls/package.json
  packages/core/package.json
  packages/renderer-contract/package.json
  packages/renderer-debug/package.json
  packages/renderer-webgpu/package.json
  packages/shell-desktop/package.json
Due: lint, build, generate, test-core, test-content, validate-runtime-version, validate-generated-version

fix(shell-desktop): make lint globs portable (#901)
  packages/content-compiler/package.json
  packages/content-sample/package.json
  packages/content-schema/package.json
  packages/controls/package.json
  packages/core/package.json
  packages/renderer-contract/package.json
  packages/renderer-debug/package.json
  packages/renderer-webgpu/package.json
  packages/shell-desktop/package.json
Due: lint, build, generate, test-core, test-content, validate-runtime-version, validate-generated-version

feat(renderer-contract): add semantic action regions
  packages/renderer-contract/dist/action-regions.d.ts
  packages/renderer-contract/dist/action-regions.d.ts.map
  packages/renderer-contract/dist/action-regions.js
  packages/renderer-contract/dist/action-regions.js.map
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/index.js
  packages/renderer-contract/dist/index.js.map
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/src/action-regions.test.ts
  packages/renderer-contract/src/action-regions.ts
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/render-compiler.test.ts
  packages/renderer-contract/src/render-compiler.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

fix(renderer-contract): align action region ordering with draws
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/src/render-compiler.test.ts
  packages/renderer-contract/src/render-compiler.ts
Due: lint, typecheck, build

fix(renderer-contract): inline action region type
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/types.ts
Due: lint, typecheck, build

feat(renderer-contract): add semantic action regions (#902)
  packages/renderer-contract/dist/action-regions.d.ts
  packages/renderer-contract/dist/action-regions.d.ts.map
  packages/renderer-contract/dist/action-regions.js
  packages/renderer-contract/dist/action-regions.js.map
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/index.js
  packages/renderer-contract/dist/index.js.map
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/src/action-regions.test.ts
  packages/renderer-contract/src/action-regions.ts
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/render-compiler.test.ts
  packages/renderer-contract/src/render-compiler.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

test(shell-desktop): handle symlink permission gaps
  packages/shell-desktop/src/mcp/asset-tools.test.ts
Due: lint, typecheck, build

test(shell-desktop): handle symlink permission gaps (#903)
  packages/shell-desktop/src/mcp/asset-tools.test.ts
Due: lint, typecheck, build

chore(repo): stabilize generated dist status checks
  .gitattributes
  .github/workflows/ci.yml
  tools/scripts/verify-dist-sync.mjs
Due: lint, build

fix(scripts): address sonar findings in dist verifier
  tools/scripts/verify-dist-sync.mjs
Due: lint, build

fix(scripts): use raw Windows path literals
  tools/scripts/verify-dist-sync.mjs
Due: lint, build

fix(build): emit TypeScript artifacts with LF newlines
  tsconfig.base.json
Due: lint, typecheck, build

fix(build): refresh dist index metadata before verification
  tools/scripts/verify-dist-sync.mjs
Due: lint, build

chore(repo): stabilize generated dist status checks (#904)
  .gitattributes
  .github/workflows/ci.yml
  tools/scripts/verify-dist-sync.mjs
  tsconfig.base.json
Due: lint, typecheck, build

fix(renderer-webgpu): preserve flushed quad instance ranges
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/styles.css
Due: lint, typecheck, build

fix(renderer-webgpu): preserve flushed quad instance ranges (#905)
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/styles.css
Due: lint, typecheck, build

docs: add agent-first workflow design
  docs/agent-first-workflow-design.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs: add agent-first workflow design (#907)
  docs/agent-first-workflow-design.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs(agent): add canonical agent map
  AGENTS.md
  docs/agent-map.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs(agent): fix perf report context path
  docs/agent-map.md
Due: none

docs(agent): clarify shell mcp launcher prerequisite
  docs/agent-map.md
Due: none

docs(agent): add canonical agent map (#921)
  AGENTS.md
  docs/agent-map.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs(agent): refresh AGENTS.md router
  AGENTS.md
Due: none

docs(agent): align AGENTS.md with harness guidance
  AGENTS.md
Due: none

docs(agent): refresh AGENTS.md router (#922)
  AGENTS.md
Due: none

fix(shell-desktop): block ingress during offline catch-up
  packages/core/src/game.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
  packages/shell-desktop/src/sim/worker-protocol.ts
Due: lint, typecheck, build, test-core

Fix offline catch-up ingress barrier
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

Fix paused offline catch-up tick race
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

Fix offline catch-up ingress barriers
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

Fix startup offline catch-up ingress
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

fix(shell-desktop): block ingress for fractional catch-up backlog
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

Fix offline catch-up drain ownership
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
  packages/shell-desktop/src/sim/worker-protocol.ts
Due: lint, typecheck, build

fix(shell): defer future offline catch-up barriers
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

Fix hydrated offline catch-up barriers
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
  packages/shell-desktop/src/sim/worker-protocol.ts
Due: lint, typecheck, build

Fix offline catch-up barrier enforcement
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

Fix in-flight offline catch-up ingress
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

Fix offline catch-up barrier ordering
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/internals.browser.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core
