Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

docs: add entity content module design (issue 587) (#736)
  docs/entity-content-module-design-issue-587.md
Due: none

feat(content-schema): add entity module (Fixes #587)
  content/compiled/index.json
  docs/coverage/index.md
  packages/content-compiler/src/__tests__/compiler.test.ts
  packages/content-compiler/src/artifacts/json.ts
  packages/content-compiler/src/artifacts/module.ts
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-compiler/src/digest.ts
  packages/content-compiler/src/runtime.ts
  packages/content-compiler/src/types.ts
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/__tests__/normalization-snapshots.test.ts
  packages/content-schema/src/__tests__/types.test.ts
  packages/content-schema/src/factories.test.ts
  packages/content-schema/src/factories.ts
  packages/content-schema/src/index.ts
  packages/content-schema/src/modules/__tests__/entities.test.ts
  packages/content-schema/src/modules/entities.ts
  packages/content-schema/src/pack/cache.test.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/pack/normalize.ts
  packages/content-schema/src/pack/schema.ts
  packages/content-schema/src/pack/types.ts
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/content-schema/src/runtime-helpers.test.ts
  packages/content-schema/src/runtime-helpers.ts
  packages/core/src/content-test-helpers.ts
Due: lint, typecheck, build, generate, test-core, test-content

docs(content-schema): document entity module (Fixes #587)
  docs/content-dsl-schema-design.md
  docs/content-quick-reference.md
Due: none

docs(content-schema): note entity gate follow-up
  docs/content-dsl-schema-design.md
Due: none

test(content-schema): cover entity validation edges
  docs/coverage/index.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/modules/__tests__/entities.test.ts
Due: lint, typecheck, build, generate, test-content

additional fixes
  docs/coverage/index.md
  packages/content-compiler/src/artifacts/module.ts
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/modules/entities.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema): streamline cross-reference checks
  docs/coverage/index.md
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/pack/validate-cross-references.test.ts
  packages/content-schema/src/pack/validate-cross-references.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema): dedupe integration fixtures
  packages/content-schema/src/__fixtures__/integration-packs.ts
Due: lint, typecheck, build, generate, test-content

chore(content-schema): reduce fixture duplication
  packages/content-schema/src/__fixtures__/integration-packs.ts
Due: lint, typecheck, build, generate, test-content

feat(content-schema): add entity module (Fixes #587) (#737)
  content/compiled/index.json
  docs/content-dsl-schema-design.md
  docs/content-quick-reference.md
  docs/coverage/index.md
  packages/content-compiler/src/__tests__/compiler.test.ts
  packages/content-compiler/src/artifacts/json.ts
  packages/content-compiler/src/artifacts/module.ts
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-compiler/src/digest.ts
  packages/content-compiler/src/runtime.ts
  packages/content-compiler/src/types.ts
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/__tests__/normalization-snapshots.test.ts
  packages/content-schema/src/__tests__/types.test.ts
  packages/content-schema/src/factories.test.ts
  packages/content-schema/src/factories.ts
  packages/content-schema/src/index.ts
  packages/content-schema/src/modules/__tests__/entities.test.ts
  packages/content-schema/src/modules/entities.ts
  packages/content-schema/src/pack/cache.test.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/pack/normalize.ts
  packages/content-schema/src/pack/schema.ts
  packages/content-schema/src/pack/types.ts
  packages/content-schema/src/pack/validate-cross-references.test.ts
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/content-schema/src/runtime-helpers.test.ts
  packages/content-schema/src/runtime-helpers.ts
  packages/core/src/content-test-helpers.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(core): add entity system runtime integration
  docs/coverage/index.md
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/command.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/entity-command-handlers.test.ts
  packages/core/src/entity-command-handlers.ts
  packages/core/src/entity-system.test.ts
  packages/core/src/entity-system.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/prediction-manager.test.ts
  packages/core/src/state-sync/restore-runtime.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/types.ts
Due: lint, typecheck, build, test-core

fix(core): compare entity instance lists
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
Due: lint, typecheck, build, test-core

refactor(core): reduce duplication and add state-sync coverage
  docs/coverage/index.md
  packages/core/src/entity-command-handlers.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/restore.test.ts
Due: lint, typecheck, build, test-core

test(core): raise progression and restore coverage
  docs/coverage/index.md
  packages/core/src/entity-command-handlers.test.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/progression.test.ts
  packages/core/src/state-sync/restore.test.ts
Due: lint, typecheck, build, test-core

test(core): expand entity coverage
  docs/coverage/index.md
  packages/core/src/entity-command-handlers.test.ts
  packages/core/src/entity-system.test.ts
  packages/core/src/game-state-save.test.ts
Due: lint, typecheck, build, test-core

refactor(core): centralize command validation
  docs/coverage/index.md
  packages/core/src/automation-command-handlers.ts
  packages/core/src/command-validation.ts
  packages/core/src/entity-command-handlers.test.ts
  packages/core/src/entity-command-handlers.ts
  packages/core/src/entity-system.test.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/resource-command-handlers.ts
  packages/core/src/transform-command-handlers.ts
Due: lint, typecheck, build, test-core

refactor(core): address sonarcloud issues
  packages/core/src/content-test-helpers.ts
  packages/core/src/entity-system.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

feat(core): add entity system runtime integration (#739)
  docs/coverage/index.md
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/automation-command-handlers.ts
  packages/core/src/command-validation.ts
  packages/core/src/command.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/entity-command-handlers.test.ts
  packages/core/src/entity-command-handlers.ts
  packages/core/src/entity-system.test.ts
  packages/core/src/entity-system.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/prediction-manager.test.ts
  packages/core/src/state-sync/restore-runtime.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/types.ts
  packages/core/src/transform-command-handlers.ts
Due: lint, typecheck, build, test-core

feat(content-schema): add mission transform mode
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/transforms.ts
  packages/content-schema/src/pack/validate-cross-references.test.ts
  packages/content-schema/src/pack/validate-cross-references.ts
Due: lint, typecheck, build, generate, test-content

fix(core): reject mission transforms
  docs/coverage/index.md
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

test(content-schema): improve mission coverage and extend cli timeout
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/pack/validate-cross-references.test.ts
  tools/content-schema-cli/src/compile.test.ts
Due: lint, typecheck, build, generate, test-content

fix: resolve SonarCloud bug issues
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-schema/src/modules/runtime-events.ts
  packages/content-schema/src/pack/validate-cycles.ts
  packages/core/src/events/event-broadcast.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.ts
  tools/perf-report/lib.ts
  tools/scripts/run-fast-tests.mjs
  tools/scripts/run-workspace-benchmarks.mjs
Due: lint, typecheck, build, generate, test-core, test-content

chore: address sonar quick wins
  packages/content-schema/src/balance.ts
  packages/content-schema/src/pack/types.ts
  packages/content-schema/src/pack/validate-cycles.ts
  packages/core/src/automation-system.ts
  packages/core/src/command-queue.ts
  packages/core/src/events/event-broadcast.ts
  packages/core/src/game-state-save.ts
  packages/core/src/immutable-snapshots.ts
  packages/core/src/offline-resource-deltas.ts
  packages/core/src/progression.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.ts
  packages/docs/remark-lint-no-angle-brackets.mjs
  tools/content-schema-cli/src/content-compiler.ts
  tools/perf-report/index.ts
  tools/perf-report/lib.ts
  tools/scripts/run-workspace-benchmark.sh
  tools/scripts/run-workspace-benchmarks.mjs
Due: lint, typecheck, build, generate, test-core, test-content

chore: address remaining sonar non-bug issues
  packages/content-schema/src/modules/transforms.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/core/src/command-dispatcher.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/transform-system.ts
  packages/docs/remark-lint-no-angle-brackets.mjs
  tools/economy-verification/src/index.ts
  tools/runtime-sim/index.ts
Due: lint, typecheck, build, generate, test-core, test-content

chore: clear remaining sonar smells
  packages/content-schema/src/modules/transforms.ts
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/core/src/transform-system.ts
  packages/docs/remark-lint-no-angle-brackets.mjs
  tools/economy-verification/src/index.ts
  tools/runtime-sim/index.ts
Due: lint, typecheck, build, generate, test-core, test-content

chore(content-schema): refactor cross-reference validation
  packages/content-schema/src/pack/validate-cross-references.ts
Due: lint, typecheck, build, generate, test-content

fix(core): keep checksum ordering locale-independent
  packages/core/src/events/event-broadcast.ts
  packages/core/src/state-sync/checksum.ts
Due: lint, typecheck, build, test-core

feat(content-schema): add mission transform mode (#740)
  docs/coverage/index.md
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/runtime-events.ts
  packages/content-schema/src/modules/transforms.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack/types.ts
  packages/content-schema/src/pack/validate-cross-references.test.ts
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/content-schema/src/pack/validate-cycles.ts
  packages/core/src/automation-system.ts
  packages/core/src/command-dispatcher.ts
  packages/core/src/command-queue.ts
  packages/core/src/events/event-broadcast.ts
  packages/core/src/game-state-save.ts
  packages/core/src/immutable-snapshots.ts
  packages/core/src/offline-resource-deltas.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
  packages/docs/remark-lint-no-angle-brackets.mjs
  tools/content-schema-cli/src/compile.test.ts
  tools/content-schema-cli/src/content-compiler.ts
  tools/economy-verification/src/index.ts
  tools/perf-report/index.ts
  tools/perf-report/lib.ts
  tools/runtime-sim/index.ts
  tools/scripts/run-fast-tests.mjs
  tools/scripts/run-workspace-benchmark.sh
  tools/scripts/run-workspace-benchmarks.mjs
Due: lint, typecheck, build, generate, test-core, test-content

feat(core): implement PRD mission support
  docs/coverage/index.md
  packages/content-schema/src/base/formulas.property.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/index.browser.ts
  packages/core/src/rng-prd.test.ts
  packages/core/src/rng.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore-runtime.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/types.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
  tools/content-schema-cli/src/compile.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(core): expand mission PRD coverage
  docs/coverage/index.md
  packages/core/src/game-state-save.test.ts
  packages/core/src/rng-prd.test.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/transform-system.test.ts
Due: lint, typecheck, build, test-core

fix(core): skip mission XP for missing entities
  docs/coverage/index.md
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

refactor(core): address SonarCloud code smells
  packages/core/src/game-state-save.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

refactor(core): reduce cognitive complexity
  packages/core/src/game-state-save.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

docs: add PRD design doc (issue 590)
  docs/rng-prd-design-issue-590.md
Due: none

fix(core): handle PRD constants for tiny probabilities
  packages/core/src/rng-prd.test.ts
  packages/core/src/rng.ts
Due: lint, typecheck, build, test-core

fix(core): make PRD snapshots explicit
  docs/coverage/index.md
  docs/rng-prd-design-issue-590.md
  docs/runtime-client-prediction-rollback-design-issue-546.md
  docs/state-synchronization-protocol-design.md
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/rng-prd.test.ts
  packages/core/src/rng.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/prediction-manager.test.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/types.ts
Due: lint, typecheck, build, test-core
