Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

chore(sonar): refactor complexity hotspots
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-schema/src/base/formulas.ts
  packages/controls/src/index.ts
  packages/core/src/automation-system.ts
  packages/core/src/command-queue.ts
  packages/core/src/command-recorder.ts
  packages/core/src/condition-evaluator.ts
  packages/core/src/devtools/diagnostics.ts
  packages/core/src/events/event-bus.ts
  packages/core/src/game-state-save.ts
  packages/core/src/offline-progress.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/resource-state.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/transform-system.ts
  packages/core/src/upgrade-effects.ts
Due: lint, typecheck, build, generate, test-core, test-content

chore(controls): sync dist artifacts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js.map
Due: build

fix(runtime-sim): avoid PATH-based git exec
  tools/runtime-sim/src/index.ts
Due: lint, typecheck, build

refactor: address SonarCloud PR issues
  packages/core/src/automation-system.ts
  packages/core/src/command-queue.ts
  packages/core/src/command-recorder.ts
  packages/core/src/devtools/diagnostics.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/rng.ts
  packages/core/src/transform-system.ts
  tools/runtime-sim/src/index.ts
  tools/scripts/assert-json-tail.mjs
Due: lint, typecheck, build, test-core

refactor(runtime-sim): remove argv index assignment
  tools/runtime-sim/src/index.ts
Due: lint, typecheck, build

test: improve coverage for core and content-validation-cli
  docs/coverage/index.md
  packages/core/src/diagnostics/format.test.ts
  packages/core/src/index.test.ts
  tools/content-schema-cli/src/compile-pipeline.test.ts
  tools/content-schema-cli/src/compile-pipeline.ts
  tools/content-schema-cli/src/compile.ts
  tools/content-schema-cli/src/compile.unit.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(core): cover automation resource costs
  packages/core/src/__tests__/automation-system.property.test.ts
Due: lint, typecheck, build, test-core

test(core): cover automation resource costs (#758)
  packages/core/src/__tests__/automation-system.property.test.ts
Due: lint, typecheck, build, test-core

test(core): split automation and transform test suites
  docs/automation-system-api.md
  docs/rng-prd-design-issue-590.md
  docs/testing-guidelines.md
  packages/core/src/__tests__/automation-system/command-enqueueing.test.ts
  packages/core/src/__tests__/automation-system/resource-cost.test.ts
  packages/core/src/__tests__/automation-system/state-management.test.ts
  packages/core/src/__tests__/automation-system/trigger-evaluation.test.ts
  packages/core/src/__tests__/helpers/event-fixtures.ts
  packages/core/src/__tests__/helpers/formula-fixtures.ts
  packages/core/src/__tests__/helpers/transform-fixtures.ts
  packages/core/src/__tests__/transform-system/batch-mode.test.ts
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/__tests__/transform-system/instant-transforms.test.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/__tests__/transform-system/trigger-paths.test.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/transform-system.test.ts
Due: lint, typecheck, build, test-core

docs: refresh coverage report
  docs/coverage/index.md
Due: none

test(core): tighten split-suite assertions
  packages/core/src/__tests__/automation-system/command-enqueueing.test.ts
  packages/core/src/__tests__/automation-system/state-management.test.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
Due: lint, typecheck, build, test-core

test(core): split automation and transform test suites (#759)
  docs/automation-system-api.md
  docs/coverage/index.md
  docs/rng-prd-design-issue-590.md
  docs/testing-guidelines.md
  packages/core/src/__tests__/automation-system/command-enqueueing.test.ts
  packages/core/src/__tests__/automation-system/resource-cost.test.ts
  packages/core/src/__tests__/automation-system/state-management.test.ts
  packages/core/src/__tests__/automation-system/trigger-evaluation.test.ts
  packages/core/src/__tests__/helpers/event-fixtures.ts
  packages/core/src/__tests__/helpers/formula-fixtures.ts
  packages/core/src/__tests__/helpers/transform-fixtures.ts
  packages/core/src/__tests__/transform-system/batch-mode.test.ts
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/__tests__/transform-system/instant-transforms.test.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/__tests__/transform-system/trigger-paths.test.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/transform-system.test.ts
Due: lint, typecheck, build, test-core

refactor(core): externalize runtime tuning config (Fixes #751)
  docs/coverage/index.md
  docs/idle-engine-design.md
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/command-queue.ts
  packages/core/src/condition-evaluator.ts
  packages/core/src/config.ts
  packages/core/src/events/event-bus.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/internals.browser.ts
  packages/core/src/progression/progression-coordinator-types.ts
  packages/core/src/progression/progression-facade.ts
  packages/core/src/progression/resource-manager.ts
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

fix(core): validate EngineConfig precision overrides
  docs/coverage/index.md
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/config.test.ts
  packages/core/src/config.ts
  packages/core/src/resource-state.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

refactor(core): externalize runtime tuning config (#760)
  docs/coverage/index.md
  docs/idle-engine-design.md
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/command-queue.ts
  packages/core/src/condition-evaluator.ts
  packages/core/src/config.test.ts
  packages/core/src/config.ts
  packages/core/src/events/event-bus.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/internals.browser.ts
  packages/core/src/progression/progression-coordinator-types.ts
  packages/core/src/progression/progression-facade.ts
  packages/core/src/progression/resource-manager.ts
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

docs(content): document prestige count resource naming (Fixes #607)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
  packages/content-schema/src/factories.ts
Due: lint, typecheck, build, generate, test-content

docs(content): document prestige count resource naming (Fixes #607) (#761)
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
  packages/content-schema/src/factories.ts
Due: lint, typecheck, build, generate, test-content

feat(mission): add multi-stage mission support (Fixes #592)
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/transforms.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/command.test.ts
  packages/core/src/command.ts
  packages/core/src/events/runtime-event-base-metadata.json
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/transform-command-handlers.test.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(mission): enforce option availability on timeout
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/transforms.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(mission): add tests for checkpoint XP and stage outcome overrides
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/transform-command-handlers.test.ts
Due: lint, typecheck, build, test-core

test(mission): add tests for modifier compounding and checkpoint scaling
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
Due: lint, typecheck, build, test-core

feat(mission): add multi-stage mission support with comprehensive tests (#592)
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/transforms.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/command.test.ts
  packages/core/src/command.ts
  packages/core/src/events/runtime-event-base-metadata.json
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/transform-command-handlers.test.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(core): clear mission checkpoint between stages
  docs/coverage/index.md
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

feat: Comprehensive multi-stage mission testing (#763)
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/transforms.test.ts
  packages/content-schema/src/modules/transforms.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/command.test.ts
  packages/core/src/command.ts
  packages/core/src/events/runtime-event-base-metadata.json
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/transform-command-handlers.test.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

refactor(core): standardize validation primitives and string semantics
  docs/coverage/index.md
  docs/validation-primitives-design-issue-764.md
  packages/core/src/command-validation.ts
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/validation/primitives.test.ts
  packages/core/src/validation/primitives.ts
Due: lint, typecheck, build, test-core

refactor(core): clarify non-blank runtime event errors
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/events/runtime-event-catalog.ts
Due: lint, typecheck, build, test-core

tech-debt(core): standardize validation primitives and string semantics (#765)
  docs/coverage/index.md
  docs/validation-primitives-design-issue-764.md
  packages/core/src/command-validation.ts
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/validation/primitives.test.ts
  packages/core/src/validation/primitives.ts
Due: lint, typecheck, build, test-core

docs: align design docs with implementation
  .markdownlint.jsonc
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
  docs/idle-engine-design.md
  package.json
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

docs: align design docs with implementation (#767)
  .markdownlint.jsonc
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
  docs/idle-engine-design.md
  package.json
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

refactor(core): reuse shared predicates in parse/normalize
  docs/coverage/index.md
  packages/core/src/command-transport-server.ts
  packages/core/src/entity-system.ts
  packages/core/src/internals.browser.ts
  packages/core/src/offline-progress-limits.ts
  packages/core/src/progression-coordinator-save.test.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

test(core): improve predicate refactor coverage
  docs/coverage/index.md
  packages/core/src/command-transport-server.test.ts
  packages/core/src/internals.browser.test.ts
  packages/core/src/progression-coordinator-save.test.ts
Due: lint, typecheck, build, test-core

test(core): cover save and transport edge cases
  docs/coverage/index.md
  packages/core/src/command-transport-server.test.ts
  packages/core/src/entity-system.test.ts
  packages/core/src/progression-coordinator-save.test.ts
Due: lint, typecheck, build, test-core
