Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

fix(shell-web): reconcile diagnostics enable/disable on subscribe/unsubscribe
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): keep diagnostics context in sync and resubscribe diagnostics panel; add tests; regen coverage
  docs/coverage/index.md
  packages/shell-web/src/modules/DiagnosticsPanel.test.tsx
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): coalesce diagnostics toggling in reconcile to avoid duplicate disable under coverage
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): avoid diagnostics cleanup dispatch; reconcile post-commit (Fixes #389) (#390)
  docs/accessibility-smoke-tests-design.md
  docs/coverage/index.md
  docs/shell-state-provider-design.md
  docs/shell-state-provider-guide.md
  packages/shell-web/src/modules/DiagnosticsPanel.test.tsx
  packages/shell-web/src/modules/DiagnosticsPanel.tsx
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  tools/a11y-smoke-tests/tests/diagnostics-toggle.spec.ts
  tools/a11y-smoke-tests/tests/shell-state-provider-restore.spec.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): enable progression UI by default; add a11y smoke tests; update docs (Fixes #391)
  docs/build-resource-generator-upgrade-ui-components-design.md
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/progression-config.ts
  tools/a11y-smoke-tests/tests/diagnostics-toggle.spec.ts
  tools/a11y-smoke-tests/tests/generators-panel.a11y.spec.ts
  tools/a11y-smoke-tests/tests/resources-dashboard.a11y.spec.ts
  tools/a11y-smoke-tests/tests/upgrades-modal.a11y.spec.ts
Due: lint, typecheck, build, test-shell-a11y

test(a11y): stabilize preview runs; gate heavy interactions to dev; relax Axe include when main not yet attached
  tools/a11y-smoke-tests/tests/diagnostics-toggle.spec.ts
  tools/a11y-smoke-tests/tests/generators-panel.a11y.spec.ts
  tools/a11y-smoke-tests/tests/resources-dashboard.a11y.spec.ts
  tools/a11y-smoke-tests/tests/upgrades-modal.a11y.spec.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): wrap async microtasks in React act; switch to React.act; settle provider effects in tests
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
Due: lint, typecheck, build, test-shell-a11y

test(a11y): use valid upgrades dialog selector
  tools/a11y-smoke-tests/tests/upgrades-modal.a11y.spec.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): use react-dom act in telemetry tests
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): enable progression UI by default; add a11y smoke tests (Fixes #391) (#392)
  docs/build-resource-generator-upgrade-ui-components-design.md
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/progression-config.ts
  tools/a11y-smoke-tests/tests/diagnostics-toggle.spec.ts
  tools/a11y-smoke-tests/tests/generators-panel.a11y.spec.ts
  tools/a11y-smoke-tests/tests/resources-dashboard.a11y.spec.ts
  tools/a11y-smoke-tests/tests/upgrades-modal.a11y.spec.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): unblock dev progression UI (Fixes #393)
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.ts
  tools/a11y-smoke-tests/playwright.config.ts
  tools/a11y-smoke-tests/tests/progression-baseline.spec.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): teardown inline worker and debug guard
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/worker-bridge.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): buffer inline worker ready events
  packages/shell-web/src/modules/inline-runtime-worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): lazily load inline runtime worker
  packages/shell-web/src/modules/inline-runtime-worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix test
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): fix runtime worker snapshot timing
  docs/coverage/index.md
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): keep inline inline-runtime workers isolated
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
Due: lint, typecheck, build, test-shell-a11y

shell-web: fix dev progression loading state (Fixes #393) (#395)
  docs/coverage/index.md
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  tools/a11y-smoke-tests/playwright.config.ts
  tools/a11y-smoke-tests/tests/progression-baseline.spec.ts
Due: lint, typecheck, build, test-shell-a11y

docs: add shell state provider readiness design (issue #394)
  docs/shell-state-provider-readiness-design-issue-394.md
Due: none

docs: record shell readiness decisions
  docs/shell-state-provider-readiness-design-issue-394.md
Due: none

docs: clarify shell readiness contract
  docs/shell-state-provider-readiness-design-issue-394.md
Due: none

test(shell-web): replace flushMicrotasks in ShellStateProvider tests (Fixes #394)
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/__tests__/shell-state-ready.ts
Due: lint, typecheck, build, test-shell-a11y

docs(shell-web): update shell readiness design after implementation (Fixes #394)
  docs/shell-state-provider-readiness-design-issue-394.md
Due: none

issue 394 (#396)
  docs/shell-state-provider-readiness-design-issue-394.md
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/__tests__/shell-state-ready.ts
Due: lint, typecheck, build, test-shell-a11y

docs: add global economy ledger design
  docs/global-economy-ledger-design.md
Due: none

docs: link global economy design to issue 397
  docs/global-economy-ledger-design.md
Due: none

docs: refine global economy ledger design
  docs/global-economy-ledger-design.md
Due: none

docs: add global economy ledger design (#398)
  docs/global-economy-ledger-design.md
Due: none

feat(design): formalise global economy stability (Fixes #399)
  docs/global-economy-ledger-design.md
  docs/idle-engine-design.md
Due: none

feat(design): formalise global economy stability (Fixes #399) (#409)
  docs/global-economy-ledger-design.md
  docs/idle-engine-design.md
Due: none

feat(schema): classify hard vs soft currencies (Fixes #400)
  content/compiled/index.json
  docs/content-dsl-schema-design.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/modules/__tests__/resources.test.ts
  packages/content-schema/src/modules/resources.ts
Due: lint, typecheck, build, generate, test-content

feat(schema): classify hard vs soft currencies (Fixes #400) (#410)
  content/compiled/index.json
  docs/content-dsl-schema-design.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/modules/__tests__/resources.test.ts
  packages/content-schema/src/modules/resources.ts
Due: lint, typecheck, build, generate, test-content

feat(social): introduce server-authoritative ledger abstraction (Fixes #401)
  services/social/src/ledger/in-memory-economy-ledger.test.ts
  services/social/src/ledger/in-memory-economy-ledger.ts
  services/social/src/types/economy.ts
Due: lint, typecheck, build, test-core
