Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

feat(social): introduce server-authoritative ledger abstraction (Fixes #401) (#411)
  services/social/src/ledger/in-memory-economy-ledger.test.ts
  services/social/src/ledger/in-memory-economy-ledger.ts
  services/social/src/types/economy.ts
Due: lint, typecheck, build, test-core

feat(social): implement economy routes (/economy)
  pnpm-lock.yaml
  services/social/package.json
  services/social/src/index.ts
  services/social/src/routes/economy.test.ts
  services/social/src/routes/economy.ts
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(social-service): repair economy route build typing
  pnpm-lock.yaml
  services/social/package.json
  services/social/src/routes/economy.ts
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(social): implement economy routes (/economy) (#412)
  pnpm-lock.yaml
  services/social/package.json
  services/social/src/index.ts
  services/social/src/routes/economy.test.ts
  services/social/src/routes/economy.ts
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(social): ledger-backed leaderboards and guilds (Fixes #403)
  services/social/src/index.ts
  services/social/src/routes/economy.ts
  services/social/src/routes/guild.test.ts
  services/social/src/routes/guild.ts
  services/social/src/routes/leaderboard.test.ts
  services/social/src/routes/leaderboard.ts
  services/social/src/stores/in-memory-guild-store.ts
  services/social/src/types/economy.ts
  services/social/src/types/guild.ts
Due: lint, typecheck, build, test-core

feat(social): ledger-backed leaderboards and guilds (Fixes #403) (#413)
  services/social/src/index.ts
  services/social/src/routes/economy.ts
  services/social/src/routes/guild.test.ts
  services/social/src/routes/guild.ts
  services/social/src/routes/leaderboard.test.ts
  services/social/src/routes/leaderboard.ts
  services/social/src/stores/in-memory-guild-store.ts
  services/social/src/types/economy.ts
  services/social/src/types/guild.ts
Due: lint, typecheck, build, test-core

feat(core): add verification runtime helpers Fixes #404
  packages/core/src/index.ts
  packages/core/src/verification-runtime.test.ts
Due: lint, typecheck, build, test-core

feat(core): add verification runtime helpers Fixes #404 (#414)
  packages/core/src/index.ts
  packages/core/src/verification-runtime.test.ts
Due: lint, typecheck, build, test-core

feat(tools): add economy verification cli
  README.md
  package.json
  pnpm-lock.yaml
  tools/economy-verification/README.md
  tools/economy-verification/__fixtures__/definitions.json
  tools/economy-verification/__fixtures__/snapshot.json
  tools/economy-verification/package.json
  tools/economy-verification/src/index.test.ts
  tools/economy-verification/src/index.ts
  tools/economy-verification/tsconfig.json
  tools/economy-verification/vitest.config.ts
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(tools): add economy verification cli (#415)
  README.md
  package.json
  pnpm-lock.yaml
  tools/economy-verification/README.md
  tools/economy-verification/__fixtures__/definitions.json
  tools/economy-verification/__fixtures__/snapshot.json
  tools/economy-verification/package.json
  tools/economy-verification/src/index.test.ts
  tools/economy-verification/src/index.ts
  tools/economy-verification/tsconfig.json
  tools/economy-verification/vitest.config.ts
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(test): add social economy rate limits (Fixes #406)
  services/social/src/routes/economy.test.ts
  services/social/src/routes/economy.ts
Due: lint, typecheck, build, test-core

fix: honor zero guild contribution limit
  services/social/src/routes/economy.test.ts
  services/social/src/routes/economy.ts
Due: lint, typecheck, build, test-core

chore(test): add social economy rate limits (#416)
  services/social/src/routes/economy.test.ts
  services/social/src/routes/economy.ts
Due: lint, typecheck, build, test-core

chore(a11y): add economy preview coverage (Fixes #407)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/EconomyPreviewPanel.module.css
  packages/shell-web/src/modules/EconomyPreviewPanel.tsx
  packages/shell-web/src/modules/economy-preview-config.ts
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
  tools/a11y-smoke-tests/scripts/run-playwright.cjs
  tools/a11y-smoke-tests/tests/economy-preview.a11y.spec.ts
Due: lint, typecheck, build, test-shell-a11y

chore: rebuild preview when economy flag missing
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
Due: lint, build, test-shell-a11y

chore(a11y): add economy preview coverage (Fixes #407) (#417)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/EconomyPreviewPanel.module.css
  packages/shell-web/src/modules/EconomyPreviewPanel.tsx
  packages/shell-web/src/modules/economy-preview-config.ts
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
  tools/a11y-smoke-tests/scripts/run-playwright.cjs
  tools/a11y-smoke-tests/tests/economy-preview.a11y.spec.ts
Due: lint, typecheck, build, test-shell-a11y

chore(docs): document economy model Fixes #408
  docs/idle-engine-design.md
Due: none

chore(docs): document economy model Fixes #408 (#418)
  docs/idle-engine-design.md
Due: none

docs: add sample pack balance design (issue 420)
  docs/sample-pack-balance-validation-design-issue-420.md
Due: none

docs: fix mdx parse error in sample pack design
  docs/sample-pack-balance-validation-design-issue-420.md
Due: none

docs: design for sample pack balance validation (#421)
  docs/sample-pack-balance-validation-design-issue-420.md
Due: none

feat(content-schema): add balance validation (Fixes #422)
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/__tests__/types.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/errors.ts
  packages/content-schema/src/index.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

fix(cli): emit balance validation findings
  docs/content-validation-cli-design.md
  packages/content-compiler/src/types.ts
  packages/content-schema/src/balance.ts
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-content

feat(content-schema): add balance validation (#427)
  docs/content-validation-cli-design.md
  packages/content-compiler/src/types.ts
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/__tests__/types.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/errors.ts
  packages/content-schema/src/index.ts
  packages/content-schema/src/pack.ts
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-content

feat: enforce balance validation in compiler CLI (Fixes #423)
  content/compiled/index.json
  packages/content-compiler/src/__tests__/summary.test.ts
  packages/content-compiler/src/artifacts/summary.ts
  packages/content-compiler/src/compiler/context.ts
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-compiler/src/types.ts
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
  tools/content-schema-cli/src/compile.js
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-content

feat: enforce balance validation in compiler CLI (Fixes #423) (#428)
  content/compiled/index.json
  packages/content-compiler/src/__tests__/summary.test.ts
  packages/content-compiler/src/artifacts/summary.ts
  packages/content-compiler/src/compiler/context.ts
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-compiler/src/types.ts
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
  tools/content-schema-cli/src/compile.js
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-content

feat(content-sample): expand prestige pack (Fixes #424)
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-prestige.test.ts
  packages/content-sample/src/sample-content-upgrades.test.ts
  packages/core/package.json
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, validate-runtime-version, validate-generated-version

feat(content-sample): expand prestige pack (Fixes #424) (#429)
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/__fixtures__/progression.snapshot.golden.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-prestige.test.ts
  packages/content-sample/src/sample-content-upgrades.test.ts
  packages/core/package.json
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, validate-runtime-version, validate-generated-version

docs: refresh sample pack balance guidance (Fixes #426)
  docs/content-dsl-usage-guidelines.md
  packages/content-sample/README.md
Due: generate, test-content

docs: refresh sample pack balance guidance (Fixes #426) (#430)
  docs/content-dsl-usage-guidelines.md
  packages/content-sample/README.md
Due: generate, test-content

docs: add prestige system completion design
  docs/prestige-system-completion-design.md
Due: none

docs: complete prestige system design with resolved questions
  docs/prestige-system-completion-design.md
Due: none

fix(docs): escape MDX-incompatible syntax in prestige design doc
  docs/prestige-system-completion-design.md
Due: none

docs: add prestige system completion design (#432)
  docs/prestige-system-completion-design.md
Due: none

feat(core): change PrestigeResetPayload.layer to layerId
  packages/core/src/command.ts
Due: lint, typecheck, build, test-core

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
