Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

fix(shell-web): clone host telemetry facade
  packages/shell-web/src/modules/shell-analytics.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): hook worker errors into analytics (Fixes #267) (#278)
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  packages/shell-web/src/modules/shell-analytics.test.ts
  packages/shell-web/src/modules/shell-analytics.ts
  packages/shell-web/src/modules/worker-bridge.ts
Due: lint, typecheck, build, test-shell-a11y

docs: add shell state provider design
  docs/shell-state-provider-design.md
Due: none

docs(shell-web): clarify shell state provider design
  docs/shell-state-provider-design.md
Due: none

docs: add shell state provider design (#280)
  docs/shell-state-provider-design.md
Due: none

feat(shell-web): scaffold shell state provider (Fixes #281)
  docs/shell-state-provider-design.md
  packages/shell-web/src/index.ts
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): avoid duplicate restore error
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): scaffold shell state provider (#286)
  docs/shell-state-provider-design.md
  packages/shell-web/src/index.ts
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): migrate shell surfaces to ShellStateProvider
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/EventInspector.tsx
  packages/shell-web/src/modules/SocialDevPanel.tsx
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): migrate shell surfaces to ShellStateProvider (#287)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/EventInspector.tsx
  packages/shell-web/src/modules/SocialDevPanel.tsx
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): extend ShellStateProvider telemetry coverage (Fixes #283)
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): import act from react-dom test utils
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): extend ShellStateProvider telemetry coverage (#288)
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
Due: lint, typecheck, build, test-shell-a11y

docs: resolve shell state provider open questions
  docs/shell-state-provider-design.md
Due: none

fix(shell-web): guard worker bridge debug handle
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): guard worker bridge debug handle (#291)
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
Due: lint, typecheck, build, test-shell-a11y

docs: resolve shell state provider open questions (#289)
  docs/shell-state-provider-design.md
Due: none

docs(shell-web): publish ShellStateProvider integration guide (Fixes #285)
  docs/index.md
  docs/shell-state-provider-design.md
  docs/shell-state-provider-guide.md
Due: none

docs: clarify shell diagnostics subscription pattern
  docs/shell-state-provider-guide.md
Due: none

docs(shell-web): correct social gating reference
  docs/shell-state-provider-guide.md
Due: none

docs: clarify shell restore behaviour
  docs/shell-state-provider-guide.md
Due: none

docs(shell-web): fix state provider import path
  docs/shell-state-provider-guide.md
Due: none

docs: align provider contract with snapshot metadata (Fixes #293)
  docs/shell-state-provider-design.md
Due: none

docs(shell-web): publish ShellStateProvider integration guide (#292)
  docs/index.md
  docs/shell-state-provider-design.md
  docs/shell-state-provider-guide.md
Due: none

docs: add progression ui components design
  docs/build-resource-generator-upgrade-ui-components-design.md
Due: none

docs: clarify progression snapshot sourcing
  docs/build-resource-generator-upgrade-ui-components-design.md
Due: none

docs: refine progression ui design guardrails
  docs/build-resource-generator-upgrade-ui-components-design.md
Due: none

update
  docs/build-resource-generator-upgrade-ui-components-design.md
Due: none

docs: add progression ui components design (#295)
  docs/build-resource-generator-upgrade-ui-components-design.md
Due: none

feat: progression snapshot pipeline (Fixes #296)
  docs/runtime-worker-bridge-runbook.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/command.ts
  packages/core/src/index.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(shell-web): preserve progression reference on restore
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): preserve runtime state reference
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat: progression snapshot pipeline (#301)
  docs/runtime-worker-bridge-runbook.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/command.ts
  packages/core/src/index.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

chore: make linter fail on warnings
  packages/content-compiler/package.json
  packages/content-sample/package.json
  packages/content-schema/package.json
  packages/core/package.json
  packages/docs/scripts/lint-docs.mjs
  packages/shell-web/package.json
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/shell-analytics.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.ts
  services/social/package.json
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

chore: make linter fail on warnings (#305)
  packages/content-compiler/package.json
  packages/content-sample/package.json
  packages/content-schema/package.json
  packages/core/package.json
  packages/docs/scripts/lint-docs.mjs
  packages/shell-web/package.json
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/shell-analytics.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.ts
  services/social/package.json
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(shell-web): hydrate progression snapshot
  packages/content-sample/package.json
  packages/core/src/progression.test.ts
  packages/shell-web/package.json
  packages/shell-web/src/modules/condition-evaluator.test.ts
  packages/shell-web/src/modules/condition-evaluator.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  packages/shell-web/vite.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

docs: document progression coordinator pattern and related implementations
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/content-dsl-schema-design.md
  docs/progression-coordinator-design.md
  docs/resource-state-storage-design.md
  docs/runtime-command-queue-design.md
Due: none

refactor(shell-web): improve condition evaluator docs and test fixtures
  packages/content-sample/README.md
  packages/shell-web/src/modules/condition-evaluator.test.ts
  packages/shell-web/src/modules/condition-evaluator.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/test-helpers.ts
Due: lint, typecheck, build, generate, test-content, test-shell-a11y

test(shell-web): add integration tests for bulk purchase, hydration, and concurrency
  packages/shell-web/src/modules/condition-evaluator.test.ts
  packages/shell-web/src/modules/condition-evaluator.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/vite.config.ts
  packages/shell-web/vitest.config.ts
Due: lint, typecheck, build, test-shell-a11y

feat: hydrate progression snapshot (#303)
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/content-dsl-schema-design.md
  docs/progression-coordinator-design.md
  docs/resource-state-storage-design.md
  docs/runtime-command-queue-design.md
  packages/content-sample/README.md
  packages/content-sample/package.json
  packages/core/src/progression.test.ts
  packages/shell-web/package.json
  packages/shell-web/src/modules/condition-evaluator.test.ts
  packages/shell-web/src/modules/condition-evaluator.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/modules/test-helpers.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  packages/shell-web/vite.config.ts
  packages/shell-web/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, services/**/*.ts, services/**/*.tsx, tools/**/*.ts, tools/**/*.tsx, *.ts, *.tsx, tsconfig.base.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
