Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

fix(renderer-debug): remove regex hotspot
  docs/coverage/index.md
  packages/renderer-debug/dist/color.d.ts.map
  packages/renderer-debug/dist/color.js
  packages/renderer-debug/dist/color.js.map
  packages/renderer-debug/src/color.ts
  packages/renderer-debug/src/index.test.ts
Due: lint, typecheck, build

feat(renderer-webgpu): #784 - device init + clear
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/eslint.config.js
  packages/renderer-webgpu/package.json
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/renderer-webgpu/tsconfig.json
  packages/renderer-webgpu/vitest.config.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.html
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/renderer/styles.css
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(renderer-webgpu): prefer clear draw by pass
  docs/coverage/index.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

chore(shell-desktop): resolve sonar issues
  packages/shell-desktop/src/renderer/global.d.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

test(shell-desktop): cover main and renderer entrypoints
  docs/coverage/index.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
Due: lint, typecheck, build

feat(shell-desktop): gate unsafe WebGPU switch
  docs/coverage/index.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/shell-desktop/README.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

fix(renderer-webgpu): wrap context.configure errors
  docs/coverage/index.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(renderer-webgpu): guard onDeviceLost callback
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(shell-desktop): recover on render errors
  docs/coverage/index.md
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

feat(renderer-webgpu): #784 - device init + clear (#796)
  docs/coverage/index.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/eslint.config.js
  packages/renderer-webgpu/package.json
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/renderer-webgpu/tsconfig.json
  packages/renderer-webgpu/vitest.config.ts
  packages/shell-desktop/README.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/global.d.ts
  packages/shell-desktop/src/renderer/index.html
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/renderer/styles.css
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(renderer-webgpu): sprites + deterministic atlas (#785)
  docs/coverage/index.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/atlas-packer.test.ts
  packages/renderer-webgpu/src/atlas-packer.ts
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/sprite-batching.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(renderer-webgpu): prevent atlas packer infinite loop
  docs/coverage/index.md
  packages/renderer-webgpu/dist/atlas-packer.d.ts
  packages/renderer-webgpu/dist/atlas-packer.d.ts.map
  packages/renderer-webgpu/dist/atlas-packer.js
  packages/renderer-webgpu/dist/atlas-packer.js.map
  packages/renderer-webgpu/dist/sprite-batching.d.ts
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
  packages/renderer-webgpu/src/atlas-packer.test.ts
  packages/renderer-webgpu/src/atlas-packer.ts
Due: lint, typecheck, build

fix sonarr properties
  sonar-project.properties
Due: none

test(renderer-webgpu): use contract schema version
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
Due: lint, typecheck, build

refactor(renderer-webgpu): address sonarcloud issues
  docs/coverage/index.md
  packages/renderer-webgpu/dist/atlas-packer.d.ts.map
  packages/renderer-webgpu/dist/atlas-packer.js
  packages/renderer-webgpu/dist/atlas-packer.js.map
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/atlas-packer.ts
  packages/renderer-webgpu/src/sprite-batching.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(renderer-webgpu): sprites + deterministic atlas (#785) (#797)
  docs/coverage/index.md
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/atlas-packer.d.ts
  packages/renderer-webgpu/dist/atlas-packer.d.ts.map
  packages/renderer-webgpu/dist/atlas-packer.js
  packages/renderer-webgpu/dist/atlas-packer.js.map
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/sprite-batching.d.ts
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/atlas-packer.test.ts
  packages/renderer-webgpu/src/atlas-packer.ts
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/sprite-batching.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  sonar-project.properties
Due: lint, typecheck, build

feat(renderer-webgpu): GPU UI primitives (#786)
  docs/coverage/index.md
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/dist/types.js
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

refactor(renderer): reduce cognitive complexity
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/rcb-validation.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

refactor(renderer-debug): dedupe rcb geometry validation
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/rcb-validation.ts
Due: lint, typecheck, build

feat(renderer-webgpu): GPU UI primitives (#786) (#799)
  docs/coverage/index.md
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/dist/types.js
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

feat(renderer-webgpu): bitmap text pipeline (#787)
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

refactor(renderer-webgpu): reduce cognitive complexity
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

chore(renderer-webgpu): sync dist
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
Due: lint, build

feat(renderer-webgpu): bitmap text pipeline (#787) (#800)
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/index.d.ts
  packages/renderer-webgpu/dist/index.d.ts.map
  packages/renderer-webgpu/dist/index.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/index.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(shell-desktop): sim worker + frame pump (#788)
  packages/shell-desktop/package.json
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(shell-desktop): recreate sim worker on activate
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.test.ts
Due: lint, typecheck, build

fix(shell-desktop): make typecheck work without build
  packages/shell-desktop/package.json
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/tsconfig.test.json
Due: lint, typecheck, build

test(shell-desktop): increase coverage
  docs/coverage/index.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build

fix sonarcloud issues:
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

feat(shell-desktop): sim worker + frame pump (#788) (#801)
  docs/coverage/index.md
  packages/shell-desktop/package.json
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
  packages/shell-desktop/tsconfig.test.json
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(replay): sim replay container + runner (#789)
  packages/core/src/internals.browser.ts
  packages/core/src/replay/sim-replay.test.ts
  packages/core/src/replay/sim-replay.ts
Due: lint, typecheck, build, test-core

fix(replay): stream commands during sim replay
  packages/core/src/replay/sim-replay.test.ts
  packages/core/src/replay/sim-replay.ts
Due: lint, typecheck, build, test-core

refactor(core): address Sonar issues in sim replay
  packages/core/src/internals.browser.ts
  packages/core/src/replay/sim-replay.ts
Due: lint, typecheck, build, test-core

refactor(core): simplify sim replay decode parsing
  packages/core/src/replay/sim-replay.ts
Due: lint, typecheck, build, test-core
