Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

test(core): increase sim replay coverage
  docs/coverage/index.md
  packages/core/src/replay/sim-replay.test.ts
Due: lint, typecheck, build, test-core

feat(replay): sim replay container + runner (#789) (#802)
  docs/coverage/index.md
  packages/core/src/internals.browser.ts
  packages/core/src/replay/sim-replay.test.ts
  packages/core/src/replay/sim-replay.ts
Due: lint, typecheck, build, test-core

feat(renderer-webgpu): support full tintRgba (#798)
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/sprite-batching.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

test(renderer-webgpu): assert tintRgba instanceColor
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
Due: lint, typecheck, build

chore(docs): regenerate coverage page
  docs/coverage/index.md
Due: none

test(renderer-webgpu): add edge-case coverage
  packages/renderer-webgpu/src/atlas-packer.test.ts
  packages/renderer-webgpu/src/index.test.ts
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
Due: lint, typecheck, build

refactor(renderer-webgpu): reduce sprite batching complexity
  packages/renderer-webgpu/src/sprite-batching.ts
Due: lint, typecheck, build

chore(renderer-webgpu): sync dist
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
Due: lint, build

fix(renderer-debug): apply RGBA tinting
  docs/coverage/index.md
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
Due: lint, typecheck, build

test(renderer-debug): increase canvas2d-renderer coverage
  docs/coverage/index.md
  packages/renderer-debug/src/canvas2d-renderer.test.ts
Due: lint, typecheck, build

refactor(renderer-debug): simplify tint scratch
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/src/canvas2d-renderer.ts
Due: lint, typecheck, build

feat(renderer-webgpu): support full tintRgba in sprite instances (#803)
  docs/coverage/index.md
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/atlas-packer.test.ts
  packages/renderer-webgpu/src/index.test.ts
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/sprite-batching.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(replay): visual replay frame hashing (#790)
  packages/core/package.json
  packages/core/src/internals.browser.ts
  packages/core/src/replay/sim-replay.test.ts
  packages/core/src/replay/sim-replay.ts
  packages/core/src/replay/visual-replay.test.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, validate-runtime-version, validate-generated-version

chore(core): fix sim replay indentation
  packages/core/src/replay/sim-replay.ts
Due: lint, typecheck, build, test-core

test(core): expand visual replay coverage
  docs/coverage/index.md
  packages/core/src/replay/sim-replay.test.ts
  packages/core/src/replay/visual-replay.test.ts
Due: lint, typecheck, build, test-core

refactor(core): reduce sim replay cognitive complexity
  packages/core/src/replay/sim-replay.ts
Due: lint, typecheck, build, test-core

feat(replay): visual replay (ViewModel/RCB) (#804)
  docs/coverage/index.md
  packages/core/package.json
  packages/core/src/internals.browser.ts
  packages/core/src/replay/sim-replay.test.ts
  packages/core/src/replay/sim-replay.ts
  packages/core/src/replay/visual-replay.test.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, validate-runtime-version, validate-generated-version

test(render-compiler): deterministic RCB generation (#791)
  docs/coverage/index.md
  packages/renderer-contract/dist/__fixtures__/render-compiler.d.ts
  packages/renderer-contract/dist/__fixtures__/render-compiler.d.ts.map
  packages/renderer-contract/dist/__fixtures__/render-compiler.js
  packages/renderer-contract/dist/__fixtures__/render-compiler.js.map
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/index.js
  packages/renderer-contract/dist/index.js.map
  packages/renderer-contract/dist/render-compiler.d.ts
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/src/__fixtures__/render-compiler.ts
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/render-compiler.test.ts
  packages/renderer-contract/src/render-compiler.ts
Due: lint, typecheck, build

test(renderer-contract): cover hashing and compiler edge cases
  docs/coverage/index.md
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/render-compiler.test.ts
Due: lint, typecheck, build

chore(renderer-contract): address SonarCloud findings
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/src/render-compiler.ts
Due: lint, typecheck, build

fix(renderer): dequantize world fixed-point coordinates
  docs/coverage/index.md
  packages/renderer-debug/dist/canvas2d-renderer.d.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/sprite-batching.d.ts
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/sprite-batching.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

test(render-compiler): deterministic RCB generation (#805)
  docs/coverage/index.md
  packages/renderer-contract/dist/__fixtures__/render-compiler.d.ts
  packages/renderer-contract/dist/__fixtures__/render-compiler.d.ts.map
  packages/renderer-contract/dist/__fixtures__/render-compiler.js
  packages/renderer-contract/dist/__fixtures__/render-compiler.js.map
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/index.js
  packages/renderer-contract/dist/index.js.map
  packages/renderer-contract/dist/render-compiler.d.ts
  packages/renderer-contract/dist/render-compiler.d.ts.map
  packages/renderer-contract/dist/render-compiler.js
  packages/renderer-contract/dist/render-compiler.js.map
  packages/renderer-contract/src/__fixtures__/render-compiler.ts
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/render-compiler.test.ts
  packages/renderer-contract/src/render-compiler.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-webgpu/README.md
  packages/renderer-webgpu/dist/sprite-batching.d.ts
  packages/renderer-webgpu/dist/sprite-batching.d.ts.map
  packages/renderer-webgpu/dist/sprite-batching.js
  packages/renderer-webgpu/dist/sprite-batching.js.map
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/sprite-batching.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(shell-desktop): handle sim worker failures (#806)
  docs/issue-806-design.md
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

chore(docs): update coverage report (#806)
  docs/coverage/index.md
Due: none

fix(shell-desktop): restart sim worker on renderer reload
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

chore(docs): update coverage report
  docs/coverage/index.md
Due: none

test(shell-desktop): add edge-case coverage
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build

fix(shell-desktop): handle sim worker failures (#815)
  docs/coverage/index.md
  docs/issue-806-design.md
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
Due: lint, typecheck, build

perf(renderer-webgpu): reduce quad/text batching allocations (#809)
  docs/issue-809-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

docs(coverage): refresh coverage report (#809)
  docs/coverage/index.md
Due: none

chore(renderer-webgpu): normalize indentation
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

test(renderer-webgpu): add batching edge-case coverage
  docs/coverage/index.md
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
Due: lint, typecheck, build

chore(renderer-webgpu): reduce writeInstance parameters
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build
