Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

fix(content-schema): ignore non-monotonic unlock edges
  docs/coverage/index.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema): ignore non-monotonic unlock edges (#571)
  docs/coverage/index.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

docs: add state synchronization protocol design document
  docs/state-synchronization-protocol-design.md
Due: none

docs: design document for state synchronization protocol (#573)
  docs/state-synchronization-protocol-design.md
Due: none

feat(core): define GameStateSnapshot type
  docs/state-synchronization-protocol-design.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/types.ts
Due: lint, typecheck, build, test-core

docs(core): clarify snapshot checksum inputs
  docs/state-synchronization-protocol-design.md
  packages/core/src/state-sync/types.ts
Due: lint, typecheck, build, test-core

feat(core): define GameStateSnapshot type (#581)
  docs/state-synchronization-protocol-design.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/types.ts
Due: lint, typecheck, build, test-core

feat(core): add captureGameStateSnapshot
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
Due: lint, typecheck, build, test-core

fix(core): align snapshot resource export
  docs/coverage/index.md
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
Due: lint, typecheck, build, test-core

docs: align snapshot capture pseudocode
  docs/state-synchronization-protocol-design.md
Due: none

feat(core): add captureGameStateSnapshot (#583)
  docs/coverage/index.md
  docs/state-synchronization-protocol-design.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
Due: lint, typecheck, build, test-core

fix(core): stabilize snapshot capture
  docs/coverage/index.md
  docs/state-synchronization-protocol-design.md
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
Due: lint, typecheck, build, test-core

chore: ignore codex artifacts
  .gitignore
Due: none

fix(core): stabilize snapshot capture (#584)
  .gitignore
  docs/coverage/index.md
  docs/state-synchronization-protocol-design.md
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
Due: lint, typecheck, build, test-core

feat(core): implement state checksums (Fixes #576)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
Due: lint, typecheck, build, test-core

chore(core): add checksum benchmark
  packages/core/benchmarks/state-sync-checksum.bench.mjs
  packages/core/package.json
Due: lint, build, test-core, validate-runtime-version, validate-generated-version

docs: align checksum design doc with implementation
  docs/state-synchronization-protocol-design.md
Due: none

feat(core): implement state checksums (#585)
  docs/coverage/index.md
  docs/state-synchronization-protocol-design.md
  packages/core/benchmarks/state-sync-checksum.bench.mjs
  packages/core/package.json
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
Due: lint, typecheck, build, test-core, validate-runtime-version, validate-generated-version

feat(core): implement restoreFromSnapshot (Fixes #577)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

feat(core): add restorePartial rebase option (Fixes #577)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

fix(core): validate snapshot restores
  docs/coverage/index.md
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

feat(core): implement restoreFromSnapshot (#593)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

feat(core): implement compareStates (Fixes #578)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
Due: lint, typecheck, build, test-core

feat(core): implement compareStates (Fixes #578) (#594)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
Due: lint, typecheck, build, test-core

test(core): add state sync property suites
  docs/coverage/index.md
  packages/core/src/__tests__/state-sync.property.test.ts
Due: lint, typecheck, build, test-core

test(core): add state sync property suites (#595)
  docs/coverage/index.md
  packages/core/src/__tests__/state-sync.property.test.ts
Due: lint, typecheck, build, test-core

docs(core): document state sync APIs (Fixes #580)
  docs/state-synchronization-protocol-design.md
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

docs(core): document state sync APIs (Fixes #580) (#596)
  docs/state-synchronization-protocol-design.md
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

feat(core): capture rng state for restores (Fixes #582)
  docs/coverage/index.md
  docs/state-synchronization-protocol-design.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/rng.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
  packages/core/src/state-sync/types.ts
Due: lint, typecheck, build, test-core

fix(core): remove unused rng imports
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

feat(core): capture rng state for restores (#612)
  docs/coverage/index.md
  docs/state-synchronization-protocol-design.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/rng.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
  packages/core/src/state-sync/types.ts
Due: lint, typecheck, build, test-core

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
