Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}

fix: trigger generate for core manifest
  lefthook.yml
Due: none

fix: restore tests on root dependency changes
  lefthook.yml
Due: none

fix: run hooks on metadata and tsconfig changes
  lefthook.yml
Due: none

chore: scope lefthook pre-commit checks (Fixes #249) (#250)
  docs/contributor-handbook.md
  lefthook.yml
Due: none

docs: add runtime->React worker bridge design
  docs/runtime-react-worker-bridge-design.md
Due: none

Improve doc
  docs/runtime-react-worker-bridge-design.md
Due: none

docs: add runtime->React worker bridge design (#252)
  docs/runtime-react-worker-bridge-design.md
Due: none

feat(shell-web): harden worker handshake (Fixes #253)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): accept equal command issuedAt
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): harden worker handshake (#263)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): extend worker bridge restore flow
  docs/runtime-react-worker-bridge-design.md
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): reset tick baseline after restore
  .gitignore
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix: hydrate runtime during session restore
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): expand worker bridge API (#264)
  .gitignore
  docs/runtime-react-worker-bridge-design.md
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): extend diagnostics lifecycle coverage (Fixes #255)
  README.md
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): extend diagnostics lifecycle coverage (Fixes #255) (#265)
  README.md
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

docs(runtime): add worker bridge sequence diagram
  docs/assets/diagrams/runtime-react-worker-bridge.mmd
  docs/runtime-react-worker-bridge-design.md
Due: none

docs: render runtime bridge mermaid diagram
  docs/runtime-react-worker-bridge-design.md
Due: none

docs: add runtime worker bridge sequence diagram (#266)
  docs/assets/diagrams/runtime-react-worker-bridge.mmd
  docs/runtime-react-worker-bridge-design.md
Due: none

docs: record worker bridge decision outcomes (Fixes #257)
  docs/runtime-react-worker-bridge-design.md
Due: none

docs: record worker bridge decision outcomes (Fixes #257) (#268)
  docs/runtime-react-worker-bridge-design.md
Due: none

docs(runtime): outline worker-shell persistence handoff Fixes #258
  docs/runtime-react-worker-bridge-design.md
Due: none

docs(runtime): outline worker-shell persistence handoff Fixes #258 (#269)
  docs/runtime-react-worker-bridge-design.md
Due: none

feat(shell-web): bridge social-service commands (Fixes #259)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/SocialDevPanel.tsx
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/modules/social-config.test.ts
  packages/shell-web/src/modules/social-config.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): preserve social base paths
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): preserve social base url query params
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): integrate social-service bridge (Fixes #259) (#274)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/SocialDevPanel.tsx
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/modules/social-config.test.ts
  packages/shell-web/src/modules/social-config.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

docs: add worker bridge extension tutorial Fixes #260
  docs/index.md
  docs/worker-bridge-extension-tutorial.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs: add worker bridge extension tutorial Fixes #260 (#275)
  docs/index.md
  docs/worker-bridge-extension-tutorial.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs: add worker bridge operational runbook (Fixes #261)
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
Due: none

fix(shell-web): expose worker bridge global
  docs/runtime-worker-bridge-runbook.md
  packages/shell-web/src/modules/worker-bridge.ts
Due: lint, typecheck, build, test-shell-a11y

docs: publish runtime worker bridge runbook (Fixes #261) (#276)
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  packages/shell-web/src/modules/worker-bridge.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): gate worker bridge rollout (Fixes #262)
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  package.json
  packages/shell-web/index.html
  packages/shell-web/package.json
  packages/shell-web/src/main.tsx
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/process-shim.ts
  packages/shell-web/src/modules/worker-bridge-config.test.ts
  packages/shell-web/src/modules/worker-bridge-config.ts
  packages/shell-web/src/modules/worker-bridge-worker.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  pnpm-lock.yaml
  tools/scripts/run-workspace-build.sh
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): gate inline worker bootstrap
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): preserve runtime env bootstrap
  packages/shell-web/index.html
Due: build, test-shell-a11y

fix(shell-web): restore module worker bootstrap
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): restore duck-typed worker fallback
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): gate worker bridge rollout (#277)
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  package.json
  packages/shell-web/index.html
  packages/shell-web/package.json
  packages/shell-web/src/main.tsx
  packages/shell-web/src/modules/inline-runtime-worker.ts
  packages/shell-web/src/modules/process-shim.ts
  packages/shell-web/src/modules/worker-bridge-config.test.ts
  packages/shell-web/src/modules/worker-bridge-config.ts
  packages/shell-web/src/modules/worker-bridge-worker.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  pnpm-lock.yaml
  tools/scripts/run-workspace-build.sh
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): hook worker errors into analytics (Fixes #267)
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  packages/shell-web/src/modules/shell-analytics.test.ts
  packages/shell-web/src/modules/shell-analytics.ts
  packages/shell-web/src/modules/worker-bridge.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): preserve host telemetry facade
  packages/shell-web/src/modules/shell-analytics.ts
Due: lint, typecheck, build, test-shell-a11y
