Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}

fix(automation): cooldown expires one step later to account for command execution delay
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

test: update cooldown test expectations for off-by-one fix
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

ci: add docs preview artifact workflow
  .github/workflows/docs-preview.yml
Due: none

docs: add hosting recommendation for production deployment
  docs/docs-hosting-recommendation.md
Due: none

docs: update cooldown calculation to include execution delay
  docs/automation-execution-system-design.md
Due: none

docs: link hosting recommendation in contributor handbook
  docs/contributor-handbook.md
Due: none

chore: add docs/plans/ to gitignore
  .gitignore
Due: none

fix: grant actions:write permission for artifact uploads in docs preview workflow
  .github/workflows/docs-preview.yml
Due: none

test: add failing test for resource-threshold crossing behavior
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

feat(automation): add lastThresholdSatisfied to AutomationState
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

fix(automation): fire resourceThreshold only on crossings
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

feat: add GitHub Pages deployment workflow for documentation
  .github/workflows/docs-deploy.yml
Due: none

test(automation): add comprehensive threshold crossing tests
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

test(automation): verify cooldown + crossing interaction
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

docs: update design doc with threshold crossing decision
  docs/automation-execution-system-design.md
Due: none

fix: update docusaurus config for GitHub Pages default URL
  packages/docs/docusaurus.config.ts
Due: lint, typecheck, build

ci: add docs preview artifact workflow (#330)
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .gitignore
  docs/contributor-handbook.md
  docs/docs-hosting-recommendation.md
  packages/docs/docusaurus.config.ts
Due: lint, typecheck, build

feat(core): add system automation target to command type mapping
  packages/core/src/index.ts
  packages/core/src/system-automation-target-mapping.test.ts
  packages/core/src/system-automation-target-mapping.ts
Due: lint, typecheck, build, test-core

fix(core): improve type safety and add synchronization validation
  packages/content-schema/src/base/ids.ts
  packages/core/src/system-automation-target-mapping.test.ts
  packages/core/src/system-automation-target-mapping.ts
Due: lint, typecheck, build, generate, test-core, test-content

fix(core): map system target IDs to command types in automations
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/command.ts
Due: lint, typecheck, build, test-core

test(core): verify error handling for unknown system targets
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

test(core): add failing test for cooldown threshold state bug
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

fix(core): update threshold state during cooldown to prevent missed triggers
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

test(core): update threshold crossing tests for new cooldown behavior
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

test(core): verify multiple threshold crossings during cooldown
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

docs(core): clarify threshold state tracking during cooldown
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

feat(core): implement AutomationSystem core (#322) (#329)
  docs/automation-execution-system-design.md
  docs/runtime-step-lifecycle.md
  packages/content-schema/src/base/ids.ts
  packages/core/package.json
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/command.ts
  packages/core/src/index.ts
  packages/core/src/system-automation-target-mapping.test.ts
  packages/core/src/system-automation-target-mapping.ts
  packages/core/tsconfig.test.json
  pnpm-lock.yaml
Due: lint, typecheck, build, generate, test-core, test-content

docs(core): add AutomationSystem API reference
  docs/automation-system-api.md
Due: none

docs(content): add automation authoring guide
  docs/automation-authoring-guide.md
Due: none

feat(content-sample): add example automations for all trigger types
  content/compiled/index.json
  packages/content-compiler/src/compiler/context.ts
  packages/content-compiler/src/types.ts
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/event-types.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/core/package.json
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  packages/shell-web/src/runtime.worker.test.ts
  pnpm-lock.yaml
  tools/content-schema-cli/package.json
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

test(core): add failing test for content event channels
  packages/core/src/events/__tests__/content-event-channels.test.ts
Due: lint, typecheck, build, test-core

fix(content-sample): restore event-types.json manifest
  packages/content-sample/content/event-types.json
Due: lint, build, generate, test-content

chore(core): regenerate event manifest with content channels
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(automation): verify event-triggered automation setup
  packages/core/src/automation/__tests__/event-triggered-automation.test.ts
Due: lint, typecheck, build, test-core

docs(events): add warning about event-types.json requirement
  docs/runtime-event-manifest-authoring.md
Due: none

fix(docs): escape MDX special characters in automation docs
  docs/automation-authoring-guide.md
  docs/automation-system-api.md
Due: none

chore(content-sample): regenerate artifacts with runtime 0.3.0
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
Due: lint, typecheck, build, generate, test-content

docs(core): add AutomationSystem API docs and authoring guide (#331)
  content/compiled/index.json
  docs/automation-authoring-guide.md
  docs/automation-system-api.md
  docs/runtime-event-manifest-authoring.md
  packages/content-compiler/src/compiler/context.ts
  packages/content-compiler/src/types.ts
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/core/package.json
  packages/core/src/automation/__tests__/event-triggered-automation.test.ts
  packages/core/src/events/__tests__/content-event-channels.test.ts
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  packages/shell-web/src/runtime.worker.test.ts
  pnpm-lock.yaml
  tools/content-schema-cli/package.json
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y
