Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

feat(core): apply remaining upgrade effects (Fixes #487)
  docs/coverage/index.md
  packages/core/src/automation-system.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/resource-command-handlers.ts
  packages/core/src/resource-state.ts
  packages/core/src/upgrade-effects.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): apply remaining upgrade effects (Fixes #487) (#495)
  docs/coverage/index.md
  packages/core/src/automation-system.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/resource-command-handlers.ts
  packages/core/src/resource-state.ts
  packages/core/src/upgrade-effects.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): implement OFFLINE_CATCHUP handler (Fixes #492)
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/offline-catchup-command-handlers.ts
  packages/core/src/offline-progress.ts
  packages/core/src/offline-resource-deltas.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): reset outbound events between tick batches
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(shell-web): avoid double progression update
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(core): implement OFFLINE_CATCHUP command handler (#496)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/offline-catchup-command-handlers.ts
  packages/core/src/offline-progress.ts
  packages/core/src/offline-resource-deltas.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): persist command queue in snapshots (Fixes #493)
  docs/coverage/index.md
  packages/core/src/command-queue-persistence.test.ts
  packages/core/src/command-queue.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  tools/scripts/generate-version.mjs
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

docs: document command queue persistence
  docs/persistence-migration-guide.md
  docs/runtime-react-worker-bridge-design.md
Due: none

Persist command queue entries in session snapshots (#497)
  docs/coverage/index.md
  docs/persistence-migration-guide.md
  docs/runtime-react-worker-bridge-design.md
  packages/core/src/command-queue-persistence.test.ts
  packages/core/src/command-queue.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  tools/scripts/generate-version.mjs
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

fix: surface command failure feedback (Fixes #473)
  packages/core/src/automation-command-handlers.ts
  packages/core/src/command-dispatcher.test.ts
  packages/core/src/command-dispatcher.ts
  packages/core/src/command.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/GeneratorPanel.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/UpgradeModal.tsx
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

fix(core): propagate async command failures
  packages/core/src/command-dispatcher.test.ts
  packages/core/src/command-dispatcher.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(shell-web): report async command failures
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix: surface command failure feedback (#498)
  packages/core/src/automation-command-handlers.ts
  packages/core/src/command-dispatcher.test.ts
  packages/core/src/command-dispatcher.ts
  packages/core/src/command.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/GeneratorPanel.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/UpgradeModal.tsx
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

fix(content-schema): validate resource cross-references
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema): validate resource cross-references (#499)
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

docs: migrate idle-engine design to template
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/content-compiler-design.md
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines-design.md
  docs/content-dsl-usage-guidelines.md
  docs/content-schema-rollout-decisions.md
  docs/content-validation-cli-design.md
  docs/diagnostic-timeline-design.md
  docs/idle-engine-design.md
  docs/property-based-formula-sanitization-design.md
  docs/resource-state-storage-design.md
  docs/runtime-event-pubsub-design.md
  docs/tick-accumulator-coverage-design.md
  packages/content-schema/src/runtime-compat.ts
Due: lint, typecheck, build, generate, test-content, docs-content-dsl-guidelines

docs: migrate idle-engine design to template (#500)
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/content-compiler-design.md
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines-design.md
  docs/content-dsl-usage-guidelines.md
  docs/content-schema-rollout-decisions.md
  docs/content-validation-cli-design.md
  docs/diagnostic-timeline-design.md
  docs/idle-engine-design.md
  docs/property-based-formula-sanitization-design.md
  docs/resource-state-storage-design.md
  docs/runtime-event-pubsub-design.md
  docs/tick-accumulator-coverage-design.md
  packages/content-schema/src/runtime-compat.ts
Due: lint, typecheck, build, generate, test-content, docs-content-dsl-guidelines

docs: migrate diagnostic timeline design to template
  docs/diagnostic-timeline-design.md
Due: none

docs: migrate diagnostic timeline design to template (#501)
  docs/diagnostic-timeline-design.md
Due: none

feat(core): evaluate automation unlockCondition
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): evaluate automation unlockCondition (#512)
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): prevent trackRates stalling balances
  docs/resource-state-storage-design.md
  docs/runtime-command-queue-design.md
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(core): prevent trackRates double-apply with finalizeTick
  docs/coverage/index.md
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(core): prevent trackRates stalling balances (#513)
  docs/coverage/index.md
  docs/resource-state-storage-design.md
  docs/runtime-command-queue-design.md
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(content-schema): reduce unlock ordering false positives
  docs/coverage/index.md
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/balance.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema): reduce unlock ordering false positives (#514)
  docs/coverage/index.md
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/balance.ts
Due: lint, typecheck, build, generate, test-content

feat(core): add prestigeCountThreshold condition
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-schema/src/__tests__/types.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/conditions.ts
  packages/content-schema/src/pack.ts
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/condition-evaluator.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(content-schema): cover prestigeCountThreshold defaults
  docs/coverage/index.md
  packages/content-schema/src/base/conditions.test.ts
Due: lint, typecheck, build, generate, test-content

feat(core): add prestigeCompleted condition
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-schema/src/__tests__/types.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/conditions.test.ts
  packages/content-schema/src/base/conditions.ts
  packages/content-schema/src/pack.ts
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/condition-evaluator.ts
Due: lint, typecheck, build, generate, test-core, test-content

docs: update coordinator path references
  docs/automation-execution-system-design.md
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/progression-coordinator-design.md
  docs/runtime-command-queue-design.md
  docs/sample-pack-balance-validation-design-issue-420.md
Due: none

feat(core): add prestigeCountThreshold condition (#515)
  docs/automation-execution-system-design.md
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/progression-coordinator-design.md
  docs/runtime-command-queue-design.md
  docs/sample-pack-balance-validation-design-issue-420.md
  packages/content-schema/src/__tests__/types.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/conditions.test.ts
  packages/content-schema/src/base/conditions.ts
  packages/content-schema/src/pack.ts
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/condition-evaluator.ts
Due: lint, typecheck, build, generate, test-core, test-content

fix(core): align automation PURCHASE_UPGRADE payload
  docs/automation-authoring-guide.md
  docs/automation-execution-system-design.md
  docs/automation-system-api.md
  docs/coverage/index.md
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core
