Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

docs: clarify fail-safe pre-spend guard before spendAmount in automation cost flow
  docs/automation-resource-cost-design-issue-348.md
Due: none

docs: clarify event-trigger behavior on failed resourceCost spend (issue-348)
  docs/automation-resource-cost-design-issue-348.md
Due: none

docs: clarify resource-threshold retries on cost failure (issue-348)
  docs/automation-resource-cost-design-issue-348.md
Due: none

docs: fix MDX code spans in automation resource cost design
  docs/automation-resource-cost-design-issue-348.md
Due: none

docs: add design for automation resourceCost enforcement (issue-348) (#350)
  docs/automation-resource-cost-design-issue-348.md
Due: none

feat(core): enforce automation resourceCost at fire-time; atomic spend + enqueue (Fixes #351)
  docs/automation-system-api.md
  game-design-doc/SKILL.md
  game-design-doc/assets/design-document-template.md
  game-design-doc/references/game-design-principles.md
  packages/core/src/automation-resource-state-adapter.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

feat(core): enforce automation resourceCost at fire-time; atomic spend + enqueue (Fixes #351) (#358)
  docs/automation-system-api.md
  game-design-doc/SKILL.md
  game-design-doc/assets/design-document-template.md
  game-design-doc/references/game-design-principles.md
  packages/core/src/automation-resource-state-adapter.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

fix(core): retain event triggers on failed spend; add test and docs note (Fixes #352)
  docs/automation-authoring-guide.md
  docs/coverage/index.md
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

fix(core): retain event triggers on failed spend; add test and docs note (Fixes #352) (#359)
  docs/automation-authoring-guide.md
  docs/coverage/index.md
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

refactor(core): ResourceState accessor + adapter\n\nFixes #353
  packages/core/src/automation-resource-state-adapter.ts
  packages/core/src/automation-system.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

refactor(core): ResourceState accessor + adapter\n\nFixes #353 (#360)
  packages/core/src/automation-resource-state-adapter.ts
  packages/core/src/automation-system.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

feat(automations): document ResourceStateAccessor and reintroduce sample resourceCost; regenerate artifacts (Fixes #348)
  content/compiled/index.json
  docs/automation-system-api.md
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-automations.test.ts
Due: lint, typecheck, build, generate, test-content

feat(automations): document ResourceStateAccessor and reintroduce sample resourceCost; regenerate artifacts (Fixes #348) (#361)
  content/compiled/index.json
  docs/automation-system-api.md
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-automations.test.ts
Due: lint, typecheck, build, generate, test-content

test(core): add automation resourceCost tests for event/threshold cooldown and upgrade fee path\n\nFixes #354
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

test(core): add automation resourceCost tests for event/threshold cooldown and upgrade fee path\n\nFixes #354 (#362)
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

docs: update automation authoring guide to clarify resourceCost semantics (Fixes #355)
  docs/automation-authoring-guide.md
Due: none

docs: update automation authoring guide to clarify resourceCost semantics (Fixes #355) (#363)
  docs/automation-authoring-guide.md
Due: none

docs(content-sample): document costed sample automations in README\n\nFixes #356
  packages/content-sample/README.md
Due: generate, test-content

docs(content-sample): document costed sample automations in README\n\nFixes #356 (#364)
  packages/content-sample/README.md
Due: generate, test-content

fix(core): mark type-only re-exports correctly in barrel\n\nFixes #365\n\n- Convert Command and related types to `export type` in core index\n- Verified Vite dev starts; unit + a11y tests pass
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(core): mark type-only re-exports correctly in barrel\n\nFixes #365\n\n- Convert Command and related types to `export type` in core index\n- Verified Vite dev starts; unit + a11y tests pass (#371)
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

chore(eslint): enforce consistent type imports/exports via shared config; document convention in guidelines
  AGENTS.md
  packages/config-eslint/index.js
  packages/core/dist/progression.js.map
  packages/core/src/automation-system.ts
  packages/core/src/command-queue.ts
  packages/core/src/command-recorder.ts
  packages/core/src/command.ts
  packages/core/src/devtools/diagnostics.ts
  packages/core/src/diagnostics/diagnostic-timeline.ts
  packages/core/src/diagnostics/runtime-diagnostics-controller.ts
  packages/core/src/events/event-bus.ts
  packages/core/src/events/event-diagnostics.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event.ts
  packages/core/src/immutable-snapshots.ts
  packages/core/src/index.ts
  packages/core/src/progression.ts
  packages/core/src/read-only-proxy.ts
  packages/core/src/resource-command-handlers.ts
  packages/core/src/resource-publish-transport.ts
  packages/core/src/resource-state.ts
  packages/core/src/rng.ts
  packages/core/src/transport-buffer-pool.ts
Due: lint, typecheck, build, test-core

chore(eslint): enforce consistent type imports/exports via shared config; document convention in guidelines (#372)
  AGENTS.md
  packages/config-eslint/index.js
  packages/core/dist/progression.js.map
  packages/core/src/automation-system.ts
  packages/core/src/command-queue.ts
  packages/core/src/command-recorder.ts
  packages/core/src/command.ts
  packages/core/src/devtools/diagnostics.ts
  packages/core/src/diagnostics/diagnostic-timeline.ts
  packages/core/src/diagnostics/runtime-diagnostics-controller.ts
  packages/core/src/events/event-bus.ts
  packages/core/src/events/event-diagnostics.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event.ts
  packages/core/src/immutable-snapshots.ts
  packages/core/src/index.ts
  packages/core/src/progression.ts
  packages/core/src/read-only-proxy.ts
  packages/core/src/resource-command-handlers.ts
  packages/core/src/resource-publish-transport.ts
  packages/core/src/resource-state.ts
  packages/core/src/rng.ts
  packages/core/src/transport-buffer-pool.ts
Due: lint, typecheck, build, test-core

chore(tsconfig): enable verbatimModuleSyntax and fix type-only imports; adjust content generator to avoid Node entrypoint import in browser builds\n\nFixes #367
  packages/content-compiler/src/artifacts/module.ts
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/base/formulas.arbitraries.ts
  tsconfig.base.json
Due: lint, typecheck, build, generate, test-content

chore(tsconfig): enable verbatimModuleSyntax and fix type-only imports; adjust content generator to avoid Node entrypoint import in browser builds\n\nFixes #367 (#373)
  packages/content-compiler/src/artifacts/module.ts
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/base/formulas.arbitraries.ts
  tsconfig.base.json
Due: lint, typecheck, build, generate, test-content

ci(a11y): build shell-web before Playwright preview\n\nFixes #368
  tools/a11y-smoke-tests/package.json
Due: lint, build, test-shell-a11y

ci(a11y): also build @idle-engine/core before shell-web preview
  tools/a11y-smoke-tests/package.json
Due: lint, build, test-shell-a11y

ci(a11y): skip shell-web build in CI pretest to avoid duplicates; still build locally
  tools/a11y-smoke-tests/package.json
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
Due: lint, build, test-shell-a11y

ci(shell-web): build shell-web before a11y smoke tests (Fixes #368) (#374)
  tools/a11y-smoke-tests/package.json
  tools/a11y-smoke-tests/scripts/maybe-build-for-preview.cjs
Due: lint, build, test-shell-a11y

test(shell-web): add core alias import smoke test
  packages/shell-web/src/core-import.smoke.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): add core alias import smoke test (#375)
  packages/shell-web/src/core-import.smoke.test.ts
Due: lint, typecheck, build, test-shell-a11y

docs(style): document type-only import/export guidance
  docs/contributor-handbook.md
Due: none

docs(style): document type-only import/export guidance (#376)
  docs/contributor-handbook.md
Due: none

fix(shell-web): guard ShellStateProvider restore loop (Fixes #377)
  packages/shell-web/src/modules/ShellStateProvider.tsx
  tools/a11y-smoke-tests/playwright.config.ts
  tools/a11y-smoke-tests/tests/shell-state-provider-restore.spec.ts
Due: lint, typecheck, build, test-shell-a11y

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, services/**/*.ts, services/**/*.tsx, tools/**/*.ts, tools/**/*.tsx, *.ts, *.tsx, tsconfig.base.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
