Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

chore: add CLAUDE.md to gitignore
  .gitignore
Due: none

chore: add CLAUDE.md to gitignore (#307)
  .gitignore
Due: none

feat(runtime): add worker session snapshot protocol
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

refactor(runtime): improve code organization and test infrastructure
  packages/core/src/index.ts
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  packages/shell-web/src/modules/error-utils.test.ts
  packages/shell-web/src/modules/error-utils.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  packages/shell-web/src/test-utils.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

refactor(runtime): add telemetry and documentation for session snapshots
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

chore: add automated RUNTIME_VERSION synchronization validation
  .github/workflows/ci.yml
  lefthook.yml
  tools/scripts/validate-runtime-version.mjs
Due: lint, build

chore(build): add auto-generation for version.ts to prevent drift
  .github/workflows/ci.yml
  lefthook.yml
  package.json
  packages/core/package.json
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  tools/scripts/generate-version.mjs
Due: lint, typecheck, build, test-core

feat(runtime): enhance session snapshot protocol with telemetry and error details
  docs/runtime-worker-bridge-runbook.md
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(runtime): add worker session snapshot protocol (#308)
  .github/workflows/ci.yml
  docs/runtime-worker-bridge-runbook.md
  lefthook.yml
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/version.test.ts
  packages/core/src/version.ts
  packages/shell-web/src/modules/error-utils.test.ts
  packages/shell-web/src/modules/error-utils.ts
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  packages/shell-web/src/test-utils.ts
  tools/scripts/generate-version.mjs
  tools/scripts/validate-runtime-version.mjs
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(shell-web): build session persistence adapter
  IMPLEMENTATION_SUMMARY.md
  packages/shell-web/package.json
  packages/shell-web/src/modules/autosave-controller.test.ts
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-shell-a11y

chore(shell-web): update fake-indexeddb to latest version (6.2.4)
  packages/shell-web/package.json
  pnpm-lock.yaml
Due: lint, build, test-shell-a11y

feat(shell-web): build session persistence adapter (#309)
  IMPLEMENTATION_SUMMARY.md
  packages/shell-web/package.json
  packages/shell-web/src/modules/autosave-controller.test.ts
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): expose save/load UX for persistence
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/PersistencePanel.test.tsx
  packages/shell-web/src/modules/PersistencePanel.tsx
  packages/shell-web/src/modules/persistence-config.test.ts
  packages/shell-web/src/modules/persistence-config.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): add telemetry and improve persistence UI reliability
  packages/shell-web/src/modules/PersistenceIntegration.test.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/PersistencePanel.test.tsx
  packages/shell-web/src/modules/PersistencePanel.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): add process.version for prom-client compatibility
  packages/shell-web/src/modules/process-shim.ts
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): fix autosave race condition and add error boundaries
  packages/shell-web/package.json
  packages/shell-web/src/main.tsx
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ErrorBoundary.test.tsx
  packages/shell-web/src/modules/ErrorBoundary.tsx
  packages/shell-web/src/modules/PersistenceIntegration.test.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/vitest.config.ts
  packages/shell-web/vitest.setup.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): fix ErrorBoundary telemetry classification and test failures
  packages/shell-web/src/modules/ErrorBoundary.test.tsx
  packages/shell-web/src/modules/ErrorBoundary.tsx
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): replace arbitrary timeouts with event-based assertions
  packages/shell-web/src/modules/PersistenceIntegration.test.tsx
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): add autosave status display and refactor telemetry
  packages/shell-web/src/modules/ErrorBoundary.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/PersistencePanel.tsx
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/telemetry-utils.test.ts
  packages/shell-web/src/modules/telemetry-utils.ts
Due: lint, typecheck, build, test-shell-a11y

refactor(shell-web): migrate persistence UI to CSS modules and improve accessibility
  packages/shell-web/STYLING.md
  packages/shell-web/src/main.module.css
  packages/shell-web/src/main.tsx
  packages/shell-web/src/modules/App.module.css
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ErrorBoundary.module.css
  packages/shell-web/src/modules/ErrorBoundary.tsx
  packages/shell-web/src/modules/PersistencePanel.module.css
  packages/shell-web/src/modules/PersistencePanel.tsx
Due: lint, typecheck, build, test-shell-a11y

refactor(shell-web): improve persistence UI with CSS variables and toast enhancements
  packages/shell-web/src/main.module.css
  packages/shell-web/src/main.tsx
  packages/shell-web/src/modules/App.module.css
  packages/shell-web/src/modules/ErrorBoundary.module.css
  packages/shell-web/src/modules/PersistencePanel.module.css
  packages/shell-web/src/modules/PersistencePanel.tsx
  packages/shell-web/src/variables.css
Due: lint, typecheck, build, test-shell-a11y

refactor(shell-web): migrate remaining hardcoded values to CSS variables
  packages/shell-web/STYLING.md
  packages/shell-web/src/modules/PersistencePanel.module.css
  packages/shell-web/src/variables.css
Due: build, test-shell-a11y

feat(shell-web): expose save/load UX for persistence (#310)
  packages/shell-web/STYLING.md
  packages/shell-web/package.json
  packages/shell-web/src/main.module.css
  packages/shell-web/src/main.tsx
  packages/shell-web/src/modules/App.module.css
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ErrorBoundary.module.css
  packages/shell-web/src/modules/ErrorBoundary.test.tsx
  packages/shell-web/src/modules/ErrorBoundary.tsx
  packages/shell-web/src/modules/PersistenceIntegration.test.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/PersistencePanel.module.css
  packages/shell-web/src/modules/PersistencePanel.test.tsx
  packages/shell-web/src/modules/PersistencePanel.tsx
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/persistence-config.test.ts
  packages/shell-web/src/modules/persistence-config.ts
  packages/shell-web/src/modules/process-shim.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/telemetry-utils.test.ts
  packages/shell-web/src/modules/telemetry-utils.ts
  packages/shell-web/src/variables.css
  packages/shell-web/vitest.config.ts
  packages/shell-web/vitest.setup.ts
  pnpm-lock.yaml
  tools/a11y-smoke-tests/playwright.config.ts
Due: lint, typecheck, build, test-shell-a11y

docs(content): add persistence migration authoring guide
  docs/persistence-migration-guide.md
  docs/runtime-react-worker-bridge-design.md
Due: none

fix(docs): correct SerializedResourceState examples in migration guide
  docs/persistence-migration-guide.md
Due: none

docs(content): add persistence migration authoring guide (#311)
  docs/persistence-migration-guide.md
  docs/runtime-react-worker-bridge-design.md
Due: none

feat(content-schema): implement cycle detection for transforms and unlock conditions
  docs/content-dsl-usage-guidelines.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema): improve cycle detection with comprehensive tests and docs
  docs/content-dsl-usage-guidelines.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

perf(content-schema): optimize cycle detection with early termination and deduplication
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema): add exhaustive type checking to unlock condition cycle detection
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema): improve cycle detection with enhanced types and error messages
  docs/content-dsl-usage-guidelines.md
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

enhance(content-schema): improve cycle detection UX with better errors and docs
  docs/content-dsl-usage-guidelines.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

feat(content-schema): implement cycle detection for transforms and unlock conditions (#312)
  docs/content-dsl-usage-guidelines.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

feat(shell-web): implement save file migration system
  docs/persistence-migration-guide.md
  packages/shell-web/package.json
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/migration-registry.test.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): fix integration test timeout and add migration stress tests
  packages/shell-web/src/modules/migration-registry.test.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
Due: lint, typecheck, build, test-shell-a11y

refactor(core,shell-web): deduplicate digest computation and simplify migration validation
  packages/core/src/index.ts
  packages/core/src/resource-state.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

test(shell-web): fix PersistencePanel test queries to match component accessibility labels
  packages/shell-web/src/modules/PersistencePanel.test.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): include digest mismatch and pendingMigration in compatibility check; harden adapter close semantics; add regression tests
  packages/shell-web/src/modules/persistence-config.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): revalidate zero-step migrations to prevent corrupted restore
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): harden migration registry validation and composite keys per Codex review
  docs/persistence-migration-guide.md
  packages/shell-web/src/modules/migration-registry.test.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, services/**/*.ts, services/**/*.tsx, tools/**/*.ts, tools/**/*.tsx, *.ts, *.tsx, tsconfig.base.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
