Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

docs: clarify generator cost formula (#644)
  docs/content-dsl-usage-guidelines.md
Due: none

feat(content-schema): rename baseCost to costMultiplier
  content/compiled/index.json
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/progression-coordinator-design.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__fixtures__/invalid-content.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/__tests__/normalization-snapshots.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/costs.ts
  packages/content-schema/src/factories.test.ts
  packages/content-schema/src/factories.ts
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/modules/__tests__/generator-upgrade-formulas.property.test.ts
  packages/content-schema/src/modules/__tests__/generators.test.ts
  packages/content-schema/src/modules/__tests__/upgrades.test.ts
  packages/content-schema/src/modules/generators.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.normalization.test.ts
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/progression-coordinator-save.test.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/restore.test.ts
  packages/shell-web/src/modules/test-helpers.ts
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(content-schema): rename baseCost to costMultiplier (#647)
  content/compiled/index.json
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/progression-coordinator-design.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__fixtures__/invalid-content.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/__tests__/normalization-snapshots.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/costs.ts
  packages/content-schema/src/factories.test.ts
  packages/content-schema/src/factories.ts
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/modules/__tests__/generator-upgrade-formulas.property.test.ts
  packages/content-schema/src/modules/__tests__/generators.test.ts
  packages/content-schema/src/modules/__tests__/upgrades.test.ts
  packages/content-schema/src/modules/generators.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.normalization.test.ts
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/progression-coordinator-save.test.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/restore.test.ts
  packages/shell-web/src/modules/test-helpers.ts
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(content-sample): add transform samples and docs
  content/compiled/index.json
  docs/content-dsl-usage-guidelines.md
  docs/runtime-transform-system-design-issue-523.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
Due: lint, typecheck, build, generate, test-content

feat(content-sample): add transform samples and docs (#648)
  content/compiled/index.json
  docs/content-dsl-usage-guidelines.md
  docs/runtime-transform-system-design-issue-523.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
Due: lint, typecheck, build, generate, test-content

chore(perf): standardize benchmark JSON output (Fixes #554)
  docs/benchmark-output-schema.md
  packages/core/benchmarks/diagnostic-timeline-overhead.bench.mjs
  packages/core/benchmarks/event-frame-format.bench.mjs
  packages/core/benchmarks/state-sync-checksum.bench.mjs
Due: lint, build, test-core

chore(perf): add benchmark JSON helpers
  docs/benchmark-output-schema.md
  packages/core/benchmarks/benchmark-json-helpers.mjs
  packages/core/benchmarks/diagnostic-timeline-overhead.bench.mjs
  packages/core/benchmarks/event-frame-format.bench.mjs
  packages/core/benchmarks/state-sync-checksum.bench.mjs
Due: lint, build, test-core

chore: ignore local scripts and pr review
  .gitignore
Due: none

chore(core): centralize benchmark json metadata
  docs/benchmark-output-schema.md
  docs/coverage/index.md
  packages/core/benchmarks/benchmark-json-helpers.mjs
  packages/core/benchmarks/benchmark-json-helpers.test.ts
  packages/core/benchmarks/diagnostic-timeline-overhead.bench.mjs
  packages/core/benchmarks/event-frame-format.bench.mjs
  packages/core/benchmarks/state-sync-checksum.bench.mjs
Due: lint, typecheck, build, test-core

chore(perf): standardize benchmark JSON output (#649)
  .gitignore
  docs/benchmark-output-schema.md
  docs/coverage/index.md
  packages/core/benchmarks/benchmark-json-helpers.mjs
  packages/core/benchmarks/benchmark-json-helpers.test.ts
  packages/core/benchmarks/diagnostic-timeline-overhead.bench.mjs
  packages/core/benchmarks/event-frame-format.bench.mjs
  packages/core/benchmarks/state-sync-checksum.bench.mjs
Due: lint, typecheck, build, test-core

docs: expand content authoring guidance (Fixes #465)
  README.md
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
  docs/examples/minimal-pack/content/pack.json
  docs/examples/prestige-pack/content/pack.json
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/content-schema-cli/src/generate.js
Due: lint, build, generate, test-content

chore(ci): improve test throughput (Fixes #651)
  .github/workflows/ci.yml
  AGENTS.md
  README.md
  docs/contributor-handbook.md
  docs/coverage/index.md
  lefthook.yml
  package.json
  packages/content-schema/src/base/formulas.property.test.ts
  packages/shell-web/src/core-import.smoke.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/economy-verification/src/index.test.ts
  tools/scripts/run-fast-lint.mjs
  tools/scripts/run-fast-tests.mjs
  tools/scripts/run-workspace-test-ci.sh
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(ci): harden fast checks
  .github/workflows/ci.yml
  .gitignore
  tools/scripts/run-fast-lint.mjs
  tools/scripts/run-fast-tests.mjs
  tools/scripts/run-workspace-test-ci.sh
Due: lint, build

chore(ci): drop duplicate docs build
  .github/workflows/ci.yml
Due: none

docs: update ci docs workflow notes
  docs/contributor-handbook.md
Due: none

docs: align fast-check and coverage guidance
  README.md
  docs/contributor-handbook.md
Due: none

chore: use vitest related in fast tests
  tools/scripts/run-fast-tests.mjs
Due: lint, build

test(content-schema-cli): reduce cli runs in compile tests
  tools/content-schema-cli/src/__tests__/compile.test.js
Due: lint, build, generate, test-content

docs: expand content authoring guidance (Fixes #465) (#650)
  README.md
  docs/content-dsl-usage-guidelines.md
  docs/content-quick-reference.md
  docs/examples/minimal-pack/content/pack.json
  docs/examples/prestige-pack/content/pack.json
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/content-schema-cli/src/generate.js
Due: lint, build, generate, test-content

chore: document long-running pre-commit hooks
  AGENTS.md
Due: none

chore(ci): improve test throughput (#652)
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  README.md
  docs/contributor-handbook.md
  docs/coverage/index.md
  lefthook.yml
  package.json
  packages/content-schema/src/base/formulas.property.test.ts
  packages/shell-web/src/core-import.smoke.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/economy-verification/src/index.test.ts
  tools/scripts/run-fast-lint.mjs
  tools/scripts/run-fast-tests.mjs
  tools/scripts/run-workspace-test-ci.sh
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(perf): add workspace benchmark runner
  package.json
  tools/scripts/run-workspace-benchmark.sh
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(perf): improve benchmark runner UX
  README.md
  package.json
  tools/scripts/run-workspace-benchmark.sh
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(perf): add workspace benchmark runner (#653)
  README.md
  package.json
  tools/scripts/run-workspace-benchmark.sh
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(perf): add performance report docs
  .gitignore
  docs/performance/index.md
  package.json
  packages/docs/sidebars.ts
  tools/perf-report/__fixtures__/sample-artifacts.json
  tools/perf-report/index.ts
  tools/perf-report/lib.test.ts
  tools/perf-report/lib.ts
  tools/scripts/run-workspace-benchmarks.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(perf): add performance report docs (#654)
  .gitignore
  docs/performance/index.md
  package.json
  packages/docs/sidebars.ts
  tools/perf-report/__fixtures__/sample-artifacts.json
  tools/perf-report/index.ts
  tools/perf-report/lib.test.ts
  tools/perf-report/lib.ts
  tools/scripts/run-workspace-benchmarks.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

ci(perf): add performance report artifact (Fixes #557)
  .github/workflows/ci.yml
Due: none

ci(perf): verify perf report outputs
  .github/workflows/ci.yml
Due: none

ci(perf): add performance report artifact (#655)
  .github/workflows/ci.yml
Due: none

feat(perf): add runtime workload sim (Fixes #558)
  docs/benchmark-output-schema.md
  tools/perf-report/__fixtures__/sample-artifacts.json
  tools/perf-report/lib.test.ts
  tools/perf-report/lib.ts
  tools/runtime-sim/index.ts
  tools/runtime-sim/package.json
Due: lint, typecheck, build

chore(runtime-sim): add content-sample dependency
  pnpm-lock.yaml
  tools/runtime-sim/package.json
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

docs(perf): update performance report (Fixes #558)
  docs/performance/index.md
Due: none

feat(perf): add runtime workload harness (#656)
  docs/benchmark-output-schema.md
  docs/performance/index.md
  pnpm-lock.yaml
  tools/perf-report/__fixtures__/sample-artifacts.json
  tools/perf-report/lib.test.ts
  tools/perf-report/lib.ts
  tools/runtime-sim/index.ts
  tools/runtime-sim/package.json
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
