Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

fix(shell-web): address Codex review findings on migration registry and test type safety
  docs/persistence-migration-guide.md
  packages/shell-web/src/modules/PersistencePanel.test.tsx
  packages/shell-web/src/modules/autosave-controller.test.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address critical Codex review findings on persistence and migration
  packages/shell-web/src/modules/migration-registry.test.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings on persistence and migration
  docs/persistence-migration-guide.md
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/migration-registry.test.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/persistence-config.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings on migration system
  packages/core/src/resource-state.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(shell-web): address Codex review findings on persistence and migration
  packages/shell-web/src/modules/PersistenceIntegration.test.tsx
  packages/shell-web/src/modules/persistence-config.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address remaining Codex review findings
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings on migration system
  packages/core/src/resource-state.test.ts
  packages/shell-web/src/modules/migration-registry.test.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(shell-web): address Codex review findings on persistence and migration
  packages/shell-web/src/modules/PersistenceIntegration.test.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): import PERSISTENCE_SCHEMA_VERSION from core
  packages/shell-web/src/modules/session-persistence-adapter.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): implement save file migration system (#313)
  docs/persistence-migration-guide.md
  packages/core/src/index.ts
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
  packages/shell-web/package.json
  packages/shell-web/src/modules/PersistenceIntegration.test.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/PersistencePanel.test.tsx
  packages/shell-web/src/modules/autosave-controller.test.ts
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/migration-registry.test.ts
  packages/shell-web/src/modules/migration-registry.ts
  packages/shell-web/src/modules/persistence-config.test.ts
  packages/shell-web/src/modules/persistence-config.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(shell-web): integrate progression snapshot into shell state provider
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/progression-config.ts
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address code review issues in progression state integration
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings for progression state integration
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): increase worker-bridge test timeout to fix flakiness
  packages/shell-web/src/modules/worker-bridge.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): increase worker-bridge test timeout to fix flakiness (#316)
  packages/shell-web/src/modules/worker-bridge.test.ts
Due: lint, typecheck, build, test-shell-a11y

Delete IMPLEMENTATION_SUMMARY.md
  IMPLEMENTATION_SUMMARY.md
Due: none

Delete IMPLEMENTATION_SUMMARY.md (#317)
  IMPLEMENTATION_SUMMARY.md
Due: none

fix(shell-web): address Codex review findings for progression state integration
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address critical Codex review findings
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): integrate progression snapshot into shell state provider (#314)
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/progression-config.ts
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): implement resource dashboard UI
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ResourceDashboard.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings for ResourceDashboard
  packages/shell-web/src/modules/ResourceDashboard.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): fix negative zero formatting and enable optimistic resource updates
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

Fixed test issues
  packages/shell-web/src/modules/ResourceDashboard.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): improve ResourceDashboard formatting consistency and accessibility
  packages/shell-web/src/modules/ResourceDashboard.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

perf(shell-web): migrate ResourceDashboard to Intl.NumberFormat for better performance
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): strengthen capacity safety guard and add comprehensive tests
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): improve ResourceDashboard accessibility and code quality
  packages/shell-web/src/modules/App.module.css
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ResourceDashboard.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings for ResourceDashboard
  packages/shell-web/src/modules/App.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): address Codex review findings for ARIA compliance
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): wrap ResourceDashboard progressbar in role="cell" for ARIA compliance
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): align rate styling with display threshold for visual consistency
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): improve ResourceDashboard accessibility per Codex review
  packages/shell-web/src/modules/ResourceDashboard.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): add edge case tests for ResourceDashboard formatters
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): resource dashboard UI (#318)
  packages/shell-web/src/modules/App.module.css
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ResourceDashboard.module.css
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
Due: lint, typecheck, build, test-shell-a11y

docs: add runtime automation execution system design
  docs/automation-execution-system-design.md
Due: none

fix(docs): escape less-than symbols in MDX to fix build
  docs/automation-execution-system-design.md
Due: none

docs: add runtime automation execution system design (#320)
  docs/automation-execution-system-design.md
Due: none

feat(core): implement AutomationSystem core
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js.map
  packages/core/package.json
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/index.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, services/**/*.ts, services/**/*.tsx, tools/**/*.ts, tools/**/*.tsx, *.ts, *.tsx, tsconfig.base.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
