Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

fix(shell-desktop): dedupe preload IPC constants and type idleEngine (#870)
  docs/coverage/index.md
  packages/shell-desktop/eslint.config.js
  packages/shell-desktop/package.json
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/mcp/mcp-gateway.test.ts
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.default-export.test.ts
  packages/shell-desktop/src/preload.fallback.test.ts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/src/renderer/global.d.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/tsconfig.test.json
  sonar-project.properties
Due: lint, typecheck, build

feat(core): add bounded catch-up backlog drain
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/internals.browser.test.ts
  packages/core/src/internals.browser.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core

fix(shell-desktop): persist offline catchup drain budget
  docs/coverage/index.md
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

fix(shell-desktop): preserve offline catch-up drain budget
  docs/coverage/index.md
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

fix(shell-desktop): bound offline catch-up drains
  docs/coverage/index.md
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

fix(shell-desktop): clamp serialized sim backlog
  docs/coverage/index.md
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat(core): add bounded catch-up backlog drain (#876)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/internals.browser.test.ts
  packages/core/src/internals.browser.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core

feat(core): track credited offline backlog ownership
  docs/coverage/index.md
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.ts
  packages/core/src/game.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/internals.browser.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore.ts
  packages/core/src/state-sync/types.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core

fix(core): restore snapshot backlog fallback
  AGENTS.md
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

chore(ci): add manual coverage report workflow
  .github/workflows/coverage-report.yml
  AGENTS.md
  README.md
  docs/contributor-handbook.md
  docs/coverage/index.md
  tools/coverage-report/lib.test.ts
  tools/coverage-report/lib.ts
Due: lint, typecheck, build

chore(ci): add manual coverage report workflow (#881)
  .github/workflows/coverage-report.yml
  AGENTS.md
  README.md
  docs/contributor-handbook.md
  docs/coverage/index.md
  tools/coverage-report/lib.test.ts
  tools/coverage-report/lib.ts
Due: lint, typecheck, build

fix(docs): restore validation baseline
  docs/coverage/index.md
  docs/issue-157-design.md
  docs/issue-775-design.md
  docs/issue-809-design.md
  docs/issue-810-design.md
  docs/issue-811-design.md
  docs/issue-814-design.md
  docs/issue-821-design.md
  docs/issue-846-design.md
  docs/issue-850-design.md
Due: none

fix(docs): restore validation baseline (#883)
  docs/coverage/index.md
  docs/issue-157-design.md
  docs/issue-775-design.md
  docs/issue-809-design.md
  docs/issue-810-design.md
  docs/issue-811-design.md
  docs/issue-814-design.md
  docs/issue-821-design.md
  docs/issue-846-design.md
  docs/issue-850-design.md
Due: none

fix(core): canonicalize runtime backlog fields
  packages/core/src/game-state-save.ts
  packages/core/src/runtime-backlog.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

fix(core): preserve legacy backlog in wiring hydrate
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-runtime-wiring.ts
Due: lint, typecheck, build, test-core

feat(core): track credited offline backlog ownership (#878)
  docs/coverage/index.md
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.ts
  packages/core/src/game.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/internals.browser.ts
  packages/core/src/runtime-backlog.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
  packages/core/src/state-sync/types.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build, test-core

refactor(core): centralize runtime backlog normalization
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/runtime-backlog.test.ts
  packages/core/src/runtime-backlog.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

refactor(core): centralize runtime backlog normalization (#884)
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/runtime-backlog.test.ts
  packages/core/src/runtime-backlog.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/restore.ts
Due: lint, typecheck, build, test-core

docs(core): clarify save load workflow
  docs/index.md
  packages/core/README.md
  packages/docs/scripts/test-docs.mjs
Due: lint, build, test-core

docs(core): clarify save load workflow (#885)
  docs/index.md
  packages/core/README.md
  packages/docs/scripts/test-docs.mjs
Due: lint, build, test-core

fix(shell-desktop): map pointer metadata into canvas UI space
  docs/issue-850-design.md
  packages/core/src/input-event.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build, test-core

test(shell-desktop): cover hidpi backing store pointer coordinates
  packages/shell-desktop/src/renderer/index.test.ts
Due: lint, typecheck, build

fix(shell-desktop): map pointer metadata into canvas UI space (#886)
  docs/issue-850-design.md
  packages/core/src/input-event.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build, test-core

feat(shell-desktop): clarify render frame step semantics
  packages/shell-desktop/README.md
  packages/shell-desktop/src/sim/render-frame-metadata.test.ts
  packages/shell-desktop/src/sim/render-frame-metadata.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat(shell-desktop): clarify render frame step semantics (#887)
  packages/shell-desktop/README.md
  packages/shell-desktop/src/sim/render-frame-metadata.test.ts
  packages/shell-desktop/src/sim/render-frame-metadata.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat(core): expose automation and transform snapshot views
  docs/content-quick-reference.md
  packages/core/src/automation-system.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

fix(core): preserve automation restore defaults
  packages/core/src/__tests__/automation-system/state-management.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

fix(core): refresh initial snapshot view state
  packages/core/src/automation-system.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

fix(core): derive transform visibility in snapshots
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/game.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

fix(core): derive snapshot unlock state from rewards
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game.test.ts
  packages/core/src/progression.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

fix(core): publish persisted unlock state before snapshots
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

refactor(core): simplify automation restore state
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

feat(core): expose automation and transform snapshot views (#900)
  docs/content-quick-reference.md
  packages/core/src/__tests__/automation-system/state-management.test.ts
  packages/core/src/__tests__/transform-system/cooldowns-and-unlocks.test.ts
  packages/core/src/__tests__/transform-system/mission-mode.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
