Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

refactor(core): reuse shared predicates in transport/parse/normalize (#768)
  docs/coverage/index.md
  packages/core/src/command-transport-server.test.ts
  packages/core/src/command-transport-server.ts
  packages/core/src/entity-system.test.ts
  packages/core/src/entity-system.ts
  packages/core/src/internals.browser.test.ts
  packages/core/src/internals.browser.ts
  packages/core/src/offline-progress-limits.ts
  packages/core/src/progression-coordinator-save.test.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

feat(content-schema): add runtime gate for entities
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/entity-content-module-design-issue-587.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/runtime-compat.ts
Due: lint, typecheck, build, generate, test-content

feat(content-schema): add runtime gate for entities (#769)
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/entity-content-module-design-issue-587.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/runtime-compat.ts
Due: lint, typecheck, build, generate, test-content

docs: add createGame factory design (Issue 750)
  docs/create-game-factory-design-issue-750.md
Due: none

docs: add createGame factory design (Issue 750) (#770)
  docs/create-game-factory-design-issue-750.md
Due: none

feat(core): add createGame factory
  docs/content-quick-reference.md
  docs/coverage/index.md
  docs/idle-engine-design.md
  packages/core/src/command-queue.ts
  packages/core/src/command-recorder.ts
  packages/core/src/game.test.ts
  packages/core/src/game.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(core): harden createGame hydrate and facade actions
  docs/content-quick-reference.md
  docs/coverage/index.md
  docs/idle-engine-design.md
  packages/core/src/game.test.ts
  packages/core/src/game.ts
Due: lint, typecheck, build, test-core

docs: document enqueue return and facade errors
  docs/content-quick-reference.md
  docs/runtime-command-queue-design.md
Due: none

test(core): cover createGame count normalization
  docs/coverage/index.md
  packages/core/src/game.test.ts
Due: lint, typecheck, build, test-core

feat(core): extend createGame facade actions
  docs/content-quick-reference.md
  docs/coverage/index.md
  packages/core/src/game.test.ts
  packages/core/src/game.ts
Due: lint, typecheck, build, test-core

fix(core): reject invalid purchaseGenerator counts
  docs/content-quick-reference.md
  docs/coverage/index.md
  packages/core/src/game.test.ts
  packages/core/src/game.ts
Due: lint, typecheck, build, test-core

feat(core): add createGame factory (#771)
  docs/content-quick-reference.md
  docs/coverage/index.md
  docs/idle-engine-design.md
  docs/runtime-command-queue-design.md
  packages/core/src/command-queue.ts
  packages/core/src/command-recorder.ts
  packages/core/src/game.test.ts
  packages/core/src/game.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

docs: add desktop shell + WebGPU renderer design doc
  docs/desktop-shell-webgpu-renderer-replay-design-issue-778.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs: tighten replay determinism contract (Issue 778)
  docs/desktop-shell-webgpu-renderer-replay-design-issue-778.md
Due: none

docs: add desktop shell + WebGPU renderer replay design doc (#780)
  docs/desktop-shell-webgpu-renderer-replay-design-issue-778.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

fix(core): restart scheduler after hydrate
  docs/content-quick-reference.md
  packages/core/src/game.test.ts
  packages/core/src/game.ts
Due: lint, typecheck, build, test-core

chore(core): normalize hydrate indentation
  packages/core/src/game.ts
Due: lint, typecheck, build, test-core

docs: update coverage report
  docs/coverage/index.md
Due: none

fix(core): restore scheduler state on hydrate errors
  docs/content-quick-reference.md
  docs/coverage/index.md
  packages/core/src/game.test.ts
  packages/core/src/game.ts
Due: lint, typecheck, build, test-core

fix(core): restart scheduler after hydrate (#792)
  docs/content-quick-reference.md
  docs/coverage/index.md
  packages/core/src/game.test.ts
  packages/core/src/game.ts
Due: lint, typecheck, build, test-core

chore(shell-desktop): Electron scaffolding (Fixes #781)
  packages/shell-desktop/README.md
  packages/shell-desktop/eslint.config.js
  packages/shell-desktop/package.json
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.ts
  packages/shell-desktop/src/renderer/global.d.ts
  packages/shell-desktop/src/renderer/index.html
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/tsconfig.json
  packages/shell-desktop/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(shell-desktop): track renderer asset copy step
  packages/shell-desktop/README.md
  packages/shell-desktop/package.json
  packages/shell-desktop/src/preload.test.ts
  pnpm-workspace.yaml
  tools/scripts/copy-renderer-assets.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(shell-desktop): tighten CSP and validate IPC
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.html
  packages/shell-desktop/src/renderer/styles.css
Due: lint, typecheck, build

fix(shell-desktop): load preload under sandbox
  packages/shell-desktop/eslint.config.js
  packages/shell-desktop/package.json
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/vitest.config.ts
Due: lint, typecheck, build

fix(ci): normalize lcov paths for SonarCloud
  tools/scripts/normalize-lcov-paths.mjs
  tools/scripts/run-workspace-coverage.sh
Due: lint, build

fix(sonar): exclude tools scripts from coverage
  sonar-project.properties
Due: none

chore(scripts): refactor lcov normalizer
  tools/scripts/normalize-lcov-paths.mjs
Due: lint, build

chore(shell-desktop): Electron scaffolding (#793)
  packages/shell-desktop/README.md
  packages/shell-desktop/eslint.config.js
  packages/shell-desktop/package.json
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/preload.cts
  packages/shell-desktop/src/preload.test.ts
  packages/shell-desktop/src/renderer/global.d.ts
  packages/shell-desktop/src/renderer/index.html
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/renderer/styles.css
  packages/shell-desktop/tsconfig.json
  packages/shell-desktop/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  sonar-project.properties
  tools/scripts/copy-renderer-assets.mjs
  tools/scripts/normalize-lcov-paths.mjs
  tools/scripts/run-workspace-coverage.sh
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(renderer-contract): define ViewModel/RCB contract
  docs/coverage/index.md
  docs/desktop-shell-webgpu-renderer-replay-design-issue-778.md
  packages/renderer-contract/dist/hashing.d.ts
  packages/renderer-contract/dist/hashing.d.ts.map
  packages/renderer-contract/dist/hashing.js
  packages/renderer-contract/dist/hashing.js.map
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/index.js
  packages/renderer-contract/dist/index.js.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/dist/types.js
  packages/renderer-contract/dist/types.js.map
  packages/renderer-contract/eslint.config.js
  packages/renderer-contract/package.json
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/hashing.ts
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-contract/tsconfig.json
  packages/renderer-contract/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(renderer-contract): define ViewModel/RCB contract (#794)
  docs/coverage/index.md
  docs/desktop-shell-webgpu-renderer-replay-design-issue-778.md
  packages/renderer-contract/dist/hashing.d.ts
  packages/renderer-contract/dist/hashing.d.ts.map
  packages/renderer-contract/dist/hashing.js
  packages/renderer-contract/dist/hashing.js.map
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/index.js
  packages/renderer-contract/dist/index.js.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/dist/types.js
  packages/renderer-contract/dist/types.js.map
  packages/renderer-contract/eslint.config.js
  packages/renderer-contract/package.json
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/hashing.ts
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-contract/tsconfig.json
  packages/renderer-contract/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(renderer-debug): minimal backend (Fixes #783)
  docs/coverage/index.md
  packages/renderer-contract/dist/index.d.ts
  packages/renderer-contract/dist/index.d.ts.map
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.d.ts.map
  packages/renderer-contract/src/index.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/dist/color.d.ts
  packages/renderer-debug/dist/color.d.ts.map
  packages/renderer-debug/dist/color.js
  packages/renderer-debug/dist/color.js.map
  packages/renderer-debug/dist/index.d.ts
  packages/renderer-debug/dist/index.d.ts.map
  packages/renderer-debug/dist/index.js
  packages/renderer-debug/dist/index.js.map
  packages/renderer-debug/dist/rcb-stepper.d.ts
  packages/renderer-debug/dist/rcb-stepper.d.ts.map
  packages/renderer-debug/dist/rcb-stepper.js
  packages/renderer-debug/dist/rcb-stepper.js.map
  packages/renderer-debug/dist/rcb-validation.d.ts
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/eslint.config.js
  packages/renderer-debug/package.json
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-debug/src/color.ts
  packages/renderer-debug/src/index.ts
  packages/renderer-debug/src/rcb-stepper.test.ts
  packages/renderer-debug/src/rcb-stepper.ts
  packages/renderer-debug/src/rcb-validation.ts
  packages/renderer-debug/tsconfig.json
  packages/renderer-debug/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(renderer-debug): harden rcb validation
  docs/coverage/index.md
  packages/renderer-contract/dist/types.d.ts
  packages/renderer-contract/dist/types.js
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/types.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts
  packages/renderer-debug/dist/canvas2d-renderer.d.ts.map
  packages/renderer-debug/dist/canvas2d-renderer.js
  packages/renderer-debug/dist/canvas2d-renderer.js.map
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/canvas2d-renderer.ts
  packages/renderer-debug/src/rcb-stepper.test.ts
  packages/renderer-debug/src/rcb-validation.ts
Due: lint, typecheck, build

chore(sonarcloud): analyze renderer packages
  docs/coverage/index.md
  packages/renderer-debug/dist/index.d.ts
  packages/renderer-debug/dist/index.d.ts.map
  packages/renderer-debug/dist/index.js
  packages/renderer-debug/dist/index.js.map
  packages/renderer-debug/dist/rcb-validation.d.ts.map
  packages/renderer-debug/dist/rcb-validation.js
  packages/renderer-debug/dist/rcb-validation.js.map
  packages/renderer-debug/src/canvas2d-renderer.test.ts
  packages/renderer-debug/src/index.ts
  packages/renderer-debug/src/rcb-validation.ts
  sonar-project.properties
Due: lint, typecheck, build

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
