Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

fix(core): align automation PURCHASE_UPGRADE payload (#516)
  docs/automation-authoring-guide.md
  docs/automation-execution-system-design.md
  docs/automation-system-api.md
  docs/coverage/index.md
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

feat(core): expand automation targets
  docs/automation-authoring-guide.md
  docs/automation-execution-system-design.md
  docs/automation-system-api.md
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/automations.test.ts
  packages/content-schema/src/modules/automations.ts
  packages/content-schema/src/pack.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, generate, test-core, test-content

fix(core): evaluate automation formulas with entity context
  docs/coverage/index.md
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, test-core

test(core): add edge case tests for automation formula evaluation
  packages/core/src/automation-system.test.ts
Due: lint, typecheck, build, test-core

feat(core): expand automation targets (#517)
  docs/automation-authoring-guide.md
  docs/automation-execution-system-design.md
  docs/automation-system-api.md
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/content-schema/src/modules/__tests__/automations.test.ts
  packages/content-schema/src/modules/automations.ts
  packages/content-schema/src/pack.ts
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(core): prestige reset supports generators/upgrades
  docs/content-dsl-schema-design.md
  docs/prestige-system-completion-design.md
  packages/content-schema/src/modules/__tests__/prestige.test.ts
  packages/content-schema/src/modules/prestige.ts
  packages/content-schema/src/pack.ts
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, generate, test-core, test-content

docs: refresh prestige reset follow-ups
  docs/prestige-system-completion-design.md
Due: none

feat(core): prestige resets relock unlock flags
  docs/content-dsl-schema-design.md
  docs/prestige-system-completion-design.md
  docs/progression-coordinator-design.md
  packages/core/src/prestige-reset.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(core): preserve default-unlocked after prestige reset
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

test(core): add isUnlocked assertions to generator/upgrade reset test
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

feat(core/content-schema): prestige reset can reset generators/upgrades (#518)
  docs/content-dsl-schema-design.md
  docs/prestige-system-completion-design.md
  docs/progression-coordinator-design.md
  packages/content-schema/src/modules/__tests__/prestige.test.ts
  packages/content-schema/src/modules/prestige.ts
  packages/content-schema/src/pack.ts
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/prestige-reset.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(content-schema/core): support multi-resource purchase costs
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  docs/progression-coordinator-design.md
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/costs.ts
  packages/content-schema/src/factories.ts
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/modules/__tests__/generator-upgrade-formulas.property.test.ts
  packages/content-schema/src/modules/__tests__/generators.test.ts
  packages/content-schema/src/modules/__tests__/upgrades.test.ts
  packages/content-schema/src/modules/generators.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(content-schema/core): support multi-resource purchase costs (#519)
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  docs/progression-coordinator-design.md
  packages/content-sample/src/sample-content-progression-snapshot.test.ts
  packages/content-schema/src/__tests__/balance.test.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/costs.ts
  packages/content-schema/src/factories.ts
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/modules/__tests__/generator-upgrade-formulas.property.test.ts
  packages/content-schema/src/modules/__tests__/generators.test.ts
  packages/content-schema/src/modules/__tests__/upgrades.test.ts
  packages/content-schema/src/modules/generators.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, generate, test-core, test-content

fix(tools): make core:tick-sim Node24 compatible
  package.json
  pnpm-lock.yaml
  tools/runtime-sim/package.json
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(tools): make core:tick-sim Node24 compatible (#520)
  package.json
  pnpm-lock.yaml
  tools/runtime-sim/package.json
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(core): return steps processed from tick
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/offline-progress.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): return steps processed from tick (#521)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/offline-progress.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): achievements runtime system (Fixes #522)
  docs/coverage/index.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/achievement-system.test.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): improve achievement event type safety
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/progression-coordinator.ts
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-core, test-content

feat(core): achievements runtime system (#534)
  docs/coverage/index.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/achievement-system.test.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.ts
  packages/shell-web/src/runtime.worker.ts
  tools/content-schema-cli/src/generate.js
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

fix(core): deterministic runtime event issuedAt
  docs/coverage/index.md
  packages/core/src/automation-command-handlers.test.ts
  packages/core/src/automation-command-handlers.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

fix(core): deterministic runtime event issuedAt (#536)
  docs/coverage/index.md
  packages/core/src/automation-command-handlers.test.ts
  packages/core/src/automation-command-handlers.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

docs: add runtime transform system design (issue-523)
  docs/runtime-transform-system-design-issue-523.md
Due: none

docs: add runtime transform system design (issue-523) (#538)
  docs/runtime-transform-system-design-issue-523.md
Due: none

docs: resolve open questions in transform system design (issue-523)
  docs/runtime-transform-system-design-issue-523.md
Due: none

docs: resolve open questions in transform system design (issue-523) (#542)
  docs/runtime-transform-system-design-issue-523.md
Due: none

feat(core): implement transform system Phase 1 MVP
  packages/core/src/command.ts
  packages/core/src/index.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

fix(core): reset transform runsThisTick counter at step boundary
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

fix(core): harden transform execution
  packages/core/src/automation-resource-state-adapter.ts
  packages/core/src/automation-system.ts
  packages/core/src/transform-command-handlers.test.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

fix(core): harden transform trigger retention and determinism
  packages/core/src/index.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

feat(core): implement transform system Phase 1 MVP (#543)
  packages/core/src/automation-resource-state-adapter.ts
  packages/core/src/automation-system.ts
  packages/core/src/command.ts
  packages/core/src/index.ts
  packages/core/src/transform-command-handlers.test.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core
