Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

fix(ci): upgrade to sonarqube-scan-action v7
  .github/workflows/ci.yml
Due: none

feat(ci): add SonarCloud test coverage integration (#728)
  .github/workflows/ci.yml
  README.md
  sonar-project.properties
Due: none

chore(content-schema-cli): migrate JavaScript to TypeScript
  pnpm-lock.yaml
  sonar-project.properties
  tools/content-schema-cli/package.json
  tools/content-schema-cli/src/__tests__/compile.test.ts
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
  tools/content-schema-cli/src/compile.ts
  tools/content-schema-cli/src/content-compiler.ts
  tools/content-schema-cli/src/generate.ts
  tools/content-schema-cli/tsconfig.json
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(content-schema-cli): improve error handling for file operations
  tools/content-schema-cli/src/compile.ts
  tools/content-schema-cli/src/generate.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema-cli): improve error handling for file operations
  tools/content-schema-cli/src/generate.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema-cli): use localeCompare for string sorting
  tools/content-schema-cli/src/compile.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema-cli): address SonarCloud code quality issues
  tools/content-schema-cli/src/compile.ts
  tools/content-schema-cli/src/content-compiler.ts
  tools/content-schema-cli/src/generate.ts
Due: lint, typecheck, build, generate, test-content

test(content-schema-cli): add comprehensive tests for compile.ts
  tools/content-schema-cli/src/__tests__/compile.test.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema-cli): move compile.test.ts to co-located pattern
  tools/content-schema-cli/src/compile.test.ts
Due: lint, typecheck, build, generate, test-content

fix(ci): use PAT for project board access
  .github/workflows/project-auto-link.yml
Due: none

refactor(content-schema-cli): extract pure helpers for testable coverage
  tools/content-schema-cli/src/compile-utils.test.ts
  tools/content-schema-cli/src/compile-utils.ts
  tools/content-schema-cli/src/compile.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema-cli): extract compile pipeline
  tools/content-schema-cli/src/compile-pipeline.test.ts
  tools/content-schema-cli/src/compile-pipeline.ts
  tools/content-schema-cli/src/compile.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema-cli): improve content-compiler testability with DI pattern
  tools/content-schema-cli/src/content-compiler.test.ts
  tools/content-schema-cli/src/content-compiler.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema-cli): resolve SonarCloud code quality issues
  tools/content-schema-cli/src/compile-utils.ts
  tools/content-schema-cli/src/compile.ts
  tools/content-schema-cli/src/content-compiler.ts
  tools/content-schema-cli/src/generate.ts
Due: lint, typecheck, build, generate, test-content

chore(content-schema-cli): migrate JavaScript to TypeScript (#730)
  .github/workflows/project-auto-link.yml
  pnpm-lock.yaml
  sonar-project.properties
  tools/content-schema-cli/package.json
  tools/content-schema-cli/src/__tests__/validation.property.test.ts
  tools/content-schema-cli/src/compile-pipeline.test.ts
  tools/content-schema-cli/src/compile-pipeline.ts
  tools/content-schema-cli/src/compile-utils.test.ts
  tools/content-schema-cli/src/compile-utils.ts
  tools/content-schema-cli/src/compile.js
  tools/content-schema-cli/src/compile.test.ts
  tools/content-schema-cli/src/compile.ts
  tools/content-schema-cli/src/content-compiler.js
  tools/content-schema-cli/src/content-compiler.test.ts
  tools/content-schema-cli/src/content-compiler.ts
  tools/content-schema-cli/src/generate.ts
  tools/content-schema-cli/tsconfig.json
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(progression): add resetAccumulators option to buildProgressionSnapshot
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

docs(progression): add warning about manual reset requirement for resetAccumulators
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

feat(progression): add resetAccumulators option to buildProgressionSnapshot (#731)
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

feat(progression): surface content-defined metrics in runtime snapshots
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

test(core): add coverage tests for progression-coordinator error paths
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

test(core): extend progression coordinator coverage
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

fix(progression): add error handling for metric value provider
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

feat(progression): surface content-defined metrics in runtime snapshots (#732)
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

fix(progression): add telemetry for metric value provider errors
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

feat(progression): add description field to UpgradeView (#724)
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack/normalize.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(progression): add edge case tests for upgrade description normalization
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

fix(content-schema): use positive condition in upgrade normalization
  packages/content-schema/src/pack/normalize.ts
Due: lint, typecheck, build, generate, test-content

feat(progression): add description field to UpgradeView (#733)
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack/normalize.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, generate, test-core, test-content

docs(content-schema): add validation benchmarks and caching design
  docs/validation-performance-benchmarks-caching-design.md
Due: none

feat(content-schema): add validation caching with LRU eviction
  docs/validation-performance-benchmarks-caching-design.md
  packages/content-schema/benchmarks/pack-generator.mjs
  packages/content-schema/src/__tests__/cache-integration.test.ts
  packages/content-schema/src/pack/cache.test.ts
  packages/content-schema/src/pack/cache.ts
  packages/content-schema/src/pack/digest.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/pack/types.ts
Due: lint, typecheck, build, generate, test-content

feat(content-schema): add validation benchmarks and CI integration
  .github/workflows/ci.yml
  docs/content-validation-performance.md
  packages/content-schema/benchmarks/baseline.json
  packages/content-schema/benchmarks/run-benchmarks.mjs
  packages/content-schema/benchmarks/validation.bench.mjs
  packages/content-schema/package.json
Due: lint, build, generate, test-content

fix(content-schema): improve validation cache behavior
  docs/coverage/index.md
  packages/content-schema/src/__tests__/cache-integration.test.ts
  packages/content-schema/src/pack/cache.test.ts
  packages/content-schema/src/pack/cache.ts
  packages/content-schema/src/pack/digest.test.ts
  packages/content-schema/src/pack/digest.ts
Due: lint, typecheck, build, generate, test-content

test(content-schema): make cache test deterministic
  docs/coverage/index.md
  packages/content-schema/src/__tests__/cache-integration.test.ts
Due: lint, typecheck, build, generate, test-content

chore(sonar): exclude benchmarks from coverage
  sonar-project.properties
Due: none

fix(content-schema): avoid PATH-based benchmark calls
  packages/content-schema/benchmarks/run-benchmarks.mjs
  packages/content-schema/benchmarks/validation.bench.mjs
Due: lint, build, generate, test-content

fix(content-schema): avoid regex in gitdir parsing
  packages/content-schema/benchmarks/validation.bench.mjs
Due: lint, build, generate, test-content

refactor(content-schema): address sonarcloud issues
  packages/content-schema/benchmarks/pack-generator.mjs
  packages/content-schema/benchmarks/run-benchmarks.mjs
  packages/content-schema/benchmarks/validation.bench.mjs
  packages/content-schema/src/pack/digest.ts
Due: lint, typecheck, build, generate, test-content

feat(content-schema): add validation benchmarks and caching (#734)
  .github/workflows/ci.yml
  docs/content-validation-performance.md
  docs/coverage/index.md
  docs/validation-performance-benchmarks-caching-design.md
  packages/content-schema/benchmarks/baseline.json
  packages/content-schema/benchmarks/pack-generator.mjs
  packages/content-schema/benchmarks/run-benchmarks.mjs
  packages/content-schema/benchmarks/validation.bench.mjs
  packages/content-schema/package.json
  packages/content-schema/src/__tests__/cache-integration.test.ts
  packages/content-schema/src/pack/cache.test.ts
  packages/content-schema/src/pack/cache.ts
  packages/content-schema/src/pack/digest.test.ts
  packages/content-schema/src/pack/digest.ts
  packages/content-schema/src/pack/index.ts
  packages/content-schema/src/pack/types.ts
  sonar-project.properties
Due: lint, typecheck, build, generate, test-content

docs: add entity content module design (issue 587)
  docs/entity-content-module-design-issue-587.md
Due: none
