Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

chore(design): checkpoint issue #854 design doc (design_edit)
  docs/issue-854-design.md
Due: none

feat(worker-protocol): define protocol v2 contracts with capability signaling and save/load envelopes (T1)
  packages/shell-desktop/src/sim/worker-protocol.ts
Due: lint, typecheck, build

feat(sim-runtime): add optional serialize/hydrate hooks to SimRuntime type (T2)
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat(save-storage): add atomic save persistence utility (T4)
  packages/shell-desktop/src/save-storage.test.ts
  packages/shell-desktop/src/save-storage.ts
Due: lint, typecheck, build

feat(sim-worker): implement serialize/hydrate handlers with protocol v2 ready (T3)
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

feat(main): wire save/load dev actions with capability gating and protocol normalization (T5)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

fix(shell-desktop): add accelerator to Offline Catch-Up dev menu item (T5)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

feat(shell-desktop): invoke stale temp cleanup at startup (T6)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

feat(shell-desktop): align save serialization with core binary codec (T7)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/runtime-harness.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

feat(shell-desktop): accept explicit protocolVersion 1 in ready normalization (T8)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim/worker-protocol.ts
Due: lint, typecheck, build

feat(shell-desktop): implement worker ready startup timeout (T9)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

feat(shell-desktop): enforce hydrate save version validation via core load-format (T10)
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

test(shell-desktop): add hydrate correlation timeout and duplicate coverage (T11)
  packages/shell-desktop/src/main.test.ts
Due: lint, typecheck, build

fix(shell-desktop): align validation error messages with design templates (T12)
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

test(shell-desktop): add exact validation template test coverage (T13)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/sim-worker.test.ts
Due: lint, typecheck, build

fix: keep save operation locked through disk write phase (#854)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

fix(shell-desktop): use file picker dialog for Load flow (#854)
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
Due: lint, typecheck, build

fix: only suppress ENOENT in stale temp cleanup readdir (#865)
  packages/shell-desktop/src/save-storage.test.ts
  packages/shell-desktop/src/save-storage.ts
Due: lint, typecheck, build

fix(shell-desktop): wire MCP input schemas for tool arguments
  packages/shell-desktop/package.json
  packages/shell-desktop/src/mcp/asset-tools.ts
  packages/shell-desktop/src/mcp/input-tools.ts
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
  packages/shell-desktop/src/mcp/window-tools.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(shell-desktop): add headless xpra launch and MCP smoke tooling
  README.md
  docs/shell-desktop-mcp.md
  package.json
  packages/shell-desktop/README.md
  packages/shell-desktop/package.json
  tools/scripts/shell-desktop-mcp-smoke.mjs
  tools/scripts/start-shell-desktop-headless.sh
  tools/scripts/stop-shell-desktop-xpra.sh
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(shell-desktop): enable hardware WebGPU on xpra headless Linux
  README.md
  docs/shell-desktop-mcp.md
  packages/shell-desktop/README.md
  tools/scripts/start-shell-desktop-headless.sh
  tools/scripts/xpra-xorg-wrapper.sh
Due: build

fix(shell-desktop): harden MCP transport compatibility
  docs/shell-desktop-mcp.md
  packages/shell-desktop/src/mcp/asset-tools.test.ts
  packages/shell-desktop/src/mcp/asset-tools.ts
  packages/shell-desktop/src/mcp/input-tools.test.ts
  packages/shell-desktop/src/mcp/input-tools.ts
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  packages/shell-desktop/src/mcp/sim-tools.test.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
  packages/shell-desktop/src/mcp/window-tools.test.ts
  packages/shell-desktop/src/mcp/window-tools.ts
Due: lint, typecheck, build

feat(shell-desktop): add always-on MCP gateway fallback
  README.md
  docs/shell-desktop-mcp.md
  package.json
  packages/shell-desktop/README.md
  packages/shell-desktop/package.json
  packages/shell-desktop/src/mcp/mcp-gateway-cli.ts
  packages/shell-desktop/src/mcp/mcp-gateway.test.ts
  packages/shell-desktop/src/mcp/mcp-gateway.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  tools/scripts/start-shell-desktop-headless.sh
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(shell-desktop): harden mcp gateway and tool schemas
  docs/shell-desktop-mcp.md
  packages/shell-desktop/README.md
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/asset-tools.ts
  packages/shell-desktop/src/mcp/input-tools.ts
  packages/shell-desktop/src/mcp/mcp-gateway.test.ts
  packages/shell-desktop/src/mcp/mcp-gateway.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
  packages/shell-desktop/src/mcp/window-tools.ts
Due: lint, typecheck, build

feat(shell-desktop): add daemonized always-on mcp gateway
  README.md
  docs/shell-desktop-mcp.md
  package.json
  packages/shell-desktop/README.md
  tools/scripts/start-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/status-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/stop-shell-desktop-mcp-gateway-daemon.sh
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(shell-desktop): correct sim step semantics and crash restart
  docs/coverage/index.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/sim-tools.test.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
Due: lint, typecheck, build

fix(shell-desktop): accept bracketed IPv6 loopback backend URL
  docs/coverage/index.md
  packages/shell-desktop/src/mcp/mcp-gateway.test.ts
  packages/shell-desktop/src/mcp/mcp-gateway.ts
Due: lint, typecheck, build

fix(shell-desktop): resolve SonarCloud PR findings
  packages/shell-desktop/src/mcp/input-tools.ts
  packages/shell-desktop/src/mcp/mcp-gateway-cli.ts
  packages/shell-desktop/src/mcp/mcp-gateway.test.ts
  packages/shell-desktop/src/mcp/mcp-gateway.ts
  tools/scripts/start-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/status-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/stop-shell-desktop-mcp-gateway-daemon.sh
Due: lint, typecheck, build

test(shell-desktop): raise PR coverage for MCP startup paths
  docs/coverage/index.md
  packages/shell-desktop/src/mcp/mcp-server.test.ts
Due: lint, typecheck, build

fix(shell-desktop): harden sim enqueue and step bounds
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/sim-tools.test.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
Due: lint, typecheck, build

fix(shell-desktop): address MCP review findings
  docs/coverage/index.md
  packages/shell-desktop/src/mcp/mcp-gateway.test.ts
  packages/shell-desktop/src/mcp/mcp-gateway.ts
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
  tools/scripts/start-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/status-shell-desktop-mcp-gateway-daemon.sh
Due: lint, typecheck, build

feat(shell-desktop): add embedded MCP server scaffold (#860)
  README.md
  docs/coverage/index.md
  docs/issue-857-design.md
  docs/shell-desktop-mcp.md
  jeeves/issue.json
  jeeves/progress.txt
  jeeves/sonar-issues.json
  package.json
  packages/docs/package.json
  packages/docs/scripts/test-docs.mjs
  packages/docs/sidebars.ts
  packages/shell-desktop/README.md
  packages/shell-desktop/package.json
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/mcp/asset-tools.test.ts
  packages/shell-desktop/src/mcp/asset-tools.ts
  packages/shell-desktop/src/mcp/input-tools.test.ts
  packages/shell-desktop/src/mcp/input-tools.ts
  packages/shell-desktop/src/mcp/mcp-gateway-cli.ts
  packages/shell-desktop/src/mcp/mcp-gateway.test.ts
  packages/shell-desktop/src/mcp/mcp-gateway.ts
  packages/shell-desktop/src/mcp/mcp-server.test.ts
  packages/shell-desktop/src/mcp/mcp-server.ts
  packages/shell-desktop/src/mcp/sim-tools.test.ts
  packages/shell-desktop/src/mcp/sim-tools.ts
  packages/shell-desktop/src/mcp/window-tools.test.ts
  packages/shell-desktop/src/mcp/window-tools.ts
  pnpm-lock.yaml
  tools/scripts/shell-desktop-mcp-smoke.mjs
  tools/scripts/start-shell-desktop-headless.sh
  tools/scripts/start-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/status-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/stop-shell-desktop-mcp-gateway-daemon.sh
  tools/scripts/stop-shell-desktop-xpra.sh
  tools/scripts/xpra-xorg-wrapper.sh
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(shell-desktop): add test-game MCP backend workflow and screenshots
  README.md
  docs/assets/screenshots/test-game-webgpu/test-game-paused.png
  docs/assets/screenshots/test-game-webgpu/test-game-running.png
  docs/shell-desktop-mcp.md
  package.json
Due: lint, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(renderer-webgpu): correct quad instance upload size units
  docs/assets/screenshots/test-game-webgpu/test-game-running-post-fix.png
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(shell-desktop): add MCP gap-audit demo harness
  README.md
  docs/evidence/shell-demo-gap-audit/README.md
  docs/evidence/shell-demo-gap-audit/screens/.gitkeep
  docs/evidence/shell-demo-gap-audit/screens/010-baseline-startup-1280x720.png
  docs/evidence/shell-demo-gap-audit/screens/020-resize-wide-1600x500.png
  docs/evidence/shell-demo-gap-audit/screens/030-input-control-and-pointer.png
  docs/evidence/shell-demo-gap-audit/screens/040-pause-step-clip-stack.png
  docs/evidence/shell-demo-gap-audit/screens/050-draw-burst-enqueue.png
  docs/evidence/shell-demo-gap-audit/screens/060-text-wall-asset-tools.png
  docs/evidence/shell-demo-gap-audit/screens/070-stop-start-mixed.png
  docs/evidence/shell-demo-gap-audit/screens/080-long-run-drift-spot-check.png
  docs/evidence/shell-demo-gap-audit/screens/capture-report.json
  docs/issue-shell-demo-gap-audit-template.md
  package.json
  packages/shell-desktop/README.md
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
  tools/scripts/shell-desktop-gap-audit.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(skill): add shell-desktop-mcp automation skill
  shell-desktop-mcp/SKILL.md
  shell-desktop-mcp/agents/openai.yaml
  shell-desktop-mcp/references/tool-workflows.md
Due: none

fix(renderer-webgpu): correct typed-array writeBuffer sizing
  docs/coverage/index.md
  docs/issue-847-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(renderer-webgpu): correct typed-array writeBuffer sizing (#867)
  docs/coverage/index.md
  docs/issue-847-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
