Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

perf(renderer-webgpu): reduce quad/text batching allocations (#816)
  docs/coverage/index.md
  docs/issue-809-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/sprite-batching.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(shell-desktop): use monotonic clock + clamp tick deltaMs (#807)
  docs/issue-807-design.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/monotonic-time.ts
Due: lint, typecheck, build

chore(docs): update coverage report (#807)
  docs/coverage/index.md
Due: none

docs(issue-807): remove trailing whitespace
  docs/issue-807-design.md
Due: none

fix(shell-desktop): use monotonic clock + clamp tick deltaMs (#817)
  docs/coverage/index.md
  docs/issue-807-design.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/monotonic-time.ts
Due: lint, typecheck, build

fix(renderer-webgpu): destroy GPU resources on dispose (#811)
  docs/issue-811-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

docs(coverage): refresh coverage report (#811)
  docs/coverage/index.md
Due: none

test(renderer-webgpu): improve edge-case coverage
  docs/coverage/index.md
  packages/renderer-webgpu/src/webgpu-renderer.atlas-errors.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
Due: lint, typecheck, build

fix(renderer-webgpu): defer instance buffer destruction
  docs/coverage/index.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

fix(renderer-webgpu): destroy GPU resources on dispose (#818)
  docs/coverage/index.md
  docs/issue-811-design.md
  packages/renderer-webgpu/dist/webgpu-renderer.d.ts.map
  packages/renderer-webgpu/dist/webgpu-renderer.js
  packages/renderer-webgpu/dist/webgpu-renderer.js.map
  packages/renderer-webgpu/src/webgpu-renderer.atlas-errors.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.test.ts
  packages/renderer-webgpu/src/webgpu-renderer.ts
Due: lint, typecheck, build

feat(docs): create content schema reference (#773)
  docs/content-schema-reference.md
  docs/issue-773-design.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

fix(docs): fix markdownlint list spacing in design doc
  docs/issue-773-design.md
Due: none

test: add verification for content schema docs
  docs/coverage/index.md
  packages/content-schema/src/__tests__/docs-schema-ref.test.ts
Due: lint, typecheck, build, generate, test-content

feat(docs): create content schema reference (#773) (#819)
  docs/content-schema-reference.md
  docs/coverage/index.md
  docs/issue-773-design.md
  packages/content-schema/src/__tests__/docs-schema-ref.test.ts
  packages/docs/sidebars.ts
Due: lint, typecheck, build, generate, test-content

feat(renderer-contract): inline RFC 8785 canonicalization (#826)
  packages/renderer-contract/dist/hashing.d.ts.map
  packages/renderer-contract/dist/hashing.js
  packages/renderer-contract/dist/hashing.js.map
  packages/renderer-contract/package.json
  packages/renderer-contract/src/hashing.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

test(renderer-contract): add RFC 8785 edge case coverage (#826)
  docs/coverage/index.md
  packages/renderer-contract/src/hashing.test.ts
  ralph/issue.json
Due: lint, typecheck, build

chore(ralph): update coverage status to complete
  ralph/issue.json
  ralph/progress.txt
Due: lint

fix(renderer-contract): use locale-independent comparator for RFC 8785 (#826)
  packages/renderer-contract/src/hashing.ts
Due: lint, typecheck, build

chore(renderer-contract): fix SonarCloud style issue and ignore ralph/ directory
  .gitignore
  packages/renderer-contract/dist/hashing.d.ts.map
  packages/renderer-contract/dist/hashing.js
  packages/renderer-contract/dist/hashing.js.map
  packages/renderer-contract/src/hashing.ts
  ralph/issue.json
  ralph/progress.txt
Due: lint, typecheck, build

refactor(renderer-contract): extract comparator function for RFC 8785 key sorting (#826)
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/hashing.ts
Due: lint, typecheck, build

feat(renderer-contract): inline RFC 8785 canonicalization (#827)
  .gitignore
  docs/coverage/index.md
  packages/renderer-contract/dist/hashing.d.ts.map
  packages/renderer-contract/dist/hashing.js
  packages/renderer-contract/dist/hashing.js.map
  packages/renderer-contract/package.json
  packages/renderer-contract/src/hashing.test.ts
  packages/renderer-contract/src/hashing.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

docs(content): add cost calculation formulas (#775)
  docs/content-dsl-usage-guidelines.md
  docs/issue-775-design.md
Due: none

docs(content): clarify upgrade vs generator cost formulas
  docs/content-dsl-usage-guidelines.md
  docs/issue-775-design.md
Due: none

fix(docs): escape LaTeX math notation for MDX compatibility
  docs/issue-775-design.md
Due: none

docs(content): add cost calculation formulas (#775) (#828)
  docs/content-dsl-usage-guidelines.md
  docs/issue-775-design.md
Due: none

feat(shell-desktop): passthrough mouse control events (#820)
  docs/coverage/index.md
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

test(shell-desktop): cover edge cases
  docs/coverage/index.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/monotonic-time.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
Due: lint, typecheck, build

chore(shell-desktop): harden passthrough contract
  docs/coverage/index.md
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
Due: lint, typecheck, build

fix(shell-desktop): handle passthrough control commands
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

chore(shell-desktop): avoid void in handler
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat(shell-desktop): passthrough mouse control events (#829)
  docs/coverage/index.md
  packages/shell-desktop/src/ipc.test.ts
  packages/shell-desktop/src/ipc.ts
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/monotonic-time.test.ts
  packages/shell-desktop/src/renderer/index.test.ts
  packages/shell-desktop/src/renderer/index.ts
  packages/shell-desktop/src/sim/sim-runtime.test.ts
  packages/shell-desktop/src/sim/sim-runtime.ts
Due: lint, typecheck, build

feat(shell-desktop): coalesce sim frames over IPC (#808)
  docs/coverage/index.md
  docs/issue-808-design.md
  packages/shell-desktop/src/main.test.ts
  packages/shell-desktop/src/main.ts
  packages/shell-desktop/src/sim-worker.test.ts
  packages/shell-desktop/src/sim-worker.ts
Due: lint, typecheck, build

test(shell-desktop): cover frame forwarding error path
  docs/coverage/index.md
  packages/shell-desktop/src/main.test.ts
Due: lint, typecheck, build

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
