Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

fix(core): expose transform system in runtime wiring
  packages/core/src/content-test-helpers.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

docs: update wiring helper transform notes
  docs/runtime-wiring-helper-design-issue-525.md
Due: none

fix(core): expose transform system in runtime wiring (#613)
  docs/runtime-wiring-helper-design-issue-525.md
  packages/core/src/content-test-helpers.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

test(core): cover transform wiring
  docs/coverage/index.md
  packages/core/src/game-runtime-wiring.test.ts
Due: lint, typecheck, build, test-core

test(core): cover transform wiring (#614)
  docs/coverage/index.md
  packages/core/src/game-runtime-wiring.test.ts
Due: lint, typecheck, build, test-core

feat(core): extend progression snapshot views
  docs/coverage/index.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/transform-system.ts
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): guard transform snapshot canAfford
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

feat(automation): add visibility conditions
  docs/automation-authoring-guide.md
  docs/content-dsl-schema-design.md
  packages/content-schema/src/modules/automations.ts
  packages/content-schema/src/pack.ts
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(core): extend progression snapshot views (#615)
  docs/automation-authoring-guide.md
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/content-schema/src/modules/automations.ts
  packages/content-schema/src/pack.ts
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/core/src/transform-system.ts
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(core): add runtime wiring serialize/hydrate (Fixes #600)
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(core): preserve saved step on hydrate
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

chore(docs): update coverage report
  docs/coverage/index.md
Due: none

feat(core): add runtime wiring serialize/hydrate (#616)
  docs/coverage/index.md
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

feat: add generator consumption upgrade effect
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/upgrade-effects.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat: add generator consumption upgrade effect (#617)
  docs/content-dsl-schema-design.md
  packages/content-schema/src/index.test.ts
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/upgrade-effects.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(content-schema): add generator initialLevel (Fixes #602)
  content/compiled/index.json
  docs/content-dsl-schema-design.md
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/factories.test.ts
  packages/content-schema/src/modules/__tests__/generators.test.ts
  packages/content-schema/src/modules/generators.ts
  packages/core/src/content-test-helpers.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/shell-web/src/modules/test-helpers.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

docs: migrate runtime-step-lifecycle to template format
  docs/runtime-step-lifecycle.md
Due: none

docs: migrate runtime-event-manifest-authoring to template format
  docs/runtime-event-manifest-authoring.md
Due: none

docs: migrate project-board-workflow to template format
  docs/project-board-workflow.md
Due: none

docs: migrate tick-accumulator-coverage-design to template format
  docs/tick-accumulator-coverage-design.md
Due: none

docs: migrate runtime-event-bus-decisions to template format
  docs/runtime-event-bus-decisions.md
Due: none

docs: migrate runtime-command-queue-validation-plan to template format
  docs/runtime-command-queue-validation-plan.md
Due: none

docs: migrate content-validation-cli-design to template format
  docs/content-validation-cli-design.md
Due: none

docs: migrate runtime-event-pubsub-design to template format
  docs/runtime-event-pubsub-design.md
Due: none

docs: migrate content-schema-rollout-decisions to template format
  docs/content-schema-rollout-decisions.md
Due: none

docs: migrate implementation-plan to template format
  docs/implementation-plan.md
Due: none

docs: migrate content-compiler-design to template format
  docs/content-compiler-design.md
Due: none

docs: migrate runtime-command-queue-design to template format
  docs/runtime-command-queue-design.md
Due: none

docs: migrate content-dsl-schema-design to template format
  docs/content-dsl-schema-design.md
Due: none

docs: migrate resource-state-storage-design to template format
  docs/resource-state-storage-design.md
Due: none

docs: migrate runtime-command-queue-validation-plan to template format (#624)
  docs/runtime-command-queue-validation-plan.md
Due: none

fix: remove invalid sidebar_position from front matter
  docs/runtime-event-manifest-authoring.md
Due: none

fix: remove invalid sidebar_position from front matter
  docs/runtime-step-lifecycle.md
Due: none
