Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

feat(core): use display names in unlock hints (Fixes #553)
  docs/coverage/index.md
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/condition-evaluator.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

test(core): cover unlock hint display names
  docs/coverage/index.md
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

test(core): cover unlock hint name resolution
  docs/coverage/index.md
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

feat(core): use display names in unlock hints (#657)
  docs/coverage/index.md
  packages/core/src/condition-evaluator.test.ts
  packages/core/src/condition-evaluator.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

feat(core): add offline fast path (Fixes #565)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
Due: lint, typecheck, build, test-core

feat(offline): persist fast-path snapshot metadata (Fixes #565)
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.test.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-runtime-bridge-contracts, test-shell-a11y

feat(offline): validate content metadata for fast path (Fixes #565)
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  packages/content-schema/src/modules/__tests__/metadata.test.ts
  packages/content-schema/src/modules/metadata.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, generate, test-content, test-shell-a11y

test(core,shell-web): cover offline fast path validation
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  packages/core/src/offline-progress.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): sync offline fast path accumulators
  docs/coverage/index.md
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(shell-web): gate offline fast path restore
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): sync offline fast path production
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

test(core): cover fastForward and fast-path fallbacks
  packages/core/src/index.test.ts
  packages/core/src/offline-progress.test.ts
Due: lint, typecheck, build, test-core

feat(core): add offline fast path (#658)
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  docs/runtime-worker-bridge-runbook.md
  packages/content-schema/src/modules/__tests__/metadata.test.ts
  packages/content-schema/src/modules/metadata.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
  packages/core/src/production-system.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.test.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/autosave-controller.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(core): add offline catch-up caps and progress (Fixes #566)
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  packages/core/src/command.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/offline-catchup-command-handlers.ts
  packages/core/src/offline-progress-limits.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

test: cover offline progress caps and restore validation
  docs/runtime-react-worker-bridge-design.md
  packages/core/src/offline-progress.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

test(shell-web): cover restore cap forwarding
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(core): cover offline progress limit edges
  docs/runtime-command-queue-design.md
  packages/core/src/offline-progress.test.ts
Due: lint, typecheck, build, test-core

fix(shell-web): apply offline caps in fast path
  docs/coverage/index.md
  docs/runtime-react-worker-bridge-design.md
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(offline): tighten cap validation and progress tests
  docs/coverage/index.md
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): define offline cap edge cases
  docs/coverage/index.md
  docs/runtime-command-queue-design.md
  docs/runtime-react-worker-bridge-design.md
  packages/core/src/offline-progress-limits.ts
  packages/core/src/offline-progress.test.ts
Due: lint, typecheck, build, test-core

feat(core): add offline catch-up caps and progress (#659)
  docs/coverage/index.md
  docs/runtime-command-queue-design.md
  docs/runtime-react-worker-bridge-design.md
  packages/core/src/command.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/offline-catchup-command-handlers.test.ts
  packages/core/src/offline-catchup-command-handlers.ts
  packages/core/src/offline-progress-limits.ts
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/session-persistence-adapter.test.ts
  packages/shell-web/src/modules/session-persistence-adapter.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

fix(docs): repair rollout decisions anchor (Fixes #660)
  docs/idle-engine-design.md
Due: none

chore: remove docker scaffolding
  docker-compose.yml
  docs/global-economy-ledger-design.md
  docs/idle-engine-design.md
  docs/implementation-plan.md
  services/social/Dockerfile
Due: build, test-core

chore: remove social service package
  AGENTS.md
  README.md
  docs/content-dsl-schema-design.md
  docs/content-schema-rollout-decisions.md
  docs/contributor-handbook.md
  docs/coverage-report-automation-design.md
  docs/design-document-template.md
  docs/global-economy-ledger-design.md
  docs/idle-engine-design.md
  docs/implementation-plan.md
  docs/role-index.md
  docs/runtime-event-pubsub-design.md
  docs/state-synchronization-protocol-design.md
  game-design-doc/assets/design-document-template.md
  lefthook.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/social/README.md
  services/social/eslint.config.js
  services/social/package.json
  services/social/src/index.ts
  services/social/src/ledger/in-memory-economy-ledger.test.ts
  services/social/src/ledger/in-memory-economy-ledger.ts
  services/social/src/middleware/auth.ts
  services/social/src/routes/economy.test.ts
  services/social/src/routes/economy.ts
  services/social/src/routes/guild.test.ts
  services/social/src/routes/guild.ts
  services/social/src/routes/leaderboard.test.ts
  services/social/src/routes/leaderboard.ts
  services/social/src/stores/in-memory-guild-store.ts
  services/social/src/types/economy.ts
  services/social/src/types/express.d.ts
  services/social/src/types/guild.ts
  services/social/tsconfig.json
  services/social/vitest.config.ts
  tools/economy-verification/README.md
  tools/scripts/run-fast-tests.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore: remove docker scaffolding (#663)
  AGENTS.md
  README.md
  docker-compose.yml
  docs/content-dsl-schema-design.md
  docs/content-schema-rollout-decisions.md
  docs/contributor-handbook.md
  docs/coverage-report-automation-design.md
  docs/design-document-template.md
  docs/global-economy-ledger-design.md
  docs/idle-engine-design.md
  docs/implementation-plan.md
  docs/role-index.md
  docs/runtime-event-pubsub-design.md
  docs/state-synchronization-protocol-design.md
  game-design-doc/assets/design-document-template.md
  lefthook.yml
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/social/Dockerfile
  services/social/README.md
  services/social/eslint.config.js
  services/social/package.json
  services/social/src/index.ts
  services/social/src/ledger/in-memory-economy-ledger.test.ts
  services/social/src/ledger/in-memory-economy-ledger.ts
  services/social/src/middleware/auth.ts
  services/social/src/routes/economy.test.ts
  services/social/src/routes/economy.ts
  services/social/src/routes/guild.test.ts
  services/social/src/routes/guild.ts
  services/social/src/routes/leaderboard.test.ts
  services/social/src/routes/leaderboard.ts
  services/social/src/stores/in-memory-guild-store.ts
  services/social/src/types/economy.ts
  services/social/src/types/express.d.ts
  services/social/src/types/guild.ts
  services/social/tsconfig.json
  services/social/vitest.config.ts
  tools/economy-verification/README.md
  tools/scripts/run-fast-tests.mjs
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

docs: add command transport design for issue 545
  docs/runtime-command-transport-design-issue-545.md
Due: none

docs: add command transport design for issue 545 (#667)
  docs/runtime-command-transport-design-issue-545.md
Due: none

feat(core): add command transport types
  docs/runtime-command-transport-design-issue-545.md
  packages/core/src/command-transport.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
