Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

feat(core): change PrestigeResetPayload.layer to layerId (#445)
  packages/core/src/command.ts
Due: lint, typecheck, build, test-core

feat(core): add PrestigeLayerView types
  packages/core/src/index.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): add PrestigeLayerView types (#446)
  packages/core/src/index.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): implement PrestigeSystemEvaluator interface
  packages/core/src/index.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.ts
Due: lint, typecheck, build, test-core

feat(core): implement PrestigeSystemEvaluator interface (#447)
  packages/core/src/index.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.ts
Due: lint, typecheck, build, test-core

feat(core): add PRESTIGE_RESET handler
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
Due: lint, typecheck, build, test-core

feat(core): add PRESTIGE_RESET handler (#448)
  packages/core/src/resource-command-handlers.test.ts
  packages/core/src/resource-command-handlers.ts
Due: lint, typecheck, build, test-core

feat(core): extend buildProgressionSnapshot with prestigeLayers
  packages/core/src/index.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

feat(core): extend buildProgressionSnapshot with prestigeLayers (#449)
  packages/core/src/index.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

feat(core): extend buildProgressionSnapshot with prestigeLayers (#449)
  packages/core/src/index.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(shell-web): implement ContentPrestigeEvaluator.applyPrestige()
  packages/core/src/index.ts
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(shell-web): capture pre-reset formula context for retention formulas
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/modules/test-helpers.ts
Due: lint, typecheck, build, test-shell-a11y

refactor(core): encapsulate __unsafeWriteAmountDirect in applyPrestigeReset
  packages/core/src/index.ts
  packages/core/src/prestige-reset.test.ts
  packages/core/src/prestige-reset.ts
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

refactor(shell-web): address code review feedback for prestige evaluator
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-shell-a11y

docs(shell-web): add clarifying comments for prestige retention logic
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-shell-a11y

refactor(core,shell-web): address code review feedback for prestige system
  docs/prestige-system-completion-design.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/prestige-reset.test.ts
  packages/core/src/prestige-reset.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

chore: remove package-lock.json
  package-lock.json
Due: lint

Auto-commit
  package-lock.json
  package.json
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js.map
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(core): extend buildProgressionSnapshot with prestigeLayers (#449)
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): add hasPrestigeLayerUnlocked hook and remove errant pnpm dep
  package.json
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

fix(shell-web): protect prestige counter from reset in resetTargets
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-shell-a11y

fix(prestige): add fail-fast validation and bonus layer tests
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/core/src/prestige-reset.test.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

test(shell-web): add PRESTIGE_RESET command handler integration tests
  packages/shell-web/src/modules/progression-coordinator.test.ts
Due: lint, typecheck, build, test-shell-a11y

fix: remove errant pnpm dependency from lockfile
  pnpm-lock.yaml
Due: build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(shell-web): wire PrestigeSystemEvaluator in worker (#450)
  content/compiled/index.json
  docs/prestige-system-completion-design.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/index.ts
  packages/core/src/prestige-reset.test.ts
  packages/core/src/prestige-reset.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/modules/test-helpers.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(shell-web): implement confirmationToken validation in applyPrestige
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): properly restore Date.now spy in token expiration test
  packages/shell-web/src/modules/progression-coordinator.test.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): implement confirmationToken validation in applyPrestige (#452)
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
Due: lint, typecheck, build, test-shell-a11y

chore: add .worktrees/ to gitignore
  .gitignore
Due: none

chore: add .worktrees/ to gitignore (#458)
  .gitignore
Due: none

fix(content-schema): preserve null capacity for unlimited resources
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/modules/__tests__/resources.test.ts
  packages/content-schema/src/modules/resources.ts
Due: lint, typecheck, build, generate, test-content

test: add integration tests for null capacity preservation
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/core/src/resource-state.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

fix(content-schema): preserve null capacity for unlimited resources (#459)
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-schema/src/__tests__/__snapshots__/normalization-snapshots.test.ts.snap
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/modules/__tests__/resources.test.ts
  packages/content-schema/src/modules/resources.ts
  packages/core/src/resource-state.test.ts
Due: lint, typecheck, build, generate, test-core, test-content
