Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

feat(core): unify game-state save format
  packages/core/src/automation-system.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/resource-state.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

feat(core): unify game-state save format (#549)
  packages/core/src/automation-system.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-coordinator-save.ts
  packages/core/src/resource-state.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

feat(core): automation-triggered transforms
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/events/runtime-event-base-metadata.json
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, generate, test-core

test(core): use mock event publisher in manual ticks
  packages/core/src/progression-coordinator.test.ts
Due: lint, typecheck, build, test-core

refactor(core): narrow automation:fired triggerKind type
  packages/core/src/events/runtime-event-catalog.ts
Due: lint, typecheck, build, test-core

test(core): cover automation:fired payload semantics
  packages/core/src/automation-system.test.ts
  packages/core/src/transform-system.test.ts
Due: lint, typecheck, build, test-core

feat(core): automation-triggered transforms (#550)
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/events/runtime-event-base-metadata.json
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, generate, test-core

feat(core): add progression snapshot selectors
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression-selectors.ts
Due: lint, typecheck, build, test-core

feat(core): add progression snapshot selectors (#551)
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/progression-selectors.test.ts
  packages/core/src/progression-selectors.ts
Due: lint, typecheck, build, test-core

feat(core): add generator unlock hints to snapshots
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/progression-coordinator-design.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/condition-evaluator.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

chore(core): tidy generator unlockHint indentation
  packages/core/src/progression-coordinator.ts
Due: lint, typecheck, build, test-core

fix(core): refine unlockHint generation
  packages/core/src/condition-evaluator.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

chore(core): rebuild dist
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
Due: lint, build, test-core

feat(core): add generator unlock hints to snapshots (#552)
  docs/build-resource-generator-upgrade-ui-components-design.md
  docs/progression-coordinator-design.md
  packages/core/dist/progression.d.ts
  packages/core/dist/progression.d.ts.map
  packages/core/dist/progression.js
  packages/core/dist/progression.js.map
  packages/core/src/condition-evaluator.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression.test.ts
  packages/core/src/progression.ts
Due: lint, typecheck, build, test-core

docs: add runtime wiring helper design doc
  docs/runtime-wiring-helper-design-issue-525.md
Due: none

docs: resolve runtime wiring helper open questions (issue-525)
  docs/runtime-wiring-helper-design-issue-525.md
Due: none

docs(issue-525): refine runtime wiring helper design
  docs/runtime-wiring-helper-design-issue-525.md
Due: none

docs(issue-525): resolve wiring helper decisions
  docs/runtime-wiring-helper-design-issue-525.md
Due: none

docs: add runtime wiring helper design doc (issue-525) (#561)
  docs/runtime-wiring-helper-design-issue-525.md
Due: none

feat(core): add runtime wiring helper
  docs/coverage/index.md
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(core): validate wireGameRuntime step alignment
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

feat(core): add runtime wiring helper (#562)
  docs/coverage/index.md
  packages/core/src/game-runtime-wiring.test.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(generate): sync core runtime manifest dist (Fixes #530)
  docs/runtime-event-manifest-authoring.md
  packages/core/src/events/event-bus.test.ts
  packages/core/src/events/event-bus.ts
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/content-schema-cli/src/compile.js
Due: lint, typecheck, build, generate, test-core, test-content

fix(generate): skip core dist manifest drift when missing
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/content-schema-cli/src/compile.js
Due: lint, build, generate, test-content

fix(generate): sync core runtime manifest dist (#563)
  docs/runtime-event-manifest-authoring.md
  packages/core/src/events/event-bus.test.ts
  packages/core/src/events/event-bus.ts
  tools/content-schema-cli/src/__tests__/compile.test.js
  tools/content-schema-cli/src/compile.js
Due: lint, typecheck, build, generate, test-core, test-content

perf(core): batch offline catch-up ticks
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
Due: lint, typecheck, build, test-core

perf(core): batch offline catch-up ticks (#564)
  packages/core/src/offline-progress.test.ts
  packages/core/src/offline-progress.ts
Due: lint, typecheck, build, test-core

feat(core): support resource capacity modifiers (Fixes #526)
  docs/content-dsl-schema-design.md
  docs/content-schema-rollout-decisions.md
  docs/coverage/index.md
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/upgrade-effects.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(core): support resource capacity modifiers (Fixes #526) (#567)
  docs/content-dsl-schema-design.md
  docs/content-schema-rollout-decisions.md
  docs/coverage/index.md
  packages/content-schema/src/modules/upgrades.ts
  packages/content-schema/src/pack.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/upgrade-effects.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(core,shell-web): transform batch persistence (Fixes #540)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/resource-state.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/test-helpers.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

feat(core,shell-web): transform batch persistence (Fixes #540) (#568)
  docs/coverage/index.md
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
  packages/core/src/resource-state.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
  packages/runtime-bridge-contracts/src/runtime-worker-protocol.ts
  packages/shell-web/src/modules/test-helpers.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-runtime-bridge-contracts, test-shell-a11y

fix(content-schema): allow resource self-threshold unlocks
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content

fix(content-schema): allow resource self-threshold unlocks (#569)
  docs/content-dsl-schema-design.md
  docs/content-dsl-usage-guidelines.md
  docs/coverage/index.md
  packages/content-schema/src/__fixtures__/integration-packs.ts
  packages/content-schema/src/__tests__/integration.test.ts
  packages/content-schema/src/pack.ts
Due: lint, typecheck, build, generate, test-content
