Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/tsconfig*.json"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/tsconfig*.json"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/tsconfig*.json"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
        - "tsconfig*.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "packages/core/src/events/runtime-event-base-metadata.json"
        - "packages/core/src/events/runtime-event-manifest.generated.ts"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-runtime-bridge-contracts:
      glob:
        - "packages/runtime-bridge-contracts/**"
        - "packages/config-vitest/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - ".npmrc"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
    validate-runtime-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/validate-runtime-version.mjs
    validate-generated-version:
      glob:
        - "packages/core/package.json"
        - "packages/core/src/version.ts"
      run: node tools/scripts/generate-version.mjs --check

feat(core): add PRD mission execution + persistence (#741)
  docs/coverage/index.md
  docs/rng-prd-design-issue-590.md
  docs/runtime-client-prediction-rollback-design-issue-546.md
  docs/state-synchronization-protocol-design.md
  packages/content-schema/src/base/formulas.property.test.ts
  packages/core/src/__tests__/state-sync.property.test.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.test.ts
  packages/core/src/game-state-save.ts
  packages/core/src/index.browser.ts
  packages/core/src/rng-prd.test.ts
  packages/core/src/rng.ts
  packages/core/src/state-sync/capture.test.ts
  packages/core/src/state-sync/capture.ts
  packages/core/src/state-sync/checksum.test.ts
  packages/core/src/state-sync/checksum.ts
  packages/core/src/state-sync/compare.test.ts
  packages/core/src/state-sync/compare.ts
  packages/core/src/state-sync/prediction-manager.test.ts
  packages/core/src/state-sync/restore-runtime.ts
  packages/core/src/state-sync/restore.test.ts
  packages/core/src/state-sync/types.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
  tools/content-schema-cli/src/compile.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

refactor(content-schema): split cross-reference validators
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/content-schema/src/pack/validators/achievements.ts
  packages/content-schema/src/pack/validators/allowlists.ts
  packages/content-schema/src/pack/validators/automations.ts
  packages/content-schema/src/pack/validators/conditions.ts
  packages/content-schema/src/pack/validators/entities.ts
  packages/content-schema/src/pack/validators/formulas.ts
  packages/content-schema/src/pack/validators/generators.ts
  packages/content-schema/src/pack/validators/index.ts
  packages/content-schema/src/pack/validators/metrics.ts
  packages/content-schema/src/pack/validators/prestige-layers.ts
  packages/content-schema/src/pack/validators/resources.ts
  packages/content-schema/src/pack/validators/runtime-events.ts
  packages/content-schema/src/pack/validators/state.ts
  packages/content-schema/src/pack/validators/transforms.ts
  packages/content-schema/src/pack/validators/upgrade-effects.ts
  packages/content-schema/src/pack/validators/upgrades.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema): reduce automation validator complexity
  packages/content-schema/src/pack/validators/automations.ts
Due: lint, typecheck, build, generate, test-content

refactor(content-schema): split cross-reference validators (#743)
  packages/content-schema/src/pack/validate-cross-references.ts
  packages/content-schema/src/pack/validators/achievements.ts
  packages/content-schema/src/pack/validators/allowlists.ts
  packages/content-schema/src/pack/validators/automations.ts
  packages/content-schema/src/pack/validators/conditions.ts
  packages/content-schema/src/pack/validators/entities.ts
  packages/content-schema/src/pack/validators/formulas.ts
  packages/content-schema/src/pack/validators/generators.ts
  packages/content-schema/src/pack/validators/index.ts
  packages/content-schema/src/pack/validators/metrics.ts
  packages/content-schema/src/pack/validators/prestige-layers.ts
  packages/content-schema/src/pack/validators/resources.ts
  packages/content-schema/src/pack/validators/runtime-events.ts
  packages/content-schema/src/pack/validators/state.ts
  packages/content-schema/src/pack/validators/transforms.ts
  packages/content-schema/src/pack/validators/upgrade-effects.ts
  packages/content-schema/src/pack/validators/upgrades.ts
Due: lint, typecheck, build, generate, test-content

feat(core): execute mission outcomes at completion
  packages/core/src/events/runtime-event-base-metadata.json
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, generate, test-core

refactor(core): consolidate MissionOutcomeKind type definition
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

test(core): add mission event and validation coverage
  packages/core/src/transform-system.test.ts
Due: lint, typecheck, build, test-core

test(core): improve coverage for runtime events
  docs/coverage/index.md
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/transform-system.test.ts
Due: lint, typecheck, build, test-core

fix(sonar): address leak-period code smells
  packages/content-compiler/src/artifacts/json.ts
  packages/content-compiler/src/fs/discovery.ts
  packages/content-compiler/src/runtime.ts
  packages/content-schema/src/base/formulas.arbitraries.ts
  packages/docs/remark-lint-no-angle-brackets.mjs
  tools/content-schema-cli/src/content-compiler.ts
Due: lint, typecheck, build, generate, test-content

fix(sonar): reduce cognitive complexity and use TypeError for type errors
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

refactor(core): address SonarCloud smells
  packages/core/src/transform-system.ts
Due: lint, typecheck, build, test-core

feat(core): mission outcomes roll at completion (#744)
  docs/coverage/index.md
  packages/content-compiler/src/artifacts/json.ts
  packages/content-compiler/src/fs/discovery.ts
  packages/content-compiler/src/runtime.ts
  packages/content-schema/src/base/formulas.arbitraries.ts
  packages/core/src/events/runtime-event-base-metadata.json
  packages/core/src/events/runtime-event-catalog.test.ts
  packages/core/src/events/runtime-event-catalog.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/core/src/transform-command-handlers.ts
  packages/core/src/transform-system.test.ts
  packages/core/src/transform-system.ts
  packages/docs/remark-lint-no-angle-brackets.mjs
  tools/content-schema-cli/src/content-compiler.ts
Due: lint, typecheck, build, generate, test-core, test-content

test(core): add test coverage for critical untested modules
  packages/core/src/command-authorization.test.ts
  packages/core/src/command-validation.test.ts
  packages/core/src/command.test.ts
  packages/core/src/immutable-snapshots.test.ts
  packages/core/src/offline-progress-limits.test.ts
  packages/core/src/offline-resource-deltas.test.ts
  packages/core/src/rng.test.ts
  packages/core/src/runtime-state.test.ts
  packages/core/src/upgrade-effects.test.ts
Due: lint, typecheck, build, test-core

added coverage docs
  docs/coverage/index.md
Due: none

test(core): add test coverage for critical untested modules (#754)
  docs/coverage/index.md
  packages/core/src/command-authorization.test.ts
  packages/core/src/command-validation.test.ts
  packages/core/src/command.test.ts
  packages/core/src/immutable-snapshots.test.ts
  packages/core/src/offline-progress-limits.test.ts
  packages/core/src/offline-resource-deltas.test.ts
  packages/core/src/rng.test.ts
  packages/core/src/runtime-state.test.ts
  packages/core/src/upgrade-effects.test.ts
Due: lint, typecheck, build, test-core

refactor(core): split ProgressionCoordinator into managers
  docs/coverage/index.md
  packages/core/src/progression-coordinator.achievement-hydration-derived-rewards.test.ts
  packages/core/src/progression-coordinator.achievement-reward-types.test.ts
  packages/core/src/progression-coordinator.achievement-track-types.test.ts
  packages/core/src/progression-coordinator.integration-bulk-purchase.test.ts
  packages/core/src/progression-coordinator.integration-error-messages.test.ts
  packages/core/src/progression-coordinator.integration-game-loop.test.ts
  packages/core/src/progression-coordinator.integration-hydration-errors.test.ts
  packages/core/src/progression-coordinator.integration-multi-cost-generator-errors.test.ts
  packages/core/src/progression-coordinator.integration-prestige-apply-1.test.ts
  packages/core/src/progression-coordinator.integration-prestige-apply-2.test.ts
  packages/core/src/progression-coordinator.integration-prestige-apply-3.test.ts
  packages/core/src/progression-coordinator.integration-prestige-confirmation-token.test.ts
  packages/core/src/progression-coordinator.integration-prestige-reset-command.test.ts
  packages/core/src/progression-coordinator.integration-prestige-reset-missing-entities.test.ts
  packages/core/src/progression-coordinator.integration-prestige-status.test.ts
  packages/core/src/progression-coordinator.integration-prestige-telemetry.test.ts
  packages/core/src/progression-coordinator.integration-upgrade-cost-errors.test.ts
  packages/core/src/progression-coordinator.integration-upgrade-emit-event-error-handling.test.ts
  packages/core/src/progression-coordinator.metric-state-building.test.ts
  packages/core/src/progression-coordinator.prestige-retention-targets.test.ts
  packages/core/src/progression-coordinator.test-helpers.ts
  packages/core/src/progression-coordinator.test.ts
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression-coordinator.unit-1.test.ts
  packages/core/src/progression-coordinator.unit-2.test.ts
  packages/core/src/progression-coordinator.upgrade-effects-capacity-and-unlocks.test.ts
  packages/core/src/progression-coordinator.upgrade-effects-costs-and-consumption.test.ts
  packages/core/src/progression-coordinator.upgrade-effects-flags-automation-and-events.test.ts
  packages/core/src/progression-coordinator.upgrade-effects-rates.test.ts
  packages/core/src/progression/achievement-tracker.ts
  packages/core/src/progression/formula-context.ts
  packages/core/src/progression/generator-manager.ts
  packages/core/src/progression/metric-manager.ts
  packages/core/src/progression/prestige-manager.ts
  packages/core/src/progression/progression-coordinator-types.ts
  packages/core/src/progression/progression-facade.ts
  packages/core/src/progression/progression-utils.ts
  packages/core/src/progression/resource-manager.ts
  packages/core/src/progression/upgrade-manager.ts
Due: lint, typecheck, build, test-core

test(core): move progression coordinator suite under __tests__
  docs/role-index.md
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.achievement-hydration-derived-rewards.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.achievement-reward-types.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.achievement-track-types.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-bulk-purchase.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-error-messages.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-game-loop.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-hydration-errors.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-multi-cost-generator-errors.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-apply-1.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-apply-2.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-apply-3.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-confirmation-token.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-reset-command.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-reset-missing-entities.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-status.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-prestige-telemetry.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-upgrade-cost-errors.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.integration-upgrade-emit-event-error-handling.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.metric-state-building.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.prestige-retention-targets.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.test-helpers.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.unit-1.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.unit-2.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.upgrade-effects-capacity-and-unlocks.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.upgrade-effects-costs-and-consumption.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.upgrade-effects-flags-automation-and-events.test.ts
  packages/core/src/__tests__/progression-coordinator/progression-coordinator.upgrade-effects-rates.test.ts
Due: lint, typecheck, build, test-core

docs(core): add JSDoc for progression modules
  packages/core/src/progression-coordinator.ts
  packages/core/src/progression/achievement-tracker.ts
  packages/core/src/progression/formula-context.ts
  packages/core/src/progression/generator-manager.ts
  packages/core/src/progression/metric-manager.ts
  packages/core/src/progression/prestige-manager.ts
  packages/core/src/progression/progression-coordinator-types.ts
  packages/core/src/progression/progression-facade.ts
  packages/core/src/progression/progression-utils.ts
  packages/core/src/progression/resource-manager.ts
  packages/core/src/progression/upgrade-manager.ts
Due: lint, typecheck, build, test-core

refactor(core): resolve SonarCloud findings
  packages/core/src/object-hasown.d.ts
  packages/core/src/progression/achievement-tracker.ts
  packages/core/src/progression/generator-manager.ts
  packages/core/src/progression/prestige-manager.ts
  packages/core/src/progression/progression-facade.ts
  packages/core/src/progression/progression-utils.ts
  packages/core/src/progression/resource-manager.ts
  packages/core/src/progression/upgrade-manager.ts
Due: lint, typecheck, build, test-core

fix(core): address SonarCloud issues
  packages/core/src/progression/achievement-tracker.ts
  packages/core/src/progression/generator-manager.ts
  packages/core/src/progression/upgrade-manager.ts
Due: lint, typecheck, build, test-core

fix(core): use optional chaining for upgrade cache
  packages/core/src/progression/upgrade-manager.ts
Due: lint, typecheck, build, test-core

docs(core): annotate entrypoint stability
  packages/core/src/index.browser.ts
  packages/core/src/internals.browser.ts
  packages/core/src/internals.ts
Due: lint, typecheck, build, test-core

test(core): lock public entrypoint surface
  packages/core/README.md
  packages/core/src/index.test.ts
Due: lint, typecheck, build, test-core

chore(eslint): restrict core internals imports
  packages/config-eslint/README.md
  packages/config-eslint/index.js
  packages/content-compiler/eslint.config.js
  packages/content-sample/eslint.config.js
  packages/controls/eslint.config.js
Due: lint, build, generate, test-content

chore: tighten core internals boundary guardrails
  docs/coverage/index.md
  packages/config-eslint/README.md
  packages/content-sample/eslint.config.js
  packages/controls/eslint.config.js
  packages/core/README.md
  packages/core/src/index.test.ts
Due: lint, typecheck, build, generate, test-core, test-content

chore: address SonarCloud findings
  docs/coverage/index.md
  packages/core/src/internals.browser.ts
  tools/economy-verification/src/index.ts
Due: lint, typecheck, build, test-core

chore(core): fix SonarCloud duplicate import
  packages/core/src/internals.browser.ts
Due: lint, typecheck, build, test-core

refactor(core): DRY ProductionSystem.runTick (Fixes #747)
  docs/coverage/index.md
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(core): prevent epsilon overspend in production ticks
  docs/coverage/index.md
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

test(core): add ProductionSystem flow equivalence tests
  docs/coverage/index.md
  packages/core/src/production-system-serialization.test.ts
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

fix(core): clamp ratios and export v2 accumulator keys
  docs/coverage/index.md
  packages/core/src/production-system-serialization.test.ts
  packages/core/src/production-system.test.ts
  packages/core/src/production-system.ts
Due: lint, typecheck, build, test-core

chore(sonar): resolve SonarCloud issues
  .gitignore
  docs/coverage/index.md
  packages/content-compiler/src/compiler/pipeline.ts
  packages/content-schema/src/balance.ts
  packages/content-schema/src/base/formulas.ts
  packages/content-schema/src/modules/automations.ts
  packages/content-schema/src/pack/validate-cycles.ts
  packages/controls/src/index.ts
  packages/core/benchmarks/diagnostic-timeline-overhead.bench.mjs
  packages/core/benchmarks/state-sync-checksum.bench.mjs
  packages/core/src/automation-system.ts
  packages/core/src/command-queue.ts
  packages/core/src/command-recorder.ts
  packages/core/src/command-transport-server.ts
  packages/core/src/condition-evaluator.ts
  packages/core/src/events/event-broadcast.ts
  packages/core/src/game-runtime-wiring.ts
  packages/core/src/game-state-save.ts
  packages/core/src/prestige-reset.ts
  packages/core/src/production-system.ts
  packages/core/src/progression-selectors.ts
  packages/core/src/progression.ts
  packages/core/src/resource-command-handlers.ts
  packages/core/src/resource-state.ts
  packages/core/src/rng.ts
  sonar-project.properties
  tools/coverage-report/index.ts
  tools/coverage-report/package.json
  tools/economy-verification/src/index.ts
  tools/runtime-sim/package.json
  tools/runtime-sim/src/index.ts
  tools/scripts/assert-json-tail.mjs
  tools/scripts/generate-version.mjs
  tools/scripts/run-workspace-benchmarks.mjs
  tools/scripts/validate-runtime-version.mjs
Due: lint, typecheck, build, generate, test-core, test-content
