Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

chore(shell-web): add typecheck script to package.json (refs #339)
  packages/shell-web/package.json
Due: lint, build, test-shell-a11y

chore(shell-web): fix typecheck regressions
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ErrorBoundary.test.tsx
  packages/shell-web/src/modules/ErrorBoundary.tsx
  packages/shell-web/src/modules/EventInspector.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/PersistencePanel.tsx
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/SocialDevPanel.tsx
  packages/shell-web/src/modules/condition-evaluator.test.ts
  packages/shell-web/src/modules/condition-evaluator.ts
  packages/shell-web/src/modules/process-shim.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/shell-analytics.test.ts
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
  packages/shell-web/src/modules/telemetry-utils.test.ts
  packages/shell-web/src/modules/test-helpers.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  packages/shell-web/src/types/css.d.ts
  packages/shell-web/src/vite-env.d.ts
  packages/shell-web/tsconfig.json
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): typecheck against workspace sources
  packages/shell-web/tsconfig.json
Due: lint, build, test-shell-a11y

chore(shell-web): fix typecheck regressions (#341)
  packages/shell-web/package.json
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/ErrorBoundary.test.tsx
  packages/shell-web/src/modules/ErrorBoundary.tsx
  packages/shell-web/src/modules/EventInspector.tsx
  packages/shell-web/src/modules/PersistenceIntegration.tsx
  packages/shell-web/src/modules/PersistencePanel.tsx
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ResourceDashboard.tsx
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/SocialDevPanel.tsx
  packages/shell-web/src/modules/condition-evaluator.test.ts
  packages/shell-web/src/modules/condition-evaluator.ts
  packages/shell-web/src/modules/process-shim.ts
  packages/shell-web/src/modules/progression-coordinator.test.ts
  packages/shell-web/src/modules/progression-coordinator.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/session-restore-migration.test.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/shell-analytics.test.ts
  packages/shell-web/src/modules/shell-state-store.test.ts
  packages/shell-web/src/modules/shell-state-store.ts
  packages/shell-web/src/modules/shell-state.types.ts
  packages/shell-web/src/modules/telemetry-utils.test.ts
  packages/shell-web/src/modules/test-helpers.ts
  packages/shell-web/src/modules/worker-bridge.test.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
  packages/shell-web/src/types/css.d.ts
  packages/shell-web/src/vite-env.d.ts
  packages/shell-web/tsconfig.json
Due: lint, typecheck, build, test-shell-a11y

chore: add workspace coverage runner
  package.json
  pnpm-lock.yaml
  tools/scripts/run-workspace-coverage.sh
Due: lint, build

chore: enable vitest coverage reporters
  package.json
  packages/config-vitest/index.js
  packages/content-compiler/package.json
  packages/content-sample/package.json
  packages/content-schema/package.json
  packages/core/package.json
  packages/shell-web/package.json
  pnpm-lock.yaml
  tools/scripts/run-workspace-coverage.sh
Due: lint, build, generate, test-core, test-content, test-shell-a11y

feat: add coverage report generator
  tools/coverage-report/__fixtures__/sample-summary.json
  tools/coverage-report/index.ts
  tools/coverage-report/lib.test.ts
  tools/coverage-report/lib.ts
Due: lint, typecheck, build

docs: publish coverage report
  .gitignore
  README.md
  docs/contributor-handbook.md
  docs/coverage/index.md
  packages/docs/sidebars.ts
  tools/coverage-report/lib.test.ts
  tools/coverage-report/lib.ts
Due: lint, typecheck, build

ci: enforce coverage report generation
  .github/workflows/ci.yml
  docs/coverage/index.md
  tools/coverage-report/index.ts
  tools/coverage-report/lib.test.ts
  tools/coverage-report/lib.ts
Due: lint, typecheck, build

docs: add coverage automation design
  docs/coverage-report-automation-design.md
Due: none

fix: run coverage across workspace
  tools/scripts/run-workspace-coverage.sh
Due: build

ci(node): run CI on Node 22.20.0 and align coverage docs\n\n- Pin actions/setup-node to Node 22.20.0 for deterministic coverage\n- Regenerate docs/coverage/index.md on Node 22 to match CI output
  .github/workflows/ci.yml
  docs/coverage/index.md
Due: none

chore(node): add .nvmrc (22.20.0) and document usage in README\n\nPin local Node to match CI for stable coverage; advise devs to run nvm use before coverage generation.
  .nvmrc
  README.md
Due: none

Automate Vitest Coverage posted to Docusaurus (#343)
  .github/workflows/ci.yml
  .github/workflows/docs-deploy.yml
  .github/workflows/docs-preview.yml
  .gitignore
  .nvmrc
  README.md
  docs/contributor-handbook.md
  docs/coverage-report-automation-design.md
  package.json
  packages/config-vitest/index.js
  packages/content-compiler/package.json
  packages/content-sample/package.json
  packages/content-schema/package.json
  packages/core/package.json
  packages/docs/sidebars.ts
  packages/shell-web/package.json
  pnpm-lock.yaml
  tools/coverage-report/__fixtures__/sample-summary.json
  tools/coverage-report/index.ts
  tools/coverage-report/lib.test.ts
  tools/coverage-report/lib.ts
  tools/scripts/run-workspace-coverage.sh
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

feat(shell-web): generator and upgrade interactions with optimistic UI, UpgradeModal, and telemetry handling
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/GeneratorPanel.module.css
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/GeneratorPanel.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/UpgradeModal.module.css
  packages/shell-web/src/modules/UpgradeModal.tsx
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

fix: limit optimistic resets to command errors
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
Due: lint, typecheck, build, test-shell-a11y

chore(shell-web): remove unused rerender vars in tests\n\nFix ESLint no-unused-vars warnings in ShellStateProvider.test.tsx to satisfy --max-warnings=0 for @idle-engine/shell-web lint.
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): include required step field in progression snapshot for typechecking
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): generator and upgrade interactions (#344)
  packages/shell-web/src/modules/App.tsx
  packages/shell-web/src/modules/GeneratorPanel.module.css
  packages/shell-web/src/modules/GeneratorPanel.test.tsx
  packages/shell-web/src/modules/GeneratorPanel.tsx
  packages/shell-web/src/modules/ResourceDashboard.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.telemetry.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.test.tsx
  packages/shell-web/src/modules/ShellStateProvider.tsx
  packages/shell-web/src/modules/UpgradeModal.module.css
  packages/shell-web/src/modules/UpgradeModal.tsx
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/shell-state.types.ts
Due: lint, typecheck, build, test-shell-a11y

docs(content-sample): enrich progression sample data with generators and upgrades; add tests and docs (Fixes #300)
  content/compiled/index.json
  packages/content-sample/README.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-upgrades.test.ts
Due: lint, typecheck, build, generate, test-content

chore(content-sample): exclude *.test.ts from build to keep CI Quality Gate green
  packages/content-sample/tsconfig.json
Due: lint, build, generate, test-content

test(shell-web): align runtime.worker progression snapshot expectation with enriched sample content (>=3 upgrades)
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

docs(content): enrich progression sample data (Fixes #300) (#345)
  content/compiled/index.json
  packages/content-sample/README.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-upgrades.test.ts
  packages/content-sample/tsconfig.json
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-content, test-shell-a11y

docs: align a11y smoke test design with template (Fixes #191) (#211)
  docs/accessibility-smoke-tests-design.md
Due: none

test(content-sample): validate sample automations cover all triggers (Fixes #327)
  packages/content-sample/src/sample-content-automations.test.ts
Due: lint, typecheck, build, generate, test-content

feat(content-sample): add system-target + resourceCost automations and sample runtime event (Fixes #327)
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/event-types.json
  packages/content-sample/content/events/sample-reactor-primed.schema.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-automations.test.ts
  packages/content-sample/src/sample-content-runtime-events.test.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
Due: lint, typecheck, build, generate, test-core, test-content

feat(content-sample): add research-daemon system-target and upgrade autobuy with resourceCost (Fixes #327)
  content/compiled/index.json
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
Due: lint, typecheck, build, generate, test-content

docs: fix docs build by checking in coverage/index.md and allowlist it in .gitignore
  .gitignore
  docs/coverage/index.md
Due: none

docs: add coverage regeneration workflow to AGENTS.md
  AGENTS.md
Due: none

test(shell-web): focus automation assertion on TOGGLE_GENERATOR commands
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(content-sample): guard sample:reactor-primed schema hash to enforce version bumps
  packages/content-sample/src/event-schema-version.guard.test.ts
Due: lint, typecheck, build, generate, test-content

test(content-sample): fix ESM path resolution using import.meta.url (__dirname)
  packages/content-sample/src/event-schema-version.guard.test.ts
Due: lint, typecheck, build, generate, test-content

fix(content-sample): remove offline-catchup automation without handler
  content/compiled/index.json
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-automations.test.ts
Due: lint, typecheck, build, generate, test-content

feat(content-sample): add example automations tests (Fixes #327) (#346)
  .gitignore
  AGENTS.md
  content/compiled/index.json
  docs/coverage/index.md
  packages/content-sample/content/compiled/@idle-engine/sample-pack.normalized.json
  packages/content-sample/content/event-types.json
  packages/content-sample/content/events/sample-reactor-primed.schema.json
  packages/content-sample/content/pack.json
  packages/content-sample/src/event-schema-version.guard.test.ts
  packages/content-sample/src/generated/@idle-engine/sample-pack.generated.ts
  packages/content-sample/src/sample-content-automations.test.ts
  packages/content-sample/src/sample-content-runtime-events.test.ts
  packages/core/src/events/__tests__/content-event-channels.test.ts
  packages/core/src/events/runtime-event-manifest.generated.ts
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y

docs: add design for automation resourceCost enforcement (issue-348)
  docs/automation-resource-cost-design-issue-348.md
Due: none

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, services/**/*.ts, services/**/*.tsx, tools/**/*.ts, tools/**/*.tsx, *.ts, *.tsx, tsconfig.base.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
