Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y, docs-content-dsl-guidelines, validate-runtime-version, validate-generated-version

lint:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

build:
  run: pnpm build

generate:
  run: pnpm generate --check

test-core:
  run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci

test-content:
  run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci

test-runtime-bridge-contracts:
  run: pnpm --filter @idle-engine/runtime-bridge-contracts run --if-present test:ci

test-shell-a11y:
  run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci

docs-content-dsl-guidelines:
  run: 'pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
  
    pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}
  
    '

validate-runtime-version:
  run: node tools/scripts/validate-runtime-version.mjs

validate-generated-version:
  run: node tools/scripts/generate-version.mjs --check

chore(core): codify benchmark expectations
  packages/core/benchmarks/event-broadcast-batching.bench.mjs
Due: lint, build, test-core

test(core): add event broadcast batch/deduper tests
  docs/coverage/index.md
  packages/core/src/events/event-broadcast.test.ts
  packages/core/src/events/event-broadcast.ts
Due: lint, typecheck, build, test-core

docs(core): add event broadcast design doc
  docs/runtime-event-broadcast-design-issue-547.md
Due: none

feat(core): add event broadcast streaming (#704)
  docs/coverage/index.md
  docs/runtime-event-broadcast-design-issue-547.md
  packages/core/README.md
  packages/core/benchmarks/event-broadcast-batching.bench.mjs
  packages/core/package.json
  packages/core/src/events/event-broadcast.test.ts
  packages/core/src/events/event-broadcast.ts
  packages/core/src/index.browser.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core, validate-runtime-version, validate-generated-version

docs: add controls contract design doc
  docs/controls-contract-design-issue-705.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

docs: add controls contract design doc (#707)
  docs/controls-contract-design-issue-705.md
  packages/docs/sidebars.ts
Due: lint, typecheck, build

chore(controls): scaffold package (Fixes #708)
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/eslint.config.js
  packages/controls/package.json
  packages/controls/src/index.ts
  packages/controls/tsconfig.json
  packages/controls/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

chore(controls): scaffold package (Fixes #708) (#713)
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/eslint.config.js
  packages/controls/package.json
  packages/controls/src/index.ts
  packages/controls/tsconfig.json
  packages/controls/vitest.config.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(controls): define control contracts
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js.map
  packages/controls/package.json
  packages/controls/src/index.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(controls): define control contracts (#714)
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js.map
  packages/controls/package.json
  packages/controls/src/index.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core, test-content, test-runtime-bridge-contracts, test-shell-a11y

feat(controls): add control helper mapping
  docs/coverage/index.md
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

chore(controls): update dist outputs
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
Due: lint, typecheck, build

feat(controls): reject duplicate action ids
  docs/controls-contract-design-issue-705.md
  docs/coverage/index.md
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

feat(controls): helper mapping (#715)
  docs/controls-contract-design-issue-705.md
  docs/coverage/index.md
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

feat(controls): normalize/validate schemes (Fixes #711)
  docs/coverage/index.md
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

fix(controls): stabilize scheme normalization
  docs/coverage/index.md
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

fix(controls): preserve binding order
  docs/coverage/index.md
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

feat(controls): normalize/validate schemes (#716)
  docs/coverage/index.md
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

test(controls): cover context priority default (Fixes #712)
  docs/coverage/index.md
  packages/controls/src/index.test.ts
Due: lint, typecheck, build

test(controls): cover context priority default (Fixes #712) (#718)
  docs/coverage/index.md
  packages/controls/src/index.test.ts
Due: lint, typecheck, build

fix(controls): clarify binding order semantics
  docs/controls-contract-design-issue-705.md
  docs/coverage/index.md
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

controls: clarify binding order semantics (#719)
  docs/controls-contract-design-issue-705.md
  docs/coverage/index.md
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

feat(controls): support dynamic payloads for control actions
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
Due: lint, typecheck, build

build(controls): rebuild dist/ and add sync verification
  .github/workflows/ci.yml
  lefthook.yml
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  tools/scripts/verify-dist-sync.mjs
Due: lint, typecheck, build

feat(controls): support dynamic payloads for control actions (#725)
  .github/workflows/ci.yml
  lefthook.yml
  packages/controls/dist/index.d.ts
  packages/controls/dist/index.d.ts.map
  packages/controls/dist/index.js
  packages/controls/dist/index.js.map
  packages/controls/src/index.test.ts
  packages/controls/src/index.ts
  tools/scripts/verify-dist-sync.mjs
Due: lint, typecheck, build

feat(events): default manifestHash in buildRuntimeEventFrame
  packages/core/src/events/event-bus.test.ts
  packages/core/src/events/runtime-event-frame.ts
Due: lint, typecheck, build, test-core

test(events): add manifestHash coverage and document build options
  packages/core/src/events/event-bus.test.ts
  packages/core/src/events/runtime-event-frame.ts
Due: lint, typecheck, build, test-core

feat(events): default manifestHash in buildRuntimeEventFrame (#727)
  packages/core/src/events/event-bus.test.ts
  packages/core/src/events/runtime-event-frame.ts
Due: lint, typecheck, build, test-core

feat(ci): add SonarCloud test coverage integration
  .github/workflows/ci.yml
  README.md
  sonar-project.properties
Due: none

chore(ci): pin SonarCloud action to full SHA
  .github/workflows/ci.yml
Due: none

fix(ci): upgrade SonarCloud action to v5
  .github/workflows/ci.yml
Due: none

fix(ci): add tsconfig paths for SonarCloud analysis
  sonar-project.properties
Due: none

chore(ci): switch to sonarqube-scan-action
  .github/workflows/ci.yml
Due: none

Path conditions:
  lint: any of: packages/**/*.js, packages/**/*.jsx, packages/**/*.ts, packages/**/*.tsx, packages/**/*.cjs, packages/**/*.mjs, packages/**/*.json, services/**/*.js, services/**/*.jsx, services/**/*.ts, services/**/*.tsx, services/**/*.cjs, services/**/*.mjs, services/**/*.json, tools/**/*.js, tools/**/*.jsx, tools/**/*.ts, tools/**/*.tsx, tools/**/*.cjs, tools/**/*.mjs, tools/**/*.json, *.cjs, *.mjs, *.js, *.ts, *.tsx, *.json
  typecheck: any of: packages/**/*.ts, packages/**/*.tsx, packages/**/tsconfig*.json, services/**/*.ts, services/**/*.tsx, services/**/tsconfig*.json, tools/**/*.ts, tools/**/*.tsx, tools/**/tsconfig*.json, *.ts, *.tsx, tsconfig.base.json, tsconfig*.json
  build: any of: packages/**, services/**, tools/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, tsconfig.base.json, but not: packages/**/README.md, services/**/README.md, tools/**/README.md
  generate: any of: content/**, packages/content-*/**, tools/content-*/**, packages/core/src/events/runtime-event-base-metadata.json, packages/core/src/events/runtime-event-manifest.generated.ts
  test-core: any of: packages/core/**, packages/config-vitest/**, services/social/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-content: any of: content/**, packages/config-vitest/**, packages/content-*/**, tools/content-*/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-runtime-bridge-contracts: any of: packages/runtime-bridge-contracts/**, packages/config-vitest/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  test-shell-a11y: any of: packages/shell-web/**, tools/a11y-smoke-tests/**, package.json, pnpm-lock.yaml, pnpm-workspace.yaml, .npmrc
  docs-content-dsl-guidelines: any of: docs/content-dsl-usage-guidelines-design.md
  validate-runtime-version: any of: packages/core/package.json, packages/core/src/version.ts
  validate-generated-version: any of: packages/core/package.json, packages/core/src/version.ts
