Repository hansjm10/Idle-Game-Engine: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, build, generate, test-core, test-content, test-shell-a11y, docs-content-dsl-guidelines

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - "packages/**/*.js"
        - "packages/**/*.jsx"
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "packages/**/*.cjs"
        - "packages/**/*.mjs"
        - "packages/**/*.json"
        - "services/**/*.js"
        - "services/**/*.jsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "services/**/*.cjs"
        - "services/**/*.mjs"
        - "services/**/*.json"
        - "tools/**/*.js"
        - "tools/**/*.jsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "tools/**/*.cjs"
        - "tools/**/*.mjs"
        - "tools/**/*.json"
        - "*.cjs"
        - "*.mjs"
        - "*.js"
        - "*.ts"
        - "*.tsx"
        - "*.json"
      run: pnpm lint
    typecheck:
      glob:
        - "packages/**/*.ts"
        - "packages/**/*.tsx"
        - "services/**/*.ts"
        - "services/**/*.tsx"
        - "tools/**/*.ts"
        - "tools/**/*.tsx"
        - "*.ts"
        - "*.tsx"
        - "tsconfig.base.json"
      run: pnpm typecheck
    build:
      glob:
        - "packages/**"
        - "services/**"
        - "tools/**"
        - "package.json"
        - "pnpm-lock.yaml"
        - "pnpm-workspace.yaml"
        - "tsconfig.base.json"
      exclude:
        - "packages/**/README.md"
        - "services/**/README.md"
        - "tools/**/README.md"
      run: pnpm build
    generate:
      glob:
        - "content/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm generate --check
    test-core:
      glob:
        - "packages/core/**"
        - "packages/config-vitest/**"
        - "services/social/**"
      run: pnpm --filter @idle-engine/core --filter @idle-engine/social-service run --if-present test:ci
    test-content:
      glob:
        - "content/**"
        - "packages/config-vitest/**"
        - "packages/content-*/**"
        - "tools/content-*/**"
      run: pnpm --filter @idle-engine/content-compiler --filter @idle-engine/content-schema --filter @idle-engine/content-sample --filter @idle-engine/content-validation-cli run --if-present test:ci
    test-shell-a11y:
      glob:
        - "packages/shell-web/**"
        - "tools/a11y-smoke-tests/**"
      run: pnpm --filter @idle-engine/a11y-smoke-tests run test:ci
    docs-content-dsl-guidelines:
      glob: docs/content-dsl-usage-guidelines-design.md
      run: |
        pnpm exec markdownlint --config packages/docs/.markdownlint.jsonc {staged_files}
        pnpm exec markdown-link-check --config packages/docs/markdown-link-check.json {staged_files}

feat(shell-web): import createAutomationSystem from core
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): integrate AutomationSystem into runtime worker
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): skip automation Test 2 pending command handler
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): update test for AutomationSystem command enqueueing
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(core): add failing test for ResourceState adapter
  packages/core/src/automation-resource-state-adapter.test.ts
Due: lint, typecheck, build, test-core

feat(core): add ResourceState adapter for AutomationSystem
  packages/core/src/automation-resource-state-adapter.ts
Due: lint, typecheck, build, test-core

feat(core): export ResourceState adapter
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

fix(shell-web): use ResourceState adapter for AutomationSystem
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): add integration test for automation resource resolution
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): strengthen automation adapter test assertion
  packages/shell-web/src/runtime.worker.test.ts
Due: lint, typecheck, build, test-shell-a11y

docs(core): document ResourceState adapter pattern
  docs/automation-system-api.md
Due: none

feat(core): integrate AutomationSystem into runtime (#332)
  docs/automation-system-api.md
  packages/core/src/automation-resource-state-adapter.test.ts
  packages/core/src/automation-resource-state-adapter.ts
  packages/core/src/index.ts
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): add TOGGLE_AUTOMATION command type constant
  packages/core/src/__tests__/command-types.test.ts
  packages/core/src/command.ts
Due: lint, typecheck, build, test-core

feat(core): implement TOGGLE_AUTOMATION command handler
  packages/core/src/automation-command-handlers.test.ts
  packages/core/src/automation-command-handlers.ts
  packages/core/src/index.ts
Due: lint, typecheck, build, test-core

feat(shell-web): register automation command handlers in runtime worker
  packages/shell-web/src/__tests__/runtime-worker-automation-toggle.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): add end-to-end toggle automation test
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
Due: lint, typecheck, build, test-shell-a11y

fix(shell-web): add state verification to toggle automation test
  game-design-doc.zip
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(core): add automation toggle command handler (#333)
  game-design-doc.zip
  packages/core/src/__tests__/command-types.test.ts
  packages/core/src/automation-command-handlers.test.ts
  packages/core/src/automation-command-handlers.ts
  packages/core/src/command.ts
  packages/core/src/index.ts
  packages/shell-web/src/__tests__/runtime-worker-automation-integration.test.ts
  packages/shell-web/src/__tests__/runtime-worker-automation-toggle.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

test(core): add property-based tests batch 1-2 (WIP)
  packages/core/package.json
  packages/core/src/__tests__/automation-system.property.test.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core

test(core): complete property-based tests for AutomationSystem
  packages/core/src/__tests__/automation-system.property.test.ts
Due: lint, typecheck, build, test-core

test(core): add comprehensive property-based tests for AutomationSystem (#334)
  packages/core/package.json
  packages/core/src/__tests__/automation-system.property.test.ts
  pnpm-lock.yaml
Due: lint, typecheck, build, test-core

feat(shell-web): automation state migration (#326)
  packages/core/src/index.ts
  packages/core/src/progression.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(core): add automationState to SerializedResourceState
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(core): remove duplicate AutomationState interface and add edge case tests
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

feat(shell-web): include automation state in session snapshots
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): add automation state migration for old saves
  packages/shell-web/src/migrations/automation-state-migration.test.ts
  packages/shell-web/src/migrations/automation-state-migration.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): restore automation state from snapshots
  packages/core/src/automation-system.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

feat(shell-web): apply automation state migration on restore
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
Due: lint, typecheck, build, test-shell-a11y

test(shell-web): add integration test for automation state migration
  packages/shell-web/src/__tests__/automation-state-migration-integration.test.ts
Due: lint, typecheck, build, test-shell-a11y

feat: export AutomationState type and migration function
  packages/core/src/index.test.ts
  packages/shell-web/src/modules/index.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): import AutomationState from public API in test
  packages/core/src/index.test.ts
Due: lint, typecheck, build, test-core

fix(core): fix AutomationSystem state restoration to use merge strategy
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/resource-state.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y

fix(core): fix import statement to satisfy linter
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

test(shell-web): fix session restore expectations
  packages/shell-web/src/modules/session-persistence-integration.test.ts
Due: lint, typecheck, build, test-shell-a11y

test: allow saved worker step in restore expectation
  packages/shell-web/src/modules/session-restore.test.ts
Due: lint, typecheck, build, test-shell-a11y

fix(core): extract SerializedAutomationState type and fix restoreState signature
  docs/automation-system-api.md
  docs/resource-state-storage-design.md
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/index.ts
  packages/core/src/resource-state.ts
Due: lint, typecheck, build, test-core

fix(shell-web): update resourceCount calculation in runtime worker
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-shell-a11y

feat(shell-web): automation state migration (#326) (#336)
  docs/automation-system-api.md
  docs/resource-state-storage-design.md
  packages/core/src/automation-system.test.ts
  packages/core/src/automation-system.ts
  packages/core/src/index.test.ts
  packages/core/src/index.ts
  packages/core/src/resource-state.test.ts
  packages/core/src/resource-state.ts
  packages/shell-web/src/__tests__/automation-state-migration-integration.test.ts
  packages/shell-web/src/migrations/automation-state-migration.test.ts
  packages/shell-web/src/migrations/automation-state-migration.ts
  packages/shell-web/src/modules/index.ts
  packages/shell-web/src/modules/runtime-worker-protocol.ts
  packages/shell-web/src/modules/session-persistence-integration.test.ts
  packages/shell-web/src/modules/session-restore.test.ts
  packages/shell-web/src/modules/session-restore.ts
  packages/shell-web/src/modules/worker-bridge.ts
  packages/shell-web/src/runtime.worker.test.ts
  packages/shell-web/src/runtime.worker.ts
Due: lint, typecheck, build, test-core, test-shell-a11y
